/*
All colors are taken from Radix
https://www.radix-ui.com/colors/docs/palette-composition/scales

In Tailwind v4, consuming apps should import Tailwind in their own CSS.
This file only provides color variable definitions.
*/

@layer base {
  :root {
    /* Gray */
    --gray-1: oklch(99.241% 0 89.876);
    --gray-2: oklch(98.481% 0 89.876);
    --gray-3: oklch(95.424% 0 89.876);
    --gray-4: oklch(93.115% 0 89.876);
    --gray-5: oklch(90.792% 0 89.876);
    --gray-6: oklch(88.454% 0 89.876);
    --gray-7: oklch(85.312% 0 89.876);
    --gray-8: oklch(78.939% 0 89.876);
    --gray-9: oklch(64.092% 0 89.876);
    --gray-10: oklch(60.679% 0 89.876);
    --gray-11: oklch(50.129% 0 89.876);
    --gray-12: oklch(24.839% 0 89.876);

    /* GrayA (Slate A) */
    --grayA-1: oklch(20.598% 0.1427 264.052 / 0.01);
    --grayA-2: oklch(20.598% 0.1427 264.052 / 0.02);
    --grayA-3: oklch(14.514% 0.1006 264.052 / 0.06);
    --grayA-4: oklch(13.596% 0.0942 264.052 / 0.09);
    --grayA-5: oklch(16.994% 0.0842 262.822 / 0.12);
    --grayA-6: oklch(13.596% 0.0942 264.052 / 0.15);
    --grayA-7: oklch(15.501% 0.0815 263.389 / 0.2);
    --grayA-8: oklch(15.91% 0.0789 262.836 / 0.27);
    --grayA-9: oklch(13.098% 0.059 261.63 / 0.45);
    --grayA-10: oklch(13.14% 0.0461 256.727 / 0.5);
    --grayA-11: oklch(12.752% 0.0362 250.127 / 0.62);
    --grayA-12: oklch(11.167% 0.022 229.051 / 0.89);

    /* Base (Base A) */
    --base-1: oklch(100% 0 89.876 / 0.01);
    --base-2: oklch(100% 0 89.876 / 0.03);
    --base-3: oklch(100% 0 89.876 / 0.06);
    --base-4: oklch(100% 0 89.876 / 0.1);
    --base-5: oklch(100% 0 89.876 / 0.15);
    --base-6: oklch(100% 0 89.876 / 0.25);
    --base-7: oklch(100% 0 89.876 / 0.35);
    --base-8: oklch(100% 0 89.876 / 0.5);
    --base-9: oklch(100% 0 89.876 / 0.65);
    --base-10: oklch(100% 0 89.876 / 0.8);
    --base-11: oklch(100% 0 89.876 / 0.9);
    --base-12: oklch(100% 0 89.876 / 1);

    /* Teal */
    --success-1: oklch(99.469% 0.0038 179.757);
    --success-2: oklch(98.235% 0.0084 179.619);
    --success-3: oklch(96.253% 0.0244 181.349);
    --success-4: oklch(93.584% 0.041 179.669);
    --success-5: oklch(89.944% 0.0527 181.485);
    --success-6: oklch(85.514% 0.0646 180.929);
    --success-7: oklch(79.774% 0.0766 182.614);
    --success-8: oklch(72.361% 0.0963 183.688);
    --success-9: oklch(64.977% 0.1137 181.877);
    --success-10: oklch(62.138% 0.1097 181.588);
    --success-11: oklch(55.096% 0.1006 179.016);
    --success-12: oklch(33.451% 0.0519 185.337);

    /* TealA */
    --successA-1: oklch(75% 0.1539 166.913 / 0.02);
    --successA-2: oklch(65.018% 0.1329 167.206 / 0.05);
    --successA-3: oklch(73.854% 0.1438 171.555 / 0.13);
    --successA-4: oklch(72.438% 0.141 171.589 / 0.2);
    --successA-5: oklch(69.583% 0.1354 171.662 / 0.28);
    --successA-6: oklch(65.325% 0.1249 173.433 / 0.37);
    --successA-7: oklch(60.907% 0.1163 173.574 / 0.49);
    --successA-8: oklch(60.983% 0.1147 175.271 / 0.67);
    --successA-9: oklch(62.709% 0.1133 180.651 / 0.93);
    --successA-10: oklch(61.302% 0.1094 182.592 / 1);
    --successA-11: oklch(53.629% 0.0967 180.904 / 1);
    --successA-12: oklch(28.724% 0.0529 177.807 / 0.94);

    /* Orange */
    --orange-1: oklch(99.216% 0.0026 48.719);
    --orange-2: oklch(97.671% 0.0178 73.077);
    --orange-3: oklch(95.907% 0.0371 79.803);
    --orange-4: oklch(91.723% 0.0672 74.233);
    --orange-5: oklch(88.789% 0.0885 71.892);
    --orange-6: oklch(85.009% 0.1089 65.472);
    --orange-7: oklch(80.766% 0.1113 59.591);
    --orange-8: oklch(74.53% 0.1322 54.633);
    --orange-9: oklch(69.325% 0.1885 45.607);
    --orange-10: oklch(66.456% 0.1945 43.649);
    --orange-11: oklch(58.575% 0.1741 42.81);
    --orange-12: oklch(34.988% 0.0684 40.453);

    /* OrangeA */
    --orangeA-1: oklch(55.224% 0.1752 39.483 / 0.02);
    --orangeA-2: oklch(67.589% 0.2175 38.802 / 0.06);
    --orangeA-3: oklch(69.052% 0.2076 42.209 / 0.13);
    --orangeA-4: oklch(68.545% 0.2109 41.001 / 0.25);
    --orangeA-5: oklch(68.545% 0.2109 41.001 / 0.33);
    --orangeA-6: oklch(68.057% 0.2142 39.866 / 0.42);
    --orangeA-7: oklch(66.141% 0.2172 37.85 / 0.49);
    --orangeA-8: oklch(62.097% 0.2031 38.036 / 0.61);
    --orangeA-9: oklch(66.99% 0.201 42.309 / 0.92);
    --orangeA-10: oklch(65.407% 0.1913 43.706 / 1);
    --orangeA-11: oklch(59.203% 0.1803 41.511 / 1);
    --orangeA-12: oklch(26.517% 0.0773 43.887 / 0.9);

    /* Amber */
    --warning-1: oklch(99.414% 0.0029 84.559);
    --warning-2: oklch(98.366% 0.0261 98.676);
    --warning-3: oklch(96.919% 0.0685 100.25);
    --warning-4: oklch(94.67% 0.1019 98.268);
    --warning-5: oklch(91.877% 0.1306 98.245);
    --warning-6: oklch(87.765% 0.123 92.799);
    --warning-7: oklch(82.612% 0.1214 86.364);
    --warning-8: oklch(75.842% 0.1404 76.685);
    --warning-9: oklch(85.344% 0.1571 84.032);
    --warning-10: oklch(83.161% 0.1676 80.857);
    --warning-11: oklch(57.597% 0.1306 63.704);
    --warning-12: oklch(35.064% 0.0486 54.159);

    /* AmberA */
    --warningA-1: oklch(65.404% 0.1386 73.984 / 0.02);
    --warningA-2: oklch(84.884% 0.1737 86.307 / 0.08);
    --warningA-3: oklch(85.699% 0.1752 88.369 / 0.24);
    --warningA-4: oklch(84.884% 0.1737 86.307 / 0.37);
    --warningA-5: oklch(84.076% 0.1725 84.201 / 0.5);
    --warningA-6: oklch(79.709% 0.1678 75.525 / 0.52);
    --warningA-7: oklch(71.643% 0.1521 73.639 / 0.57);
    --warningA-8: oklch(67.292% 0.1413 76.089 / 0.73);
    --warningA-9: oklch(84.076% 0.1725 84.201 / 0.82);
    --warningA-10: oklch(80.472% 0.1679 77.731 / 0.78);
    --warningA-11: oklch(56.641% 0.117 81.128 / 1);
    --warningA-12: oklch(25.203% 0.0518 83.447 / 0.87);

    /* Tomato */
    --error-1: oklch(98.872% 0.0054 17.249);
    --error-2: oklch(97.977% 0.0098 26.508);
    --error-3: oklch(95.288% 0.022 31.101);
    --error-4: oklch(91.751% 0.043 34.327);
    --error-5: oklch(88.896% 0.0591 32.834);
    --error-6: oklch(85.444% 0.0762 32.962);
    --error-7: oklch(80.255% 0.0939 31.723);
    --error-8: oklch(73.749% 0.1206 32.17);
    --error-9: oklch(62.708% 0.194 33.201);
    --error-10: oklch(60.534% 0.1937 33.156);
    --error-11: oklch(56.619% 0.1976 32.784);
    --error-12: oklch(34.51% 0.0799 30.552);

    /* TomatoA */
    --errorA-1: oklch(62.796% 0.2577 29.234 / 0.01);
    --errorA-2: oklch(63.697% 0.2492 30.851 / 0.03);
    --errorA-3: oklch(62.431% 0.2356 32.153 / 0.09);
    --errorA-4: oklch(64.632% 0.2409 32.615 / 0.17);
    --errorA-5: oklch(64.632% 0.2409 32.615 / 0.24);
    --errorA-6: oklch(63.664% 0.2371 32.643 / 0.32);
    --errorA-7: oklch(59.755% 0.2218 32.767 / 0.41);
    --errorA-8: oklch(57.531% 0.2162 32.306 / 0.52);
    --errorA-9: oklch(58.291% 0.2222 31.794 / 0.82);
    --errorA-10: oklch(55.324% 0.2103 31.893 / 0.89);
    --errorA-11: oklch(54.543% 0.2044 32.419 / 0.91);
    --errorA-12: oklch(26.595% 0.0898 36.593 / 0.89);

    /* Violet */
    --feature-1: oklch(99.029% 0.0036 308.42);
    --feature-2: oklch(98.734% 0.0069 299.185);
    --feature-3: oklch(96.383% 0.0183 298.978);
    --feature-4: oklch(93.637% 0.0349 297.913);
    --feature-5: oklch(90.952% 0.0489 295.34);
    --feature-6: oklch(85.94% 0.0748 293.937);
    --feature-7: oklch(81.177% 0.0873 293.531);
    --feature-8: oklch(72.58% 0.1214 292.282);
    --feature-9: oklch(53.682% 0.1816 287.883);
    --feature-10: oklch(51.583% 0.1751 287.846);
    --feature-11: oklch(50.796% 0.1593 288.619);
    --feature-12: oklch(31.16% 0.0976 286.13);

    /* VioletA */
    --featureA-1: oklch(33.113% 0.2294 264.052 / 0.01);
    --featureA-2: oklch(45.201% 0.3132 264.052 / 0.02);
    --featureA-3: oklch(45.455% 0.3113 265.256 / 0.05);
    --featureA-4: oklch(45.38% 0.3118 264.901 / 0.1);
    --featureA-5: oklch(45.546% 0.3106 265.681 / 0.15);
    --featureA-6: oklch(45.546% 0.3106 265.681 / 0.2);
    --featureA-7: oklch(42.088% 0.2866 265.831 / 0.28);
    --featureA-8: oklch(40.194% 0.2705 267.076 / 0.39);
    --featureA-9: oklch(36.612% 0.2366 271.605 / 0.66);
    --featureA-10: oklch(31.343% 0.2012 272.424 / 0.7);
    --featureA-11: oklch(31.953% 0.2071 271.297 / 0.69);
    --featureA-12: oklch(18.263% 0.1134 276.534 / 0.85);

    /* Blue */
    --info-1: oklch(99.12% 0.0043 247.867);
    --info-2: oklch(98.341% 0.0086 242.308);
    --info-3: oklch(96.045% 0.0196 238.655);
    --info-4: oklch(93.961% 0.034 235.058);
    --info-5: oklch(90.388% 0.0516 241.117);
    --info-6: oklch(86.218% 0.0687 243.328);
    --info-7: oklch(80.743% 0.0891 243.881);
    --info-8: oklch(72.969% 0.123 243.745);
    --info-9: oklch(65.038% 0.1925 251.625);
    --info-10: oklch(61.817% 0.185 252.286);
    --info-11: oklch(55.605% 0.1623 252.204);
    --info-12: oklch(32.499% 0.0964 258.678);

    /* Default activity/requests color for dashboard charts (#2E90FA) */
    --activity: oklch(65.269% 0.1799 253.701);

    /* BlueA */
    --infoA-1: oklch(61.412% 0.2114 256.215 / 0.02);
    --infoA-2: oklch(64.117% 0.1971 252.9 / 0.04);
    --infoA-3: oklch(58.813% 0.2261 258.828 / 0.09);
    --infoA-4: oklch(63.205% 0.2018 254.088 / 0.15);
    --infoA-5: oklch(61.412% 0.2114 256.215 / 0.22);
    --infoA-6: oklch(59.666% 0.2212 258.03 / 0.3);
    --infoA-7: oklch(57.023% 0.2106 257.941 / 0.41);
    --infoA-8: oklch(56.135% 0.207 257.909 / 0.57);
    --infoA-9: oklch(65.038% 0.1925 251.625 / 1);
    --infoA-10: oklch(61.164% 0.1802 251.47 / 1);
    --infoA-11: oklch(55.792% 0.1833 254.93 / 1);
    --infoA-12: oklch(32.104% 0.0943 251.367 / 1);

    /* Slate */
    /* Brand */
    --accent-1: oklch(99.117% 0.0013 286.376);
    --accent-2: oklch(98.233% 0.0027 286.35);
    --accent-3: oklch(95.848% 0.0037 286.329);
    --accent-4: oklch(93.386% 0.0055 286.293);
    --accent-5: oklch(91.011% 0.007 277.153);
    --accent-6: oklch(88.35% 0.0097 286.199);
    --accent-7: oklch(85.169% 0.0112 280.122);
    --accent-8: oklch(79.319% 0.0154 278.031);
    --accent-9: oklch(64.455% 0.0167 277.93);
    --accent-10: oklch(61.385% 0.0142 272.406);
    --accent-11: oklch(50.234% 0.0139 264.442);
    --accent-12: oklch(24.583% 0.0104 248.25);

    /* Light theme - Red */
    --red-1: oklch(98.872% 0.0054 17.249);
    --red-2: oklch(97.748% 0.011 17.344);
    --red-3: oklch(95.665% 0.0202 14.029);
    --red-4: oklch(92.242% 0.0398 15.616);
    --red-5: oklch(88.99% 0.058 17.18);
    --red-6: oklch(86.039% 0.072 17.55);
    --red-7: oklch(80.738% 0.0883 18.089);
    --red-8: oklch(74.491% 0.113 19.049);
    --red-9: oklch(62.542% 0.1931 22.937);
    --red-10: oklch(59.723% 0.1949 23.691);
    --red-11: oklch(55.712% 0.1978 25.085);
    --red-12: oklch(33.796% 0.109 17.028);

    /* Light theme - RedA */
    --redA-1: oklch(62.796% 0.2577 29.234 / 0.01);
    --redA-2: oklch(62.796% 0.2577 29.234 / 0.03);
    --redA-3: oklch(63.02% 0.2555 29.629 / 0.08);
    --redA-4: oklch(63.229% 0.2536 30.001 / 0.15);
    --redA-5: oklch(63.115% 0.2547 29.797 / 0.21);
    --redA-6: oklch(62.162% 0.2507 29.808 / 0.27);
    --redA-7: oklch(58.031% 0.2345 29.649 / 0.35);
    --redA-8: oklch(55.295% 0.2236 29.719 / 0.45);
    --redA-9: oklch(56.058% 0.2296 28.668 / 0.72);
    --redA-10: oklch(53.112% 0.2173 28.309 / 0.78);
    --redA-11: oklch(51.13% 0.2089 27.901 / 0.82);
    --redA-12: oklch(27.486% 0.1122 27.469 / 0.91);

    /* Light theme - Grass */
    --grass-1: oklch(99.381% 0.0051 145.537);
    --grass-2: oklch(98.025% 0.0111 145.49);
    --grass-3: oklch(96.041% 0.0217 145.403);
    --grass-4: oklch(93.529% 0.0378 146.655);
    --grass-5: oklch(90.091% 0.0513 146.03);
    --grass-6: oklch(85.489% 0.0723 146.666);
    --grass-7: oklch(79.485% 0.0954 147.146);
    --grass-8: oklch(71.554% 0.1306 148.312);
    --grass-9: oklch(64.655% 0.146 147.332);
    --grass-10: oklch(62.033% 0.1438 147.183);
    --grass-11: oklch(52.687% 0.1298 147.137);
    --grass-12: oklch(32.573% 0.0521 148.772);

    /* Light theme - GrassA */
    --grassA-1: oklch(70.479% 0.2398 142.495 / 0.02);
    --grassA-2: oklch(59.26% 0.1942 143.657 / 0.04);
    --grassA-3: oklch(63.497% 0.2138 142.813 / 0.09);
    --grassA-4: oklch(59.194% 0.1997 142.762 / 0.15);
    --grassA-5: oklch(59.208% 0.1985 142.948 / 0.22);
    --grassA-6: oklch(57.766% 0.1928 143.077 / 0.3);
    --grassA-7: oklch(54.649% 0.1819 143.132 / 0.42);
    --grassA-8: oklch(54.87% 0.1803 143.563 / 0.6);
    --grassA-9: oklch(53.416% 0.1733 143.977 / 0.73);
    --grassA-10: oklch(50.441% 0.1621 144.282 / 0.76);
    --grassA-11: oklch(44.337% 0.1404 144.77 / 0.84);
    --grassA-12: oklch(20.674% 0.0632 146.002 / 0.87);

    /* Light theme - Blue */
    --blue-1: oklch(99.12% 0.0043 247.867);
    --blue-2: oklch(98.341% 0.0086 242.308);
    --blue-3: oklch(96.045% 0.0196 238.655);
    --blue-4: oklch(93.961% 0.034 235.058);
    --blue-5: oklch(90.388% 0.0516 241.117);
    --blue-6: oklch(86.218% 0.0687 243.328);
    --blue-7: oklch(80.743% 0.0891 243.881);
    --blue-8: oklch(72.969% 0.123 243.745);
    --blue-9: oklch(65.038% 0.1925 251.625);
    --blue-10: oklch(61.817% 0.185 252.286);
    --blue-11: oklch(55.605% 0.1623 252.204);
    --blue-12: oklch(32.499% 0.0964 258.678);

    /* Light theme - BlueA */
    --blueA-1: oklch(61.412% 0.2114 256.215 / 0.02);
    --blueA-2: oklch(64.117% 0.1971 252.9 / 0.04);
    --blueA-3: oklch(58.813% 0.2261 258.828 / 0.09);
    --blueA-4: oklch(63.205% 0.2018 254.088 / 0.15);
    --blueA-5: oklch(61.412% 0.2114 256.215 / 0.22);
    --blueA-6: oklch(59.666% 0.2212 258.03 / 0.3);
    --blueA-7: oklch(57.023% 0.2106 257.941 / 0.41);
    --blueA-8: oklch(56.135% 0.207 257.909 / 0.57);
    --blueA-9: oklch(65.038% 0.1925 251.625 / 1);
    --blueA-10: oklch(61.164% 0.1802 251.47 / 1);
    --blueA-11: oklch(55.792% 0.1833 254.93 / 1);
    --blueA-12: oklch(32.104% 0.0943 251.367 / 1);

    --blackA-1: oklch(0% 0 0 / 0.05);
    --blackA-2: oklch(0% 0 0 / 0.1);
    --blackA-3: oklch(0% 0 0 / 0.15);
    --blackA-4: oklch(0% 0 0 / 0.2);
    --blackA-5: oklch(0% 0 0 / 0.3);
    --blackA-6: oklch(0% 0 0 / 0.4);
    --blackA-7: oklch(0% 0 0 / 0.5);
    --blackA-8: oklch(0% 0 0 / 0.6);
    --blackA-9: oklch(0% 0 0 / 0.7);
    --blackA-10: oklch(0% 0 0 / 0.8);
    --blackA-11: oklch(0% 0 0 / 0.9);
    --blackA-12: oklch(0% 0 0 / 0.95);

    /* WhiteA (Light theme) */
    --whiteA-1: oklch(100% 0 89.876 / 0.05);
    --whiteA-2: oklch(100% 0 89.876 / 0.1);
    --whiteA-3: oklch(100% 0 89.876 / 0.15);
    --whiteA-4: oklch(100% 0 89.876 / 0.2);
    --whiteA-5: oklch(100% 0 89.876 / 0.3);
    --whiteA-6: oklch(100% 0 89.876 / 0.4);
    --whiteA-7: oklch(100% 0 89.876 / 0.5);
    --whiteA-8: oklch(100% 0 89.876 / 0.6);
    --whiteA-9: oklch(100% 0 89.876 / 0.7);
    --whiteA-10: oklch(100% 0 89.876 / 0.8);
    --whiteA-11: oklch(100% 0 89.876 / 0.9);
    --whiteA-12: oklch(100% 0 89.876 / 0.95);

    --cyan-1: oklch(99.326% 0.003 219.528 / 1);
    --cyan-2: oklch(98.137% 0.0077 206.394 / 1);
    --cyan-3: oklch(95.706% 0.0275 201.927 / 1);
    --cyan-4: oklch(93.266% 0.0403 206.264 / 1);
    --cyan-5: oklch(90.293% 0.0525 206.256 / 1);
    --cyan-6: oklch(85.801% 0.0665 207.959 / 1);
    --cyan-7: oklch(80.644% 0.0813 209.968 / 1);
    --cyan-8: oklch(72.932% 0.1093 211.739 / 1);
    --cyan-9: oklch(66.106% 0.1215 221.354 / 1);
    --cyan-10: oklch(63.527% 0.115 220.442 / 1);
    --cyan-11: oklch(54.723% 0.0968 220.962 / 1);
    --cyan-12: oklch(33.593% 0.0533 218.394 / 1);

    --bronze-1: oklch(99.167% 0.0011 17.178 / 1);
    --bronze-2: oklch(98.317% 0.006 39.469 / 1);
    --bronze-3: oklch(95.135% 0.0108 39.437 / 1);
    --bronze-4: oklch(92.957% 0.013 46.701 / 1);
    --bronze-5: oklch(89.757% 0.0168 44.798 / 1);
    --bronze-6: oklch(85.764% 0.0237 44.72 / 1);
    --bronze-7: oklch(80.843% 0.0302 42.837 / 1);
    --bronze-8: oklch(74.185% 0.0387 40.998 / 1);
    --bronze-9: oklch(62.829% 0.0458 44.389 / 1);
    --bronze-10: oklch(59.114% 0.0464 40.907 / 1);
    --bronze-11: oklch(51.148% 0.0445 39.226 / 1);
    --bronze-12: oklch(33.316% 0.0303 34.482 / 1);
  }

  .dark {
    /* Gray Dark */
    --gray-1: oklch(18.152% 0 89.876);
    --gray-2: oklch(21.561% 0 89.876);
    --gray-3: oklch(24.839% 0 89.876);
    --gray-4: oklch(28.012% 0 89.876);
    --gray-5: oklch(31.098% 0 89.876);
    --gray-6: oklch(35.097% 0 89.876);
    --gray-7: oklch(39.942% 0 89.876);
    --gray-8: oklch(49.225% 0 89.876);
    --gray-9: oklch(53.702% 0 89.876);
    --gray-10: oklch(58.087% 0 89.876);
    --gray-11: oklch(77.326% 0 89.876);
    --gray-12: oklch(94.656% 0 89.876);

    /* SlateA */
    --grayA-1: oklch(0% 0 0 / 1);
    --grayA-2: oklch(94.96% 0.0279 201.922 / 0.04);
    --grayA-3: oklch(93.19% 0.0235 249.878 / 0.08);
    --grayA-4: oklch(93.031% 0.0314 225.414 / 0.11);
    --grayA-5: oklch(93.302% 0.033 244.529 / 0.15);
    --grayA-6: oklch(93.322% 0.0316 244.51 / 0.19);
    --grayA-7: oklch(94.11% 0.0303 244.49 / 0.27);
    --grayA-8: oklch(94.11% 0.0303 244.49 / 0.36);
    --grayA-9: oklch(93.333% 0.0289 258.366 / 0.43);
    --grayA-10: oklch(94.97% 0.0212 264.467 / 0.48);
    --grayA-11: oklch(97.322% 0.0116 251.546 / 0.71);
    --grayA-12: oklch(98.955% 0.0049 264.536 / 0.95);

    --base-1: oklch(0% 0 0 / 0.01);
    --base-2: oklch(0% 0 0 / 0.03);
    --base-3: oklch(0% 0 0 / 0.06);
    --base-4: oklch(0% 0 0 / 0.1);
    --base-5: oklch(0% 0 0 / 0.15);
    --base-6: oklch(0% 0 0 / 0.25);
    --base-7: oklch(0% 0 0 / 0.35);
    --base-8: oklch(0% 0 0 / 0.5);
    --base-9: oklch(0% 0 0 / 0.65);
    --base-10: oklch(0% 0 0 / 0.8);
    --base-11: oklch(0% 0 0 / 0.9);
    --base-12: oklch(0% 0 0 / 1);

    /* Teal */
    --success-1: oklch(19.181% 0.0129 187.229);
    --success-2: oklch(21.755% 0.0159 189.598);
    --success-3: oklch(26.697% 0.0367 186.252);
    --success-4: oklch(31.816% 0.0542 187.649);
    --success-5: oklch(36.794% 0.0611 186.088);
    --success-6: oklch(41.54% 0.0657 185.145);
    --success-7: oklch(47.239% 0.0735 185.311);
    --success-8: oklch(53.66% 0.0857 183.556);
    --success-9: oklch(64.977% 0.1137 181.877);
    --success-10: oklch(68.852% 0.1233 179.701);
    --success-11: oklch(79.409% 0.1478 175.663);
    --success-12: oklch(90.516% 0.0719 175.147);

    /* TealA */
    --successA-1: oklch(69.124% 0.2324 142.861 / 0.01);
    --successA-2: oklch(88.352% 0.166 174.243 / 0.05);
    --successA-3: oklch(89.254% 0.1688 174.675 / 0.12);
    --successA-4: oklch(89.37% 0.1664 176.469 / 0.18);
    --successA-5: oklch(89.489% 0.1643 178.322 / 0.23);
    --successA-6: oklch(89.815% 0.1586 180.205 / 0.29);
    --successA-7: oklch(89.541% 0.1529 181.054 / 0.37);
    --successA-8: oklch(90.043% 0.1546 180.936 / 0.46);
    --successA-9: oklch(89.758% 0.1599 181.223 / 0.62);
    --successA-10: oklch(89.611% 0.1623 180.23 / 0.57);
    --successA-11: oklch(91.225% 0.1337 181.629 / 0.81);
    --successA-12: oklch(94.633% 0.0775 181.896 / 0.94);

    /* Orange */
    --orange-1: oklch(18.399% 0.0109 61.347);
    --orange-2: oklch(20.985% 0.0186 62.724);
    --orange-3: oklch(25.536% 0.0446 59.842);
    --orange-4: oklch(29.667% 0.0726 56.045);
    --orange-5: oklch(33.595% 0.0837 54.474);
    --orange-6: oklch(37.992% 0.086 54.445);
    --orange-7: oklch(44.936% 0.0938 53.05);
    --orange-8: oklch(54.034% 0.1161 49.835);
    --orange-9: oklch(69.325% 0.1885 45.607);
    --orange-10: oklch(73.244% 0.182 50.841);
    --orange-11: oklch(78.81% 0.1437 56.067);
    --orange-12: oklch(92.349% 0.0525 65.207);

    /* OrangeA */
    --orangeA-1: oklch(57.987% 0.238 29.234 / 0.02);
    --orangeA-2: oklch(67.589% 0.2175 38.802 / 0.06);
    --orangeA-3: oklch(67.623% 0.2115 39.251 / 0.15);
    --orangeA-4: oklch(64.593% 0.2293 34.517 / 0.25);
    --orangeA-5: oklch(67.589% 0.2175 38.802 / 0.31);
    --orangeA-6: oklch(70.357% 0.1917 43.051 / 0.37);
    --orangeA-7: oklch(73.138% 0.1752 44.773 / 0.47);
    --orangeA-8: oklch(73.223% 0.1733 43.656 / 0.62);
    --orangeA-9: oklch(70.579% 0.1946 45.2 / 0.97);
    --orangeA-10: oklch(69.579% 0.2043 43.491 / 0.91);
    --orangeA-11: oklch(78.53% 0.1346 46.713 / 1);
    --orangeA-12: oklch(92.137% 0.0443 48.218 / 1);

    /* Amber */
    --warning-1: oklch(18.907% 0.0138 77.789);
    --warning-2: oklch(21.703% 0.0193 82.672);
    --warning-3: oklch(25.786% 0.0441 74.507);
    --warning-4: oklch(28.991% 0.0615 73.84);
    --warning-5: oklch(33.377% 0.0714 72.149);
    --warning-6: oklch(38.757% 0.0785 75.974);
    --warning-7: oklch(45.439% 0.0825 75.271);
    --warning-8: oklch(53.603% 0.0964 73.616);
    --warning-9: oklch(85.344% 0.1571 84.032);
    --warning-10: oklch(88.531% 0.1806 94.87);
    --warning-11: oklch(85.828% 0.1726 88.216);
    --warning-12: oklch(93.451% 0.0721 85.984);

    /* AmberA */
    --warningA-1: oklch(50.527% 0.2012 30.241 / 0.01);
    --warningA-2: oklch(78.956% 0.1679 73.314 / 0.05);
    --warningA-3: oklch(79.401% 0.1709 71.058 / 0.11);
    --warningA-4: oklch(77.195% 0.1738 64.552 / 0.18);
    --warningA-5: oklch(79.401% 0.1709 71.058 / 0.23);
    --warningA-6: oklch(82.863% 0.1684 80.277 / 0.29);
    --warningA-7: oklch(84.408% 0.1541 82.391 / 0.37);
    --warningA-8: oklch(85.472% 0.1467 83.358 / 0.49);
    --warningA-9: oklch(85.344% 0.1571 84.032 / 1);
    --warningA-10: oklch(84.86% 0.1628 84.821 / 0.96);
    --warningA-11: oklch(86.905% 0.1511 86.702 / 1);
    --warningA-12: oklch(94.075% 0.062 84.493 / 1);

    /* Tomato */
    --error-1: oklch(18.623% 0.0116 18.25);
    --error-2: oklch(20.992% 0.0173 31.436);
    --error-3: oklch(25.393% 0.0543 26.888);
    --error-4: oklch(29.393% 0.0877 27.812);
    --error-5: oklch(33.351% 0.0983 28.632);
    --error-6: oklch(38.162% 0.1008 29.978);
    --error-7: oklch(44.742% 0.1054 31.732);
    --error-8: oklch(53.757% 0.1299 32.924);
    --error-9: oklch(62.708% 0.194 33.201);
    --error-10: oklch(66.332% 0.1799 34.15);
    --error-11: oklch(78.309% 0.1283 34.882);
    --error-12: oklch(89.845% 0.0467 31.235);

    /* TomatoA */
    --errorA-1: oklch(57.987% 0.238 29.234 / 0.02);
    --errorA-2: oklch(68.216% 0.208 37.289 / 0.05);
    --errorA-3: oklch(64.779% 0.2364 32.68 / 0.16);
    --errorA-4: oklch(63.897% 0.2474 31.221 / 0.26);
    --errorA-5: oklch(64.812% 0.236 32.365 / 0.33);
    --errorA-6: oklch(67.245% 0.2143 33.164 / 0.39);
    --errorA-7: oklch(69.686% 0.1914 34.152 / 0.49);
    --errorA-8: oklch(70.938% 0.1831 34.124 / 0.65);
    --errorA-9: oklch(67.245% 0.2143 33.164 / 0.89);
    --errorA-10: oklch(65.913% 0.2261 32.899 / 0.83);
    --errorA-11: oklch(76.805% 0.1394 34.98 / 1);
    --errorA-12: oklch(90.697% 0.0487 32.774 / 0.98);

    /* Violet */
    --feature-1: oklch(19.465% 0.0275 290.476);
    --feature-2: oklch(20.749% 0.0316 301.313);
    --feature-3: oklch(26.89% 0.0653 294.667);
    --feature-4: oklch(31.166% 0.0923 292.515);
    --feature-5: oklch(35.205% 0.1 291.126);
    --feature-6: oklch(38.795% 0.1029 292.459);
    --feature-7: oklch(44.48% 0.1103 292.044);
    --feature-8: oklch(51.624% 0.1306 290.267);
    --feature-9: oklch(53.682% 0.1816 287.883);
    --feature-10: oklch(59.377% 0.1666 289.541);
    --feature-11: oklch(78.112% 0.1227 293.296);
    --feature-12: oklch(90.995% 0.0457 292.348);

    /* VioletA Dark */
    --featureA-1: oklch(44.515% 0.3085 264.052 / 0.05);
    --featureA-2: oklch(53.45% 0.2532 276.477 / 0.09);
    --featureA-3: oklch(58.039% 0.2357 282.236 / 0.22);
    --featureA-4: oklch(57.741% 0.2387 284.468 / 0.32);
    --featureA-5: oklch(59.667% 0.2266 284.83 / 0.38);
    --featureA-6: oklch(63.183% 0.2049 286.625 / 0.44);
    --featureA-7: oklch(66.247% 0.1896 286.911 / 0.52);
    --featureA-8: oklch(66.465% 0.186 287.089 / 0.66);
    --featureA-9: oklch(62.13% 0.2171 287.533 / 0.8);
    --featureA-10: oklch(66.428% 0.1894 287.758 / 0.63);
    --featureA-11: oklch(77.525% 0.1225 289.327 / 1);
    --featureA-12: oklch(91.89% 0.0414 288.614 / 1);

    /* Blue */
    --info-1: oklch(19.525% 0.0259 256.874);
    --info-2: oklch(21.339% 0.0301 261.019);
    --info-3: oklch(26.99% 0.0646 253.811);
    --info-4: oklch(31.685% 0.0964 252.56);
    --info-5: oklch(36.936% 0.107 250.877);
    --info-6: oklch(42.109% 0.1141 251.738);
    --info-7: oklch(47.151% 0.1208 253.113);
    --info-8: oklch(54.143% 0.1396 253.162);
    --info-9: oklch(65.038% 0.1925 251.625);
    --info-10: oklch(68.92% 0.1686 251.694);
    --info-11: oklch(76.345% 0.126 249.786);
    --info-12: oklch(90.597% 0.0513 239.23);

    /* Default activity/requests color for dashboard charts (#2E90FA) */
    --activity: oklch(65.269% 0.1799 253.701);

    /* BlueA */
    --infoA-1: oklch(46.506% 0.295 264.207 / 0.05);
    --infoA-2: oklch(56.313% 0.2322 260.195 / 0.09);
    --infoA-3: oklch(59.666% 0.2212 258.03 / 0.23);
    --infoA-4: oklch(58.813% 0.2261 258.828 / 0.34);
    --infoA-5: oklch(61.412% 0.2114 256.215 / 0.42);
    --infoA-6: oklch(63.83% 0.1941 253.521 / 0.49);
    --infoA-7: oklch(65.583% 0.1877 253.255 / 0.59);
    --infoA-8: oklch(66.18% 0.1825 252.816 / 0.73);
    --infoA-9: oklch(65.038% 0.1925 251.625 / 1);
    --infoA-10: oklch(63.205% 0.2018 254.088 / 0.94);
    --infoA-11: oklch(76.345% 0.126 249.786 / 1);
    --infoA-12: oklch(90.224% 0.0493 250.125 / 1);

    /* Slate Dark */
    --accent-1: oklch(17.758% 0.0044 285.947);
    --accent-2: oklch(21.313% 0.0043 264.477);
    --accent-3: oklch(25.479% 0.0062 271.168);
    --accent-4: oklch(27.838% 0.0067 248.068);
    --accent-5: oklch(30.778% 0.008 255.08);
    --accent-6: oklch(34.711% 0.0107 253.409);
    --accent-7: oklch(39.488% 0.0126 253.415);
    --accent-8: oklch(48.703% 0.0161 251.7);
    --accent-9: oklch(53.778% 0.0148 262.984);
    --accent-10: oklch(58.077% 0.0141 267.264);
    --accent-11: oklch(76.856% 0.01 258.343);
    --accent-12: oklch(95.267% 0.0026 264.543);

    /* Dark theme - Red */
    --red-1: oklch(18.554% 0.0131 18.4);
    --red-2: oklch(20.477% 0.0212 13.589);
    --red-3: oklch(25.003% 0.0643 12.89);
    --red-4: oklch(29.281% 0.0962 14.307);
    --red-5: oklch(32.884% 0.1054 15.899);
    --red-6: oklch(37.965% 0.1101 16.372);
    --red-7: oklch(44.654% 0.1208 18.557);
    --red-8: oklch(54.358% 0.1462 21.42);
    --red-9: oklch(62.542% 0.1931 22.937);
    --red-10: oklch(66.68% 0.1751 23.086);
    --red-11: oklch(78.48% 0.125 22.411);
    --red-12: oklch(90.248% 0.0525 6.931);

    /* Dark theme - RedA */
    --redA-1: oklch(58.956% 0.2419 29.234 / 0.03);
    --redA-2: oklch(62.225% 0.2297 29.481 / 0.07);
    --redA-3: oklch(63.444% 0.2511 28.456 / 0.18);
    --redA-4: oklch(62.86% 0.2536 27.549 / 0.27);
    --redA-5: oklch(63.966% 0.2458 26.808 / 0.34);
    --redA-6: oklch(66.231% 0.2243 25.059 / 0.41);
    --redA-7: oklch(68.427% 0.2045 24.303 / 0.52);
    --redA-8: oklch(69.069% 0.1989 23.923 / 0.69);
    --redA-9: oklch(67.281% 0.2127 23.244 / 0.89);
    --redA-10: oklch(66.249% 0.222 23.265 / 0.83);
    --redA-11: oklch(76.696% 0.1379 22.867 / 1);
    --redA-12: oklch(89.75% 0.0533 24.259 / 1);

    /* Dark theme - Grass */
    --grass-1: oklch(18.864% 0.0136 159.934);
    --grass-2: oklch(20.94% 0.0132 149.921);
    --grass-3: oklch(27.288% 0.0313 150.115);
    --grass-4: oklch(31.747% 0.0524 150.077);
    --grass-5: oklch(36.251% 0.0606 150.025);
    --grass-6: oklch(41.794% 0.073 149.381);
    --grass-7: oklch(46.987% 0.0828 148.891);
    --grass-8: oklch(52.362% 0.0971 148.25);
    --grass-9: oklch(64.655% 0.146 147.332);
    --grass-10: oklch(68.783% 0.1472 147.614);
    --grass-11: oklch(77.94% 0.1416 148.331);
    --grass-12: oklch(91.053% 0.0792 144.89);

    /* Dark theme - GrassA */
    --grassA-1: oklch(69.092% 0.2351 142.495 / 0.01);
    --grassA-2: oklch(86.488% 0.2341 143.218 / 0.04);
    --grassA-3: oklch(89.625% 0.1983 145.306 / 0.11);
    --grassA-4: oklch(88.74% 0.2217 146.065 / 0.17);
    --grassA-5: oklch(89.326% 0.2086 145.765 / 0.23);
    --grassA-6: oklch(89.634% 0.1984 146.703 / 0.29);
    --grassA-7: oklch(89.506% 0.1872 146.952 / 0.36);
    --grassA-8: oklch(89.472% 0.1892 146.533 / 0.44);
    --grassA-9: oklch(89.019% 0.2118 147.026 / 0.63);
    --grassA-10: oklch(88.465% 0.2255 146.879 / 0.58);
    --grassA-11: oklch(90.704% 0.1726 147.322 / 0.8);
    --grassA-12: oklch(95.266% 0.0812 147.121 / 0.94);

    /* Dark theme - Blue */
    --blue-1: oklch(19.525% 0.0259 256.874);
    --blue-2: oklch(21.339% 0.0301 261.019);
    --blue-3: oklch(26.99% 0.0646 253.811);
    --blue-4: oklch(31.685% 0.0964 252.56);
    --blue-5: oklch(36.936% 0.107 250.877);
    --blue-6: oklch(42.109% 0.1141 251.738);
    --blue-7: oklch(47.151% 0.1208 253.113);
    --blue-8: oklch(54.143% 0.1396 253.162);
    --blue-9: oklch(65.038% 0.1925 251.625);
    --blue-10: oklch(68.92% 0.1686 251.694);
    --blue-11: oklch(76.345% 0.126 249.786);
    --blue-12: oklch(90.597% 0.0513 239.23);

    /* Dark theme - BlueA */
    --blueA-1: oklch(46.506% 0.295 264.207 / 0.05);
    --blueA-2: oklch(56.313% 0.2322 260.195 / 0.09);
    --blueA-3: oklch(59.666% 0.2212 258.03 / 0.23);
    --blueA-4: oklch(58.813% 0.2261 258.828 / 0.34);
    --blueA-5: oklch(61.412% 0.2114 256.215 / 0.42);
    --blueA-6: oklch(63.83% 0.1941 253.521 / 0.49);
    --blueA-7: oklch(65.583% 0.1877 253.255 / 0.59);
    --blueA-8: oklch(66.18% 0.1825 252.816 / 0.73);
    --blueA-9: oklch(65.038% 0.1925 251.625 / 1);
    --blueA-10: oklch(63.205% 0.2018 254.088 / 0.94);
    --blueA-11: oklch(76.345% 0.126 249.786 / 1);
    --blueA-12: oklch(90.224% 0.0493 250.125 / 1);

    --blackA-1: oklch(0% 0 0 / 0.05);
    --blackA-2: oklch(0% 0 0 / 0.1);
    --blackA-3: oklch(0% 0 0 / 0.15);
    --blackA-4: oklch(0% 0 0 / 0.2);
    --blackA-5: oklch(0% 0 0 / 0.3);
    --blackA-6: oklch(0% 0 0 / 0.4);
    --blackA-7: oklch(0% 0 0 / 0.5);
    --blackA-8: oklch(0% 0 0 / 0.6);
    --blackA-9: oklch(0% 0 0 / 0.7);
    --blackA-10: oklch(0% 0 0 / 0.8);
    --blackA-11: oklch(0% 0 0 / 0.9);
    --blackA-12: oklch(0% 0 0 / 0.95);

    /* WhiteA (Dark theme) */
    --whiteA-1: oklch(100% 0 89.876 / 0.05);
    --whiteA-2: oklch(100% 0 89.876 / 0.1);
    --whiteA-3: oklch(100% 0 89.876 / 0.15);
    --whiteA-4: oklch(100% 0 89.876 / 0.2);
    --whiteA-5: oklch(100% 0 89.876 / 0.3);
    --whiteA-6: oklch(100% 0 89.876 / 0.4);
    --whiteA-7: oklch(100% 0 89.876 / 0.5);
    --whiteA-8: oklch(100% 0 89.876 / 0.6);
    --whiteA-9: oklch(100% 0 89.876 / 0.7);
    --whiteA-10: oklch(100% 0 89.876 / 0.8);
    --whiteA-11: oklch(100% 0 89.876 / 0.9);
    --whiteA-12: oklch(100% 0 89.876 / 0.95);

    --cyan-1: oklch(18.854% 0.0175 222.825 / 1);
    --cyan-2: oklch(20.892% 0.0177 228.377 / 1);
    --cyan-3: oklch(27.115% 0.0429 220.241 / 1);
    --cyan-4: oklch(31.59% 0.0588 222.926 / 1);
    --cyan-5: oklch(35.886% 0.0673 223.784 / 1);
    --cyan-6: oklch(41.16% 0.0744 221.52 / 1);
    --cyan-7: oklch(47.384% 0.0822 222.117 / 1);
    --cyan-8: oklch(55.75% 0.0984 220.873 / 1);
    --cyan-9: oklch(66.106% 0.1215 221.354 / 1);
    --cyan-10: oklch(70.533% 0.1198 217.854 / 1);
    --cyan-11: oklch(78.702% 0.1164 213.574 / 1);
    --cyan-12: oklch(90.914% 0.0572 211.237 / 1);

    --bronze-1: oklch(18.023% 0.0053 39.351 / 1);
    --bronze-2: oklch(21.613% 0.0062 56.036 / 1);
    --bronze-3: oklch(25.857% 0.0076 48.41 / 1);
    --bronze-4: oklch(28.989% 0.01 48.356 / 1);
    --bronze-5: oklch(32.865% 0.0124 41.062 / 1);
    --bronze-6: oklch(37.708% 0.0163 41.036 / 1);
    --bronze-7: oklch(43.319% 0.0212 41.011 / 1);
    --bronze-8: oklch(49.842% 0.0245 44.552 / 1);
    --bronze-9: oklch(62.829% 0.0458 44.389 / 1);
    --bronze-10: oklch(66.862% 0.0466 42.657 / 1);
    --bronze-11: oklch(79.267% 0.0425 44.52 / 1);
    --bronze-12: oklch(91.497% 0.0173 50.42 / 1);
  }
}
