# Production database URLs must enable TLS by appending:
# ?ssl=%7B%22rejectUnauthorized%22%3Atrue%7D
DATABASE_PRIMARY="mysql://unkey:password@localhost:3306/unkey"

UNKEY_WORKSPACE_ID="ws_local_root"
UNKEY_API_ID="api_local_root_keys"
UNKEY_API_URL="http://localhost:7070"
UNKEY_JWT_SECRET="local-dev-jwt-secret-with-at-least-32-bytes"
UNKEY_AGENT_SIGNUP_JWT_SECRET="local-dev-agent-signup-jwt-secret-32b"

AUTH_PROVIDER="local"

VAULT_URL="http://localhost:8060"
VAULT_TOKEN="vault-test-token-123"

CLICKHOUSE_URL="http://default:password@localhost:8123"

CTRL_URL="http://localhost:7091"
CTRL_API_KEY="your-local-dev-key"
