# Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=

# Main db
DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Unkey
UNKEY_WORKSPACE_ID=
UNKEY_API_ID=

# OPTIONAL
#
# Tinybird
TINYBIRD_TOKEN=

# Communication with our API
# You can create a secure random token with:
# $ openssl rand -base64 64
UNKEY_APP_AUTH_TOKEN=
UNKEY_API_URL="http://localhost:8080"

# OPTIONAL
#
# Everything billing related
# Feel free to skip these, most of the app will work without them
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PLAN_PRICE_ID=
STRIPE_ACTIVE_KEYS_PRICE_ID=
STRIPE_KEY_VERIFICATIONS_PRICE_ID=

# OPTIONAL
#
# Sentry
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=


