
# Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=

# Main db
DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=


# Unkey
UNKEY_WORKSPACE_ID=
UNKEY_API_ID=

# Kafka
UPSTASH_KAFKA_REST_URL=
UPSTASH_KAFKA_REST_USERNAME=
UPSTASH_KAFKA_REST_PASSWORD=

TINYBIRD_TOKEN=

# Communication with our API
# You can create a secure random token with:
# $ openssl rand -base64 64
UNKEY_APP_AUTH_TOKEN=
