# Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxx
CLERK_SECRET_KEY=sk_test_xxxx

### Unkey Custom Flows
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up

# Main db
DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Unkey
UNKEY_WORKSPACE_ID=
UNKEY_API_ID=

# OPTIONAL
#
# Tinybird
TINYBIRD_TOKEN=

# Communication with our API
# You can create a secure random token with:
# $ openssl rand -base64 64
UNKEY_APP_AUTH_TOKEN=
UNKEY_API_URL="http://127.0.0.1:8080"
NEXT_PUBLIC_UNKEY_API_URL="http://127.0.0.1:8080"


# OPTIONAL
#
# Everything billing related
# Only required if you want to use the billing / working on a billing fix
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PLAN_PRICE_ID=
STRIPE_ACTIVE_KEYS_PRICE_ID=
STRIPE_KEY_VERIFICATIONS_PRICE_ID=
