[Match]
Name=br-tenant-16

[Network]
Description=Metald VM Bridge 16
Address=172.16.16.1/24
IPv4Forwarding=yes
IPMasquerade=ipv4
ConfigureWithoutCarrier=yes
DNS=8.8.8.8
DNS=8.8.4.4
