[Match]
Name=br-tenant-30

[Network]
Description=Metald VM Bridge 30
Address=172.16.30.1/24
IPv4Forwarding=yes
IPMasquerade=ipv4
ConfigureWithoutCarrier=yes
DNS=8.8.8.8
DNS=8.8.4.4
