[NetDev]
Name=br-tenant-6
Kind=bridge
Description=Metald VM Bridge 6

[Bridge]
DefaultPVID=none
VLANFiltering=true
STP=false
ForwardDelaySec=0
HelloTimeSec=2
MaxAgeSec=6
