[Match]
Name=br-tenant-26

[Network]
Description=Metald VM Bridge 26
Address=172.16.26.1/24
IPv4Forwarding=yes
IPMasquerade=ipv4
ConfigureWithoutCarrier=yes
DNS=8.8.8.8
DNS=8.8.4.4
