#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	go build -o build/builderd ./cmd/builderd

override_dh_auto_install:
	install -d $(CURDIR)/debian/builderd/usr/local/bin
	install -d $(CURDIR)/debian/builderd/etc/systemd/system
	install -d $(CURDIR)/debian/builderd/opt/builderd
	install -d $(CURDIR)/debian/builderd/opt/builderd/scratch
	install -d $(CURDIR)/debian/builderd/opt/builderd/rootfs
	install -d $(CURDIR)/debian/builderd/opt/builderd/workspace
	install -d $(CURDIR)/debian/builderd/opt/builderd/data
	install -d $(CURDIR)/debian/builderd/var/log/builderd
	install -m 755 build/builderd $(CURDIR)/debian/builderd/usr/local/bin/
	install -m 644 contrib/systemd/builderd.service $(CURDIR)/debian/builderd/etc/systemd/system/

override_dh_auto_test:
	# Skip tests for now - TODO: implement when we have build executor tests

override_dh_auto_clean:
	rm -rf build/