#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	make build

override_dh_auto_install:
	# Install binary
	install -D -m 755 build/billaged debian/billaged/usr/bin/billaged
	
	# Install systemd service
	install -D -m 644 contrib/systemd/billaged.service debian/billaged/lib/systemd/system/billaged.service
	
	# Create directories
	install -d debian/billaged/opt/billaged
	install -d debian/billaged/var/log/billaged

override_dh_auto_clean:
	make clean