
# The port where the proxy will listen
# Optional, default is 8080
PORT=8080

# Tinybird credentials to ingest data
TINYBIRD_TOKEN=

# Optional, default is https://api.tinybird.co
TINYBIRD_BASE_URL=https://api.tinybird.co

# Up to how many rows to send to Tinybird in each request
# Optional, default is 100000
BATCH_SIZE=100000

# How many rows to buffer at most. If the buffer is full, the proxy will not accept more data until it's flushed
# Optional, default is 1000000
BUFFER_SIZE=1000000

# How often to flush the buffer in milliseconds, even if the batch size is not reached
# Optional, default is 1000
FLUSH_INTERVAL=1000

# Authenticate incoming requests with a token
# Example: AUTHORIZATION_TOKEN=secret means that the Authorization header must be set to "Bearer secret"
# Optional
AUTHORIZATION_TOKEN=

# A unique id for the node where the proxy is running
# Optional, used in metrics
NODE_ID=

# The proxy can emit metrics about the ingestion process
# The metrics are sent to a Tinybird datasource.
# Optional
TINYBIRD_METRICS_DATASOURCE=