name = "llmcache-preview"
compatibility_date = "2023-12-01"

[[vectorize]]
  binding = "VECTORIZE_INDEX"
  index_name = "llmcache-workersai2"

[[kv_namespaces]]
  binding = "llmcache"
  id = "d34176cf592646b18ac59b3b0dc3677f"
  preview_id = "fbb60e26369e4ec680bd75dcbab3622c"

[ai]
  binding = "AI"

[placement]
  mode = "smart"

[[rules]]
  globs = ["**/*.wasm"]
  type = "CompiledWasm"