# PlanetScale / MySQL
DATABASE_HOST="localhost:3900"
DATABASE_USERNAME="unkey"
DATABASE_PASSWORD="password"

# Unkey API (defaults to https://api.unkey.dev if not set)
UNKEY_API_URL=http://localhost:7070
