@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/preflight' layer(base);

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/container-queries';

@source '../../../../internal/ui/src/**/*.tsx';
@source '../../../../internal/icons/src/**/*.tsx';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --text-*: initial;
  --text-xxs: 10px;
  --text-xxs--line-height: 16px;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2.25rem;
  --text-3xl: 1.75rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 2.5rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3rem;
  --text-6xl--line-height: 3.5rem;
  --text-7xl: 4rem;
  --text-7xl--line-height: 4.5rem;

  --color-*: initial;
  --color-background: hsl(var(--background));
  --color-background-subtle: hsl(var(--background-subtle));

  --color-content: hsl(var(--content));
  --color-content-subtle: hsl(var(--content-subtle));
  --color-content-info: hsl(var(--content-info));
  --color-content-warn: hsl(var(--content-warn));
  --color-content-alert: hsl(var(--content-alert));

  --color-brand: hsl(var(--brand));
  --color-brand-foreground: hsl(var(--brand-foreground));

  --color-warn: hsl(var(--warn));
  --color-warn-foreground: hsl(var(--warn-foreground));

  --color-alert: hsl(var(--alert));
  --color-alert-foreground: hsl(var(--alert-foreground));

  --color-success: hsl(var(--success));

  --color-amber-2: var(--amber-2);
  --color-amber-3: var(--amber-3);
  --color-amber-4: var(--amber-4);
  --color-amber-6: var(--amber-6);
  --color-amber-11: var(--amber-11);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-6: var(--red-6);
  --color-red-11: var(--red-11);

  --color-subtle: hsl(var(--subtle));
  --color-subtle-foreground: hsl(var(--subtle-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
  --color-black: black;
  --color-white: white;
  --color-transparent: transparent;
  --color-current: currentColor;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --drop-shadow-button: 0px 0px 0px 3px hsl(var(--grayA-6));

  --opacity-55: 55.00000000000001%;

  --animate-marquee: marquee 15s linear infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-shiny-text: shiny-text 10s infinite;
  --animate-shimmer: shimmer 1.2s ease-in-out infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    color-scheme: light;
    --chart-selection: var(--accent-6);

    --white: 0 0% 100%;
    --black: 0 0% 0%;

    --background: 0 0% 100%;
    --background-subtle: 60 9% 94%;

    --brand: 262 93% 58%;
    --brand-foreground: 262 93% 90%;

    --warn: 46, 97%, 65%;
    --warn-foreground: 46, 97%, 15%;

    --alert: 0 100% 65%;
    --alert-foreground: 0 100% 98%;

    --success: 152, 56%, 39%;

    --primary: 24 10% 10%;
    --primary-foreground: 24 10% 90%;

    --secondary: 20 6% 94%;
    --secondary-foreground: 0 0% 0%;

    --content: 240 10% 3.9%;
    --content-subtle: 240 3.8% 46.1%;

    --content-warn: 46, 97%, 40%;
    --content-alert: 0 84.2% 60.2%;

    --border: 24, 6%, 83%;
    --ring: 24, 6%, 83%;
  }

  .dark {
    color-scheme: dark;
    --chart-selection: var(--accent-9);

    --white: 0 0% 100%;
    --black: 0 0% 0%;

    --background: 0 0% 0%;
    --background-subtle: 24 10% 10%;

    --brand: 25 95% 53%;
    --brand-foreground: 25 95% 90%;

    --warn: 46, 100%, 45%;
    --warn-foreground: 46, 97%, 5%;

    --alert: 0 100% 45%;
    --alert-foreground: 0 100% 95%;

    --success: 152, 56%, 39%;

    --primary: 20 6% 94%;
    --primary-foreground: 20 6% 10%;

    --secondary: 24 10% 10%;
    --secondary-foreground: 24 10% 100%;

    --content: 240 10% 90%;
    --content-subtle: 240 3.8% 46.1%;
    --content-warn: 46, 100%, 55%;
    --content-alert: 0 84.2% 60.2%;

    --border: 12, 6%, 15%;
    --ring: 12, 6%, 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-content;
  }
}

code {
  counter-reset: step;
  counter-increment: step 0;
  white-space: break-spaces;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

@keyframes fillLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes subtle-bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.animate-fill-left {
  animation: fillLeft 1s ease-in-out;
}
