@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 255, 255, 255;
  }
}
html {
  scroll-behavior: smooth;
}
.bg-gradient-radial {
 
    position: absolute;
    z-index: -10;
    top: calc(25% - 150px);
    left: calc(25% - 150px);
    width: 70%;
    height: 100%;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
  


}




/* Hide scrollbar for Chrome, Safari and Opera */
.section-title-heading-gradient {
  background: linear-gradient(
    86deg,
    #fff 27.24%,
    rgba(255, 255, 255, 0.4) 66.97%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  color: rgb(var(--foreground-rgb));
  background: black;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}