
DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=

TINYBIRD_TOKEN=

STRIPE_SECRET_KEY=
STRIPE_PRODUCT_ID_KEY_VERIFICATIONS=
STRIPE_PRODUCT_ID_ACTIVE_KEYS=
STRIPE_PRODUCT_ID_PRO_PLAN=
STRIPE_PRODUCT_ID_SUPPORT=


RESEND_API_KEY=

CLERK_SECRET_KEY=

TRIGGER_API_KEY=
