.pointer {
  animation: spin .5s ease-out forwards;
}
@keyframes spin {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(120deg);
  }
}
.toplight{
  opacity: 0;
  animation: animate_toplight .6s ease-out forwards;
  animation-delay: 0.2s;
}
@keyframes animate_toplight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.toplight_inner {
  opacity: 1;
  animation: animate_toplight_inner .125s linear forwards;
  animation-delay: 1.2s;
}
@keyframes animate_toplight_inner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}