.footer_illustration {
  animation: animate-footer_illustration 5s cubic-bezier(0.77, 0.1, 0.33, 0.9) infinite;
}

@keyframes animate-footer_illustration {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
