@tailwind base;

@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url("../fonts/Mona-Sans.var.woff2") format("woff2");
}

@layer base {
  :root {
    --white: 0 0% 100%;
    --black: 0 0% 0%;
    --background: 60 9% 98%;
    --background-subtle: 60 9% 94%;

    --brand: 262 93% 58%;
    --brand-foreground: 262 93% 90%;

    --warn: 46, 97%, 65%;
    --warn-foreground: 46, 97%, 15%;

    --alert: 0 100% 65%;
    --alert-foreground: 0 100% 980%;

    --success: 152, 56%, 39%;

    --primary: 24 10% 10%;
    --primary-foreground: 24 10% 90%;

    --secondary: 20 6% 94%;
    --secondary-foreground: 0 0% 0%;

    --content: 240 10% 3.9%;
    --content-subtle: 240 3.8% 46.1%;

    --content-warn: 46, 97%, 40%;
    --content-alert: 0 84.2% 60.2%;

    --border: 24, 6%, 83%;
    --ring: 24, 6%, 83%;

    --amber-2: #fff9ed;
    --amber-3: #fff4d5;
    --amber-4: #ffecbc;
    --amber-6: #ffd386;
    --amber-11: #ad5700;

    --red-2: #fff8f8;
    --red-3: #ffefef;
    --red-4: #ffe5e5;
    --red-6: #f9c6c6;
    --red-11: #cd2b31;
  }

  .dark {
    --white: 0 0% 100%;
    --black: 0 0% 0%;

    --background: 20 14% 2%;
    --background-subtle: 24 10% 10%;

    --brand: 25 95% 53%;
    --brand-foreground: 25 95% 90%;

    --warn: 46, 100%, 45%;
    --warn-foreground: 46, 97%, 5%;

    --alert: 0 100% 45%;
    --alert-foreground: 0 100% 95%;

    --success: 152, 56%, 39%;

    --primary: 20 6% 94%;
    --primary-foreground: 20 6% 10%;

    --secondary: 24 10% 10%;
    --secondary-foreground: 24 10% 100%;

    --content: 240 10% 90%;
    --content-subtle: 240 3.8% 46.1%;
    --content-warn: 46, 100%, 55%;
    --content-alert: 0 84.2% 60.2%;

    --border: 12, 6%, 15%;
    --ring: 12, 6%, 15%;

    --amber-2: #271700;
    --amber-3: #341c00;
    --amber-4: #3f2200;
    --amber-6: #573300;
    --amber-11: #f1a10d;

    --red-2: #291415;
    --red-3: #3c181a;
    --red-4: #481a1d;
    --red-6: #671e22;
    --red-11: #ff6369;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-content;
  }
}

@-moz-document url-prefix() {
  #root-key-alert-title {
    padding-left: 1.25rem;
  }
}
