{
  "info": {
    "title": "Unkey API",
    "version": "2.0.0"
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.unkey.cloud"
    },
    {
      "url": "http://localhost"
    }
  ],
  "components": {
    "schemas": {
      "BaseError": {
        "additionalProperties": false,
        "properties": {
          "requestId": {
            "description": "A unique id for this request. Please always provide this to support.",
            "example": "req_123",
            "type": "string"
          },
          "detail": {
            "description": "A human-readable explanation specific to this occurrence of the problem.",
            "example": "Property foo is required but is missing.",
            "type": "string"
          },
          "instance": {
            "description": "A URI reference that identifies the specific occurrence of the problem.",
            "example": "https://example.com/error-log/abc123",
            "format": "uri",
            "type": "string"
          },
          "status": {
            "description": "HTTP status code",
            "example": 404,
            "format": "int",
            "type": "integer"
          },
          "title": {
            "description": "A short, human-readable summary of the problem type. This value should not change between occurrences of the error.",
            "type": "string"
          },
          "type": {
            "description": "A URI reference to human-readable documentation for the error.",
            "example": "https://example.com/errors/example",
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "requestId",
          "detail",
          "status",
          "title",
          "type"
        ]
      },
      "NotFoundError": {
        "$ref": "#/components/schemas/BaseError"
      },
      "BadRequestError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseError"
          },
          {
            "properties": {
              "errors": {
                "description": "Optional list of individual error details",
                "type": "array"
              }
            }
          }
        ]
      },
      "InternalServerError": {
        "$ref": "#/components/schemas/BaseError"
      },
      "V1LivenessResponseBody": {
        "additionalProperties": false,
        "properties": {
          "message": {
            "description": "Whether we're alive or not",
            "example": "OK",
            "type": "string"
          }
        },
        "required": [
          "message"
        ],
        "type": "object"
      },
      "V1RatelimitSetOverrideRequestBody": {
        "additionalProperties": false,
        "properties": {
          "namespaceId": {
            "description": "The id of the namespace. Either namespaceId or namespaceName must be provided",
            "type": "string"
          },
          "namespaceName": {
            "description": "The name of the namespace. Either namespaceId or namespaceName must be provided",
            "type": "string"
          },
          "duration": {
            "description": "The duration in milliseconds for the rate limit window.",
            "format": "int64",
            "type": "integer"
          },
          "identifier": {
            "description": "Identifier of your user, this can be their userId, an email, an ip or anything else. Wildcards ( * ) can be used to match multiple identifiers, More info can be found at https://www.unkey.com/docs/ratelimiting/overrides#wildcard-rules",
            "type": "string",
            "min": 3
          },
          "limit": {
            "description": "The maximum number of requests allowed.",
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "identifier",
          "limit",
          "duration"
        ],
        "type": "object"
      },
      "V1RatelimitSetOverrideResponseBody": {
        "additionalProperties": false,
        "properties": {
          "overrideId": {
            "description": "The id of the override. This is used internally.",
            "type": "string"
          }
        },
        "required": [
          "overrideId"
        ],
        "type": "object"
      },
      "V1RatelimitLimitRequestBody": {
        "additionalProperties": false,
        "properties": {
          "cost": {
            "description": "The cost of the request. Defaults to 1 if not provided.",
            "format": "int64",
            "type": "integer",
            "default": 1
          },
          "duration": {
            "description": "The duration in milliseconds for the rate limit window.",
            "format": "int64",
            "type": "integer"
          },
          "identifier": {
            "description": "The identifier for the rate limit.",
            "type": "string"
          },
          "limit": {
            "description": "The maximum number of requests allowed.",
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "identifier",
          "limit",
          "duration"
        ],
        "type": "object"
      },
      "V1RatelimitLimitResponseBody": {
        "additionalProperties": false,
        "properties": {
          "limit": {
            "description": "The maximum number of requests allowed.",
            "format": "int64",
            "type": "integer"
          },
          "remaining": {
            "description": "The number of requests remaining in the current window.",
            "format": "int64",
            "type": "integer"
          },
          "reset": {
            "description": "The time in milliseconds when the rate limit will reset.",
            "format": "int64",
            "type": "integer"
          },
          "success": {
            "description": "Whether the request passed the ratelimit. If false, the request must be blocked.",
            "type": "boolean"
          }
        },
        "required": [
          "limit",
          "remaining",
          "reset",
          "success"
        ],
        "type": "object"
      }
    }
  },
  "paths": {
    "/v1/ratelimit.limit": {
      "post": {
        "operationId": "v1.ratelimit.limit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1RatelimitLimitRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1RatelimitLimitResponseBody"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "ratelimit"
        ]
      }
    },
    "/v1/liveness": {
      "get": {
        "description": "This endpoint checks if the service is alive.",
        "operationId": "liveness",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1LivenessResponseBody"
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Liveness check",
        "tags": [
          "liveness"
        ]
      }
    }
  }
}
