info:
  title: Unkey API
  version: 2.0.0
  description: |-
    Unkey's API provides programmatic access for all resources within our platform.



    ### Authentication
    #
    This API uses HTTP Bearer authentication with root keys. Most endpoints require specific permissions associated with your root key. When making requests, include your root key in the `Authorization` header:
    ```
    Authorization: Bearer unkey_xxxxxxxxxxx
    ```

    All responses follow a consistent envelope structure that separates operational metadata from actual data. This design provides several benefits:
    - Debugging: Every response includes a unique requestId for tracing issues
    - Consistency: Predictable response format across all endpoints
    - Extensibility: Easy to add new metadata without breaking existing integrations
    - Error Handling: Unified error format with actionable information

    ### Success Response Format:
    ```json
    {
      "meta": {
        "requestId": "req_123456"
      },
      "data": {
        // Actual response data here
      }
    }
    ```

    The meta object contains operational information:
    - `requestId`: Unique identifier for this request (essential for support)

    The data object contains the actual response data specific to each endpoint.

    ### Paginated Response Format:
    ```json
    {
      "meta": {
        "requestId": "req_123456"
      },
      "data": [
        // Array of results
      ],
      "pagination": {
        "cursor": "next_page_token",
        "hasMore": true
      }
    }
    ```

    The pagination object appears on list endpoints and contains:
    - `cursor`: Token for requesting the next page
    - `hasMore`: Whether more results are available

    ### Error Response Format:
    ```json
    {
      "meta": {
        "requestId": "req_2c9a0jf23l4k567"
      },
      "error": {
        "detail": "The resource you are attempting to modify is protected and cannot be changed",
        "status": 403,
        "title": "Forbidden",
        "type": "https://unkey.com/docs/api-reference/errors-v2/unkey/application/protected_resource"
      }
    }
    ```

    Error responses include comprehensive diagnostic information:
    - `title`: Human-readable error summary
    - `detail`: Specific description of what went wrong
    - `status`: HTTP status code
    - `type`: Link to error documentation
    - `errors`: Array of validation errors (for 400 responses)

    This structure ensures you always have the context needed to debug issues and take corrective action.
openapi: 3.0.1
servers:
  - url: https://api.unkey.com
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 50
    maxInterval: 1000
    maxElapsedTime: 10000
    exponent: 1.5
  statusCodes:
    - 5XX
  retryConnectionErrors: true
security:
  - rootKey: []
components:
  securitySchemes:
    rootKey:
      type: http
      scheme: bearer
      bearerFormat: root key
      description: |-
        Unkey uses API keys (root keys) for authentication. These keys authorize access to management operations in the API.

        To authenticate, include your root key in the Authorization header of each request:
        ```
        Authorization: Bearer unkey_123
        ```

        Root keys have specific permissions attached to them, controlling what operations they can perform. Key permissions follow a hierarchical structure with patterns like `resource.resource_id.action` (e.g., `apis.*.create_key`, `apis.*.read_api`).

        Security best practices:
        - Keep root keys secure and never expose them in client-side code
        - Use different root keys for different environments
        - Rotate keys periodically, especially after team member departures
        - Create keys with minimal necessary permissions following least privilege principle
        - Monitor key usage with audit logs.
      x-speakeasy-example: UNKEY_ROOT_KEY
  schemas:
    V2KeysUpdateKeyRequestBody:
      type: object
      required:
        - keyId
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key to update using the database identifier returned from `createKey`.
            Do not confuse this with the actual API key string that users include in requests.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 200 # Human-readable names should be concise but descriptive
          description: |
            Sets a human-readable name for internal organization and identification.
            Omitting this field leaves the current name unchanged, while setting null removes it entirely.
            Avoid generic names like "API Key" when managing multiple keys per user or service.
          example: Payment Service Production Key
        externalId:
          type: string
          nullable: true
          minLength: 1
          maxLength: 255 # Match database varchar limits for external identifiers
          pattern: "^[a-zA-Z0-9_.-]+$"
          description: |
            Links this key to a user or entity in your system for ownership tracking during verification.
            Omitting this field preserves the current association, while setting null disconnects the key from any identity.
            Essential for user-specific analytics, billing, and key management across multiple users.
            Supports letters, numbers, underscores, dots, and hyphens for flexible identifier formats.
          example: user_912a841d
        meta:
          type: object
          nullable: true
          additionalProperties: true
          maxProperties: 100 # Prevent DoS while allowing rich metadata
          description: |
            Stores arbitrary JSON metadata returned during key verification.
            Omitting this field preserves existing metadata, while setting null removes all metadata entirely.
            Avoid storing sensitive data here as it's returned in verification responses.
            Large metadata objects increase verification latency and should stay under 10KB total size.
          example:
            plan: enterprise
            limits:
              storage: 500GB
              compute: 1000 minutes/month
            features: [analytics, exports, webhooks]
            hasAcceptedTerms: true
            billing:
              cycle: monthly
              next_billing: "2024-01-15"
            preferences:
              timezone: "UTC"
              notifications: true
            lastBillingDate: "2023-10-15"
        expires:
          type: integer
          nullable: true
          format: int64
          minimum: 0
          maximum: 4102444800000 # January 1, 2100 - reasonable future limit
          description: |
            Sets when this key automatically expires as a Unix timestamp in milliseconds.
            Verification fails with code=EXPIRED immediately after this time passes.
            Omitting this field preserves the current expiration, while setting null makes the key permanent.

            Avoid setting timestamps in the past as they immediately invalidate the key.
            Keys expire based on server time, not client time, which prevents timezone-related issues.
            Active sessions continue until their next verification attempt after expiry.
          example: 1704067200000
        credits:
          "$ref": "#/components/schemas/KeyCreditsResponse"
          description: |
            Controls usage-based limits for this key through credit consumption.
            Omitting this field preserves current credit settings, while setting null enables unlimited usage.
            Cannot configure refill settings when credits is null, and refillDay requires monthly interval.
            Essential for implementing usage-based pricing and subscription quotas.
        ratelimits:
          type: array
          nullable: true
          maxItems: 50 # Reasonable limit for rate limit configurations per key
          items:
            "$ref": "#/components/schemas/RatelimitRequest"
          description: |
            Defines time-based rate limits that protect against abuse by controlling request frequency.
            Omitting this field preserves existing rate limits, while setting null removes all rate limits.
            Unlike credits which track total usage, rate limits reset automatically after each window expires.
            Multiple rate limits can control different operation types with separate thresholds and windows.
        enabled:
          type: boolean
          description: |
            Controls whether the key is currently active for verification requests.
            When set to `false`, all verification attempts fail with `code=DISABLED` regardless of other settings.
            Omitting this field preserves the current enabled status.
            Useful for temporarily suspending access during billing issues, security incidents, or maintenance windows without losing key configuration.
          example: true
      additionalProperties: false
    KeysUpdateKeyResponseData:
      type: object
      properties: {}
      description:
        Empty response object by design. A successful response indicates
        the key was updated successfully. The endpoint doesn't return the updated
        key to reduce response size and avoid exposing sensitive information. Changes
        may take up to 30 seconds to propagate to all regions due to cache invalidation
        delays. If you need the updated key state, use a subsequent call to `keys.getKey`.
    V2KeysUpdateKeyResponseBody:
      type: object
      required:
        - meta
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysUpdateKeyResponseData"
    V2KeysDeleteKeyRequestBody:
      type: object
      required:
        - keyId
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key to delete using the database identifier returned from `createKey`.
            Do not confuse this with the actual API key string that users include in requests.
            Deletion immediately invalidates the key, causing all future verification attempts to fail with `code=NOT_FOUND`.
            Key deletion triggers cache invalidation across all regions but may take up to 30 seconds to fully propagate.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        permanent:
          type: boolean
          default: false
          description: |
            Controls deletion behavior between recoverable soft-deletion and irreversible permanent erasure.
            Soft deletion (default) preserves key data for potential recovery through direct database operations.
            Permanent deletion completely removes all traces including hash values and metadata with no recovery option.

            Use permanent deletion only for regulatory compliance (GDPR), resolving hash collisions, or when reusing identical key strings.
            Permanent deletion cannot be undone and may affect analytics data that references the deleted key.
            Most applications should use soft deletion to maintain audit trails and prevent accidental data loss.
          example: false
      additionalProperties: false
    KeysDeleteKeyResponseData:
      type: object
      properties: {}
      description: |
        Confirms successful key deletion with no additional data returned.
        Deletion immediately invalidates the key in the primary database but cache propagation across regions may take up to 30 seconds.
        During this propagation window, some verification attempts might still succeed in certain regions due to eventual consistency.
        Monitor your application logs during the propagation period to ensure no unexpected authentication successes occur.
    V2KeysDeleteKeyResponseBody:
      type: object
      required:
        - meta
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysDeleteKeyResponseData"
    V2KeysGetKeyRequestBody:
      type: object
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key to retrieve using the database identifier returned from `keys.createKey`.
            Do not confuse this with the actual API key string that users include in requests.
            Key data includes metadata, permissions, usage statistics, and configuration but never the plaintext key value unless `decrypt=true`.
            Find this ID in creation responses, key listings, dashboard, or verification responses.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        decrypt:
          type: boolean
          default: false
          description: |
            Controls whether to include the plaintext key value in the response for recovery purposes.
            Only works for keys created with `recoverable=true` and requires the `decrypt_key` permission.
            Returned keys must be handled securely, never logged, cached, or stored insecurely.

            Use only for legitimate recovery scenarios like user password resets or emergency access.
            Most applications should keep this false to maintain security best practices and avoid accidental key exposure.
            Decryption requests are audited and may trigger security alerts in enterprise environments.
        key:
          type: string
          minLength: 1
          maxLength: 512 # Reasonable upper bound for API key strings
          description: |
            The complete API key string provided by you, including any prefix.
            Never log, cache, or store API keys in your system as they provide full access to user resources.
            Include the full key exactly as provided - even minor modifications will cause a not found error.
          example: prefix_f4cc2d765275c206b7d76ff0e92e583067c4e33603fb4055d7ba3031cd7ce36a

      additionalProperties: false
      oneOf:
        - required:
            - keyId
            - decrypt
        - required:
            - key
    V2KeysGetKeyResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeyResponse"
    V2KeysVerifyKeyResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysVerifyKeyResponseData"
    V2KeysAddPermissionsRequestBody:
      type: object
      required:
        - keyId
        - permissions
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key receives the additional permissions using the database identifier returned from `keys.createKey`.
            Do not confuse this with the actual API key string that users include in requests.
            Added permissions supplement existing permissions and roles without replacing them.
            Permission changes take effect immediately but may take up to 30 seconds to propagate across all regions.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        permissions:
          type: array
          minItems: 1
          maxItems: 1000 # Allow extensive permission sets for complex applications
          description: |
            Grants additional permissions to the key through direct assignment or automatic creation.
            Duplicate permissions are ignored automatically, making this operation idempotent.
            Use either ID for existing permissions or slug for new permissions with optional auto-creation.

            Permission changes take effect immediately but cache propagation across regions may take up to 30 seconds.
            Adding permissions never removes existing permissions or role-based permissions.
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 3
                maxLength: 255 # Reasonable upper bound for database identifiers
                pattern: "^[a-zA-Z0-9_]+$"
                description: |
                  References an existing permission by its database identifier.
                  Use when you know the exact permission ID and want to ensure you're referencing a specific permission.
                  Takes precedence over slug when both are provided in the same object.
                  The referenced permission must already exist in your workspace.
                example: perm_1n9McEIBSqy44Qy7hzWyM5
              slug:
                type: string
                minLength: 1
                maxLength: 100 # Keep permission names concise and readable
                pattern: "^[a-zA-Z0-9_.]+$"
                description: |
                  Identifies the permission by its human-readable name using hierarchical naming patterns.
                  Use `resource.action` format for logical organization and verification flexibility.
                  Slugs must be unique within your `workspace` and support wildcard matching during verification.
                  Combined with `create=true`, allows automatic permission creation for streamlined workflows.
                example: documents.write
              create:
                type: boolean
                default: false
                description: |
                  Enables automatic permission creation when the specified slug does not exist.
                  Only works with slug-based references, not ID-based references.
                  Requires the `rbac.*.create_permission` permission on your root key.

                  Created permissions are permanent and visible workspace-wide to all API keys.
                  Use carefully to avoid permission proliferation from typos or uncontrolled creation.
                  Consider centralizing permission creation in controlled processes for better governance.
                  Auto-created permissions use the slug as both the name and identifier.
            additionalProperties: false
      additionalProperties: false
    V2KeysAddPermissionsResponseData:
      type: array
      description: |-
        Complete list of all permissions directly assigned to the key (including both newly added permissions and those that were already assigned).

        This response includes:
        - All direct permissions assigned to the key (both pre-existing and newly added)
        - Permissions sorted alphabetically by name for consistent response format
        - Both the permission ID and name for each permission

        Important notes:
        - This list does NOT include permissions granted through roles
        - For a complete permission picture, use `/v2/keys.getKey` instead
        - An empty array indicates the key has no direct permissions assigned
      items:
        type: object
        required:
          - id
          - name
          - slug
        properties:
          id:
            type: string
            description:
              The unique identifier of the permission (begins with `perm_`).
              This ID can be used in other API calls to reference this specific permission.
              IDs are guaranteed unique and won't change, making them ideal for scripting
              and automation. You can store these IDs in your system for consistent
              reference.
            example: perm_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description: "The human-readable name of the permission. "
            example: Can write documents
          slug:
            type: string
            description: |-
              The slug of the permission, typically following a `resource.action` pattern like `documents.read`.
            example: documents.write
    V2KeysAddPermissionsResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysAddPermissionsResponseData"
    V2KeysRemovePermissionsRequestBody:
      type: object
      required:
        - keyId
        - permissions
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key to remove permissions from using the database identifier returned from `keys.createKey`.
            Do not confuse this with the actual API key string that users include in requests.
            Removing permissions only affects direct assignments, not permissions inherited from roles.
            Permission changes take effect immediately but may take up to 30 seconds to propagate across all regions.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        permissions:
          type: array
          minItems: 1
          maxItems: 1000 # Allow extensive permission sets for complex applications
          description: |
            Removes direct permissions from the key without affecting role-based permissions.
            Operations are idempotent - removing non-existent permissions has no effect and causes no errors.
            Use either ID for existing permissions or name for exact string matching.

            After removal, verification checks for these permissions will fail unless granted through roles.
            Permission changes take effect immediately but cache propagation across regions may take up to 30 seconds.
            Removing all direct permissions does not disable the key, only removes its direct permission grants.
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 3
                maxLength: 255 # Reasonable upper bound for database identifiers
                pattern: "^[a-zA-Z0-9_]+$"
                description: |
                  References the permission to remove by its database identifier.
                  Use when you know the exact permission ID and want to ensure you're removing a specific permission.
                  Takes precedence over name when both are provided in the same object.
                  Essential for automation scripts where precision prevents accidental permission removal.
                example: perm_1n9McEIBSqy44Qy7hzWyM5
              slug:
                type: string
                minLength: 1
                maxLength: 100 # Keep permission slugs concise and readable
                pattern: "^[a-zA-Z0-9_.]+$"
                description: |
                  Identifies the permission by slug for removal from the key's direct assignment list.
                example: documents.write
            additionalProperties: false
      additionalProperties: false
    V2KeysRemovePermissionsResponseData:
      type: array
      description: |-
        Complete list of all permissions directly assigned to the key after the removal operation (remaining permissions only).

        This response includes:
        - All direct permissions still assigned to the key after removal
        - Permissions sorted alphabetically by name for consistent response format
        - Both the permission ID and name for each remaining permission

        Important notes:
        - This list does NOT include permissions granted through roles
        - For a complete permission picture, use `/v2/keys.getKey` instead
        - An empty array indicates the key has no direct permissions assigned
        - Any cached versions of the key are immediately invalidated to ensure consistency
        - Changes to permissions take effect within seconds for new verifications
        - All permission removals are logged to the audit log for security tracking
      items:
        type: object
        required:
          - id
          - name
          - slug
        properties:
          id:
            type: string
            description:
              The unique identifier of the permission (begins with `perm_`).
              This ID can be used in other API calls to reference this specific permission.
              IDs are guaranteed unique and won't change, making them ideal for scripting
              and automation. You can store these IDs in your system for consistent
              reference.
            example: perm_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description: The name of the permission
            example: documents.write
          slug:
            type: string
            description: |-
              The slug of the permission, typically following a `resource.action` pattern like `documents.read`. Names are human-readable identifiers used both for assignment and verification.

              During verification:
              - The exact name is matched (e.g., `documents.read`)
              - Hierarchical wildcards are supported in verification requests
              - A key with permission `documents.*` grants access to `documents.read`, `documents.write`, etc.
              - Wildcards can appear at any level: `billing.*.view` matches `billing.invoices.view` and `billing.payments.view`

              However, when adding permissions, you must specify each exact permission - wildcards are not valid for assignment.
            example: documents.write
    V2KeysRemovePermissionsResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysRemovePermissionsResponseData"
    V2KeysSetPermissionsRequestBody:
      type: object
      required:
        - keyId
        - permissions
      properties:
        keyId:
          type: string
          description:
            The unique identifier of the key to set permissions on (begins
            with 'key_'). This ID comes from the createKey response and identifies
            which key will have its permissions replaced. This is the database ID,
            not the actual API key string that users authenticate with.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        permissions:
          type: array
          description: |-
            The permissions to set for this key. This is a complete replacement operation - it overwrites all existing direct permissions with this new set.

            Key behaviors:
            - Providing an empty array removes all direct permissions from the key
            - This only affects direct permissions - permissions granted through roles are not affected
            - All existing direct permissions not included in this list will be removed
            - The complete list approach allows synchronizing permissions with external systems
            - Permission changes take effect immediately for new verifications

            Unlike addPermissions (which only adds) or removePermissions (which only removes), this endpoint performs a wholesale replacement of the permission set.
          items:
            type: object
            properties:
              id:
                type: string
                description:
                  The ID of an existing permission (begins with `perm_`).
                  Provide either ID or slug for each permission, not both. Using ID
                  is more precise and guarantees you're referencing the exact permission
                  intended, regardless of slug changes or duplicates. IDs are particularly
                  useful in automation scripts and when migrating permissions between
                  environments.
                example: perm_1n9McEIBSqy44Qy7hzWyM5
                minLength: 3
              slug:
                type: string
                description:
                  The slug of the permission. Provide either ID or slug
                  for each permission, not both. Slugs must match exactly as defined
                  in your permission system - including case sensitivity and the complete
                  hierarchical path. Slugs are generally more human-readable but can
                  be ambiguous if not carefully managed across your workspace.
                example: documents.write
                minLength: 1
              create:
                type: boolean
                description: |-
                  When true, if a permission with this slug doesn't exist, it will be automatically created on-the-fly. Only works when specifying slug, not ID.

                  SECURITY CONSIDERATIONS:
                  - Requires the `rbac.*.create_permission` permission on your root key
                  - Created permissions are permanent and visible throughout your workspace
                  - Use carefully to avoid permission proliferation and inconsistency
                  - Consider using a controlled process for permission creation instead
                  - Typos with `create=true` will create unintended permissions that persist in your system
                default: false
            additionalProperties: false
      additionalProperties: false
    V2KeysSetPermissionsResponseData:
      type: array
      description: |-
        Complete list of all permissions now directly assigned to the key after the set operation has completed.

        The response includes:
        - The comprehensive, updated set of direct permissions (reflecting the complete replacement)
        - Both ID and name for each permission for easy reference
        - Permissions sorted alphabetically by name for consistent response format

        Important notes:
        - This only shows direct permissions, not those granted through roles
        - An empty array means the key has no direct permissions assigned
        - For a complete permission picture including roles, use keys.getKey instead
        - All permission changes are logged in the audit log for security tracking
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description: The unique identifier of the permission
            example: perm_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description: The name of the permission
            example: documents.write
    V2KeysSetPermissionsResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysSetPermissionsResponseData"
    V2KeysAddRolesRequestBody:
      type: object
      required:
        - keyId
        - roles
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key receives the additional roles using the database identifier returned from `createKey`.
            Do not confuse this with the actual API key string that users include in requests.
            Added roles supplement existing roles and permissions without replacing them.
            Role assignments take effect immediately but may take up to 30 seconds to propagate across all regions.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        roles:
          type: array
          minItems: 1
          maxItems: 100 # Reasonable limit for role assignments per key
          description: |
            Assigns additional roles to the key through direct assignment to existing workspace roles.
            Operations are idempotent - adding existing roles has no effect and causes no errors.
            Use either ID for existing roles or name for human-readable references.

            All roles must already exist in the workspace - roles cannot be created automatically.
            Invalid roles cause the entire operation to fail atomically, ensuring consistent state.
            Role assignments take effect immediately but cache propagation across regions may take up to 30 seconds.
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 3
                maxLength: 255 # Reasonable upper bound for database identifiers
                pattern: "^[a-zA-Z0-9_]+$"
                description: |
                  References an existing role by its database identifier.
                  Use when you know the exact role ID and want to ensure you're referencing a specific role.
                  Takes precedence over name when both are provided in the same object.
                  Essential for automation scripts where role names might change but IDs remain stable.
                example: role_1n9McEIBSqy44Qy7hzWyM5
              name:
                type: string
                minLength: 1
                maxLength: 100 # Keep role names concise and readable
                pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
                description: |
                  Identifies the role by its human-readable name within the workspace.
                  Role names must start with a letter and contain only letters, numbers, underscores, or hyphens.
                  Names must be unique within the workspace and are case-sensitive.
                  More readable than IDs but vulnerable to integration breaks if roles are renamed.
                  Use IDs for automation and names for human-configured integrations.
                example: admin
            additionalProperties: false
      additionalProperties: false
    V2KeysAddRolesResponseData:
      type: array
      description: |-
        Complete list of all roles directly assigned to the key after the operation completes.

        The response includes:
        - All roles now assigned to the key (both pre-existing and newly added)
        - Both ID and name of each role for easy reference
        - Roles sorted alphabetically by name for consistent response format

        Important notes:
        - The response shows the complete current state after the addition
        - An empty array means the key has no roles assigned (unlikely after an add operation)
        - This only shows direct role assignments, not inherited or nested roles
        - Role permissions are not expanded in this response - use keys.getKey for full details
        - All role changes are logged in the audit log for security tracking
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description:
              The unique identifier of the role (begins with `role_`).
              This ID can be used in other API calls to reference this specific role.
              Role IDs are immutable and guaranteed to be unique within your Unkey
              workspace, making them reliable reference points for integration and
              automation systems.
            example: role_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description:
              The name of the role. This is a human-readable identifier
              that's unique within your workspace. Role names help identify what access
              level or function a role provides. Common patterns include naming by
              access level (`admin`, `editor`, `viewer`), by department (`billing_manager`,
              `support_agent`), or by feature area (`analytics_user`, `dashboard_admin`).
            example: admin
    V2KeysAddRolesResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysAddRolesResponseData"
    V2KeysRemoveRolesRequestBody:
      type: object
      required:
        - keyId
        - roles
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key loses the roles using the database identifier returned from createKey.
            Do not confuse this with the actual API key string that users include in requests.
            Removing roles only affects direct assignments, not permissions inherited from other sources.
            Role changes take effect immediately but may take up to 30 seconds to propagate across all regions.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        roles:
          type: array
          minItems: 1
          maxItems: 100 # Reasonable limit for role assignments per key
          description: |
            Removes direct role assignments from the key without affecting other role sources or permissions.
            Operations are idempotent - removing non-assigned roles has no effect and causes no errors.
            Use either ID for existing roles or name for exact string matching.

            After removal, the key loses access to permissions that were only granted through these roles.
            Role changes take effect immediately but cache propagation across regions may take up to 30 seconds.
            Invalid role references cause the entire operation to fail atomically, ensuring consistent state.
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 3
                maxLength: 255 # Reasonable upper bound for database identifiers
                pattern: "^[a-zA-Z0-9_]+$"
                description: |
                  References the role to remove by its database identifier.
                  Use when you know the exact role ID and want to ensure you're removing a specific role.
                  Takes precedence over name when both are provided in the same object.
                  Essential for automation scripts where role names might change but IDs remain stable.
                example: role_1n9McEIBSqy44Qy7hzWyM5
              name:
                type: string
                minLength: 1
                maxLength: 100 # Keep role names concise and readable
                pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
                description: |
                  Identifies the role to remove by its exact name with case-sensitive matching.
                  Must match the complete role name as currently defined in the workspace, starting with a letter and using only letters, numbers, underscores, or hyphens.
                  More readable than IDs but vulnerable to integration breaks if roles are renamed.
                  Use IDs for automation and names for human-configured integrations.
                example: admin
            additionalProperties: false
      additionalProperties: false
    V2KeysRemoveRolesResponseData:
      type: array
      description: |-
        Complete list of all roles directly assigned to the key after the removal operation completes.

        The response includes:
        - The remaining roles still assigned to the key (after removing the specified roles)
        - Both ID and name for each role for easy reference
        - Roles sorted alphabetically by name for consistent response format

        Important notes:
        - The response reflects the current state after the removal operation
        - An empty array indicates the key now has no roles assigned
        - This only shows direct role assignments
        - Role permissions are not expanded in this response - use keys.getKey for full details
        - All role changes are logged in the audit log for security tracking
        - Changes take effect immediately for new verifications but cached sessions may retain old permissions briefly
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description:
              The unique identifier of the role (begins with `role_`).
              This ID can be used in other API calls to reference this specific role.
            example: role_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description:
              The name of the role. This is a human-readable identifier
              that's unique within your workspace.
            example: admin
    V2KeysRemoveRolesResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysRemoveRolesResponseData"
    V2KeysSetRolesRequestBody:
      type: object
      required:
        - keyId
        - roles
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which key gets the complete role replacement using the database identifier returned from createKey.
            Do not confuse this with the actual API key string that users include in requests.
            This is a wholesale replacement operation that removes all existing roles not included in the request.
            Role changes take effect immediately but may take up to 30 seconds to propagate across all regions.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        roles:
          type: array
          maxItems: 100 # Reasonable limit for role assignments per key
          description: |
            Replaces all existing role assignments with this complete list of roles.
            This is a wholesale replacement operation, not an incremental update like add/remove operations.
            Use either ID for existing roles or name for human-readable references.

            Providing an empty array removes all direct role assignments from the key.
            All roles must already exist in the workspace - roles cannot be created automatically.
            Invalid role references cause the entire operation to fail atomically, ensuring consistent state.
            Role changes take effect immediately but cache propagation across regions may take up to 30 seconds.
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 3
                maxLength: 255 # Reasonable upper bound for database identifiers
                pattern: "^[a-zA-Z0-9_]+$"
                description: |
                  References an existing role by its database identifier.
                  Use when you know the exact role ID and want to ensure you're referencing a specific role.
                  Takes precedence over name when both are provided in the same object.
                  Essential for automation scripts where role names might change but IDs remain stable.
                example: role_1n9McEIBSqy44Qy7hzWyM5
              name:
                type: string
                minLength: 1
                maxLength: 100 # Keep role names concise and readable
                pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
                description: |
                  Identifies the role by its human-readable name within the workspace.
                  Role names must start with a letter and contain only letters, numbers, underscores, or hyphens.
                  Names must be unique within the workspace and are case-sensitive.
                  More readable than IDs but vulnerable to integration breaks if roles are renamed.
                  Use IDs for automation and names for human-configured integrations.
                example: admin
            additionalProperties: false
      additionalProperties: false
    V2KeysSetRolesResponseData:
      type: array
      description: |-
        Complete list of all roles now directly assigned to the key after the set operation has completed.

        The response includes:
        - The comprehensive, updated set of roles (reflecting the complete replacement)
        - Both ID and name for each role for easy reference
        - Roles sorted alphabetically by name for consistent response format

        Important notes:
        - This response shows the final state after the complete replacement
        - If you provided an empty array in the request, this will also be empty
        - This only shows direct role assignments on the key
        - Role permissions are not expanded in this response - use keys.getKey for complete details
        - All role changes are logged in the audit log for security tracking
        - An empty array indicates the key now has no roles assigned at all
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description:
              The unique identifier of the role (begins with `role_`).
              This ID can be used in other API calls to reference this specific role.
              Role IDs are immutable and guaranteed to be unique, making them reliable
              reference points for integration and automation systems.
            example: role_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description:
              The name of the role. This is a human-readable identifier
              that's unique within your workspace. Role names are descriptive labels
              that help identify what access level or function a role provides. Good
              naming practices include naming by access level ('admin', 'editor'),
              by department ('billing_team', 'support_staff'), or by feature area
              ('reporting_user', 'settings_manager').
            example: admin
    V2KeysSetRolesResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysSetRolesResponseData"
    V2KeysUpdateRemainingRequestBody:
      type: object
      required:
        - keyId
        - remaining
      properties:
        keyId:
          type: string
          description:
            The ID of the key to update (begins with `key_`). This is the
            database reference ID for the key, not the actual API key string that
            users authenticate with. This ID uniquely identifies which key's credits
            will be updated.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        remaining:
          type: integer
          format: int64
          description: |-
            The new value for the remaining credits. This is an absolute value replacement, not an increment or decrement operation.

            Key behaviors:
            - This completely replaces the current remaining credits value
            - To add credits, first get the current value and then set remaining = current + additional
            - To make a key unlimited, set remaining = -1
            - To make a key with unlimited usage have a specific limit, set remaining to a positive number
            - Credits are decremented each time the key is successfully verified (by the cost value, default 1)
            - When credits reach zero, verification fails with code=USAGE_EXCEEDED

            This field is useful for implementing usage-based pricing, subscription tiers, trial periods, or consumption quotas.
          example: 1000
        overwriteRefillSettings:
          type: boolean
          description: |-
            When true, any existing automatic refill settings will be removed from the key.

            Use cases:
            - Convert a key with automatic periodic refills to a one-time credit allocation
            - Remove subscription-like behavior in favor of manually controlled credits
            - Downgrade from an automatic plan to a fixed allocation
            - Simplify credit management by removing automated refills

            When false or omitted, existing refill settings are preserved, and only the current remaining value is updated. This lets you adjust the current balance without changing the refill schedule.
          default: false
      additionalProperties: false
    KeysUpdateRemainingResponseData:
      type: object
      required:
        - remaining
      properties:
        remaining:
          type: integer
          format: int64
          description:
            The updated remaining credits value for the key after the operation
            completes. This reflects the exact value that was set in the request.
            A value of -1 indicates unlimited usage, meaning the key can be used an
            unlimited number of times without being rejected for credit exhaustion.
            This field is guaranteed to be present in every response.
          example: 1000
        refillSettings:
          type: object
          nullable: true
          properties:
            interval:
              type: string
              enum:
                - daily
                - weekly
                - monthly
                - never
              description:
                The interval at which credits are automatically refilled.
                'daily' resets at midnight UTC, 'weekly' resets on the specified weekday
                (where 1=Monday, 7=Sunday), 'monthly' resets on the specified day
                of month, and 'never' means no automatic refills occur.
            amount:
              type: integer
              format: int64
              minimum: 1
              description:
                The number of credits added during each automatic refill.
                This is the quota that gets renewed each period, making it useful
                for implementing subscription tiers with different usage limits (e.g.,
                Basic=100/month, Pro=1000/month).
            refillDay:
              type: integer
              minimum: 1
              maximum: 31
              description:
                For monthly refills, the day of the month on which to refill
                (1-31). For weekly refills, the day of the week (1=Monday, 7=Sunday).
                This allows aligning refills with billing cycles, subscription periods,
                or other business-relevant schedules.
            lastRefillAt:
              type: string
              format: date-time
              description:
                The timestamp when the last automatic refill occurred.
                This helps track when credits were last replenished and understand
                when the next refill will occur. The timestamp is in ISO 8601 format
                (YYYY-MM-DDTHH:MM:SSZ).
          description:
            If the key has automatic refill settings, they are included
            here with their current configuration. If null, the key does not have
            automatic refills configured (either because they were removed with overwriteRefillSettings=true
            or because they were never set up). Refill settings create subscription-like
            behavior where the key automatically receives new credits on a regular
            schedule.
    V2KeysUpdateRemainingResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysUpdateRemainingResponseData"
    V2KeysCreateKeyRequestBody:
      type: object
      required:
        - apiId
      properties:
        apiId:
          type: string
          minLength: 3
          maxLength: 255 # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Specifies which API this key belongs to, providing complete isolation between environments.
            Keys from one API cannot be used to access another API, preventing cross-environment access.
            Create separate APIs for different environments (development, staging, production) and services.
          example: api_2cGKbMxRjIzhCxo1IdjH3a
        prefix:
          type: string
          minLength: 1
          maxLength: 16 # Keep prefixes short for readability
          pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Adds a visual identifier to the beginning of the generated key for easier recognition in logs and dashboards.
            The prefix becomes part of the actual key string (e.g., `prod_xxxxxxxxx`).
            Avoid using sensitive information in prefixes as they may appear in logs and error messages.
          example: prod
        name:
          type: string
          minLength: 1
          maxLength: 200 # Human-readable names should be concise but descriptive
          description: |
            Sets a human-readable identifier for internal organization and dashboard display.
            Never exposed to end users, only visible in management interfaces and API responses.
            Avoid generic names like "API Key" when managing multiple keys for the same user or service.
          example: Payment Service Production Key
        byteLength:
          type: integer
          minimum: 16 # Minimum secure key length
          maximum: 255 # Reasonable upper bound for key generation
          default: 16
          description: |
            Controls the cryptographic strength of the generated key in bytes.
            Higher values increase security but result in longer keys that may be harder to handle.
            The default 16 bytes provides 2^128 possible combinations, sufficient for most applications.
            Consider 32 bytes for highly sensitive APIs, but avoid values above 64 bytes unless specifically required.
          example: 24
        externalId:
          type: string
          minLength: 1
          maxLength: 255 # Match database varchar limits for external identifiers
          pattern: "^[a-zA-Z0-9_.-]+$"
          description: |
            Links this key to a user or entity in your system using your own identifier.
            Returned during verification to identify the key owner without additional database lookups.
            Essential for user-specific analytics, billing, and multi-tenant key management.
            Use your primary user ID, organization ID, or tenant ID for best results.
            Accepts letters, numbers, underscores, dots, and hyphens for flexible identifier formats.
          example: user_912a841d
        meta:
          type: object
          additionalProperties: true
          maxProperties: 100 # Prevent DoS while allowing rich metadata
          description: |
            Stores arbitrary JSON metadata returned during key verification for contextual information.
            Eliminates additional database lookups during verification, improving performance for stateless services.
            Avoid storing sensitive data here as it's returned in verification responses.
            Large metadata objects increase verification latency and should stay under 10KB total size.
          example:
            plan: enterprise
            featureFlags:
              betaAccess: true
              concurrentConnections: 10
            customerName: Acme Corp
            billing:
              tier: premium
              renewal: "2024-12-31"
        roles:
          type: array
          maxItems: 100 # Reasonable limit for role assignments per key
          items:
            type: string
            minLength: 1
            maxLength: 100 # Keep role names concise and readable
            pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          description: |
            Assigns existing roles to this key for permission management through role-based access control.
            Roles must already exist in your workspace before assignment.
            During verification, all permissions from assigned roles are checked against requested permissions.
            Roles provide a convenient way to group permissions and apply consistent access patterns across multiple keys.
          example:
            - api_admin
            - billing_reader
        permissions:
          type: array
          maxItems: 1000 # Allow extensive permission sets for complex applications
          items:
            type: string
            minLength: 1
            maxLength: 100 # Keep permission names concise and readable
            pattern: "^[a-zA-Z0-9_]+$"
          description: |
            Grants specific permissions directly to this key without requiring role membership.
            Use hierarchical naming patterns like `resource.action` for logical organization.
            Wildcard permissions like `documents.*` grant access to all sub-permissions including `documents.read` and `documents.write`.
            Direct permissions supplement any permissions inherited from assigned roles.
          example:
            - documents.read
            - documents.write
            - settings.view
        expires:
          type: integer
          format: int64
          minimum: 0
          maximum: 4102444800000 # January 1, 2100 - reasonable future limit
          description: |
            Sets when this key automatically expires as a Unix timestamp in milliseconds.
            Verification fails with code=EXPIRED immediately after this time passes.
            Omitting this field creates a permanent key that never expires.

            Avoid setting timestamps in the past as they immediately invalidate the key.
            Keys expire based on server time, not client time, which prevents timezone-related issues.
            Essential for trial periods, temporary access, and security compliance requiring key rotation.
          example: 1704067200000
        credits:
          "$ref": "#/components/schemas/KeyCreditsRequest"
          description: |
            Controls usage-based limits through credit consumption with optional automatic refills.
            Unlike rate limits which control frequency, credits control total usage with global consistency.
            Essential for implementing usage-based pricing, subscription tiers, and hard usage quotas.
            Omitting this field creates unlimited usage, while setting null is not allowed during creation.
        ratelimits:
          type: array
          maxItems: 50 # Reasonable limit for rate limit configurations per identity
          items:
            "$ref": "#/components/schemas/RatelimitRequest"
          description: |
            Defines time-based rate limits that protect against abuse by controlling request frequency.
            Unlike credits which track total usage, rate limits reset automatically after each window expires.
            Multiple rate limits can control different operation types with separate thresholds and windows.
            Essential for preventing API abuse while maintaining good performance for legitimate usage.
          example:
            - name: requests
              limit: 100
              duration: 60000
            - name: heavy_operations
              limit: 10
              duration: 3600000
              async: false
        enabled:
          type: boolean
          default: true
          description: |
            Controls whether the key is active immediately upon creation.
            When set to `false`, the key exists but all verification attempts fail with `code=DISABLED`.
            Useful for pre-creating keys that will be activated later or for keys requiring manual approval.
            Most keys should be created with `enabled=true` for immediate use.
          example: true
        recoverable:
          type: boolean
          default: false
          description: |
            Controls whether the plaintext key is stored in an encrypted vault for later retrieval.
            When true, allows recovering the actual key value using keys.getKey with decrypt=true.
            When false, the key value cannot be retrieved after creation for maximum security.
            Only enable for development keys or when key recovery is absolutely necessary.
          example: false
      additionalProperties: false
    KeysCreateKeyResponseData:
      type: object
      properties:
        keyId:
          type: string
          description:
            The unique identifier for this key in Unkey's system. This
            is NOT the actual API key, but a reference ID used for management operations
            like updating or deleting the key. Store this ID in your database to reference
            the key later. This ID is not sensitive and can be logged or displayed
            in dashboards.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        key:
          type: string
          description:
            "The full generated API key that should be securely provided
            to your user. SECURITY WARNING: This is the only time you'll receive
            the complete key - Unkey only stores a securely hashed version. Never
            log or store this value in your own systems; provide it directly to your
            end user via secure channels. After this API call completes, this value
            cannot be retrieved again (unless created with `recoverable=true`)."
          example: prod_2cGKbMxRjIzhCxo1IdjH3arELti7Sdyc8w6XYbvtcyuBowPT
      required:
        - keyId
        - key
    V2KeysCreateKeyResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysCreateKeyResponseData"
    Meta:
      type: object
      required:
        - requestId
      properties:
        requestId:
          description:
            A unique id for this request. Always include this ID when contacting
            support about a specific API request. This identifier allows Unkey's support
            team to trace the exact request through logs and diagnostic systems to
            provide faster assistance.
          example: req_123
          type: string
      additionalProperties: false
      description:
        Metadata object included in every API response. This provides context
        about the request and is essential for debugging, audit trails, and support
        inquiries. The `requestId` is particularly important when troubleshooting issues
        with the Unkey support team.
    Pagination:
      type: object
      properties:
        cursor:
          type: string
          minLength: 1
          maxLength: 1024 # Reasonable upper bound for cursor tokens
          description: |
            Opaque pagination token for retrieving the next page of results.
            Include this exact value in the cursor field of subsequent requests.
            Cursors are temporary and may expire after extended periods.
          example: eyJrZXkiOiJrZXlfMTIzNCIsInRzIjoxNjk5Mzc4ODAwfQ==
        hasMore:
          type: boolean
          description: |
            Indicates whether additional results exist beyond this page.
            When true, use the cursor to fetch the next page.
            When false, you have reached the end of the result set.
          example: true
      required:
        - hasMore
      additionalProperties: false
    BaseError:
      properties:
        detail:
          description:
            A human-readable explanation specific to this occurrence of
            the problem. This provides detailed information about what went wrong
            and potential remediation steps. The message is intended to be helpful
            for developers troubleshooting the issue.
          example: Property foo is required but is missing.
          type: string
        status:
          description:
            HTTP status code that corresponds to this error. This will
            match the status code in the HTTP response. Common codes include `400` (Bad
            Request), `401` (Unauthorized), `403` (Forbidden), `404` (Not Found), `409` (Conflict),
            and `500` (Internal Server Error).
          example: 404
          format: int
          type: integer
        title:
          description:
            A short, human-readable summary of the problem type. This is
            a concise, fixed string that categorizes the error and remains consistent
            between occurrences of the same error type. It provides a quick way to
            identify the category of error.
          type: string
          example: Not Found
        type:
          description:
            A URI reference to human-readable documentation for the error.
            This link points to detailed documentation about this specific error type,
            including possible causes and solutions. It's designed to help developers
            understand and resolve the issue.
          example: https://unkey.dev/errors/not-found
          format: uri
          type: string
      type: object
      required:
        - detail
        - status
        - title
        - type
      description:
        Standard error structure that provides detailed information about
        errors encountered during API operations. This follows a problem details format
        that includes both machine-readable error codes and human-readable explanations.
        All error responses in the API include this structure to provide consistent,
        actionable error information.
    ValidationError:
      additionalProperties: false
      properties:
        location:
          description: |-
            JSON path indicating exactly where in the request the error occurred. This helps pinpoint the problematic field or parameter. Examples include:
            - 'body.name' (field in request body)
            - 'body.items[3].tags' (nested array element)
            - 'path.apiId' (path parameter)
            - 'query.limit' (query parameter)

            Use this location to identify exactly which part of your request needs correction.
          type: string
          example: body.permissions[0].name
        message:
          description:
            Detailed error message explaining what validation rule was
            violated. This provides specific information about why the field or parameter
            was rejected, such as format errors, invalid values, or constraint violations.
          type: string
          example: Must be at least 3 characters long
        fix:
          description:
            A human-readable suggestion describing how to fix the error.
            This provides practical guidance on what changes would satisfy the validation
            requirements. Not all validation errors include fix suggestions, but when
            present, they offer specific remediation advice.
          type: string
          example:
            Ensure the name uses only alphanumeric characters, underscores,
            and hyphens
      type: object
      required:
        - message
        - location
      description:
        Detailed information about a specific validation error in a request.
        Each validation error pinpoints exactly what part of the request failed validation,
        why it failed, and how to fix it. Multiple validation errors may be returned
        in a single response when there are issues with multiple fields or parameters.
    BadRequestErrorDetails:
      allOf:
        - "$ref": "#/components/schemas/BaseError"
        - type: object
          properties:
            errors:
              description:
                List of individual validation errors that occurred in the
                request. Each error provides specific details about what failed validation,
                where the error occurred in the request, and suggestions for fixing
                it. This granular information helps developers quickly identify and
                resolve multiple issues in a single request without having to make repeated
                API calls.
              items:
                "$ref": "#/components/schemas/ValidationError"
              type: array
          required:
            - errors
      description:
        Extended error details specifically for bad request (400) errors.
        This builds on the BaseError structure by adding an array of individual validation
        errors that provide specific information about each validation failure in
        the request. This is particularly useful for requests with multiple fields
        that might have different validation issues simultaneously.
    NotFoundErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response when the requested resource cannot be found. This
        typically indicates that the resource either doesn't exist, has been deleted,
        or the caller doesn't have permission to see it. Common scenarios include
        looking up non-existent keys, APIs, permissions, or identities. When receiving
        this error, verify that the resource identifier is correct and that the resource
        hasn't been deleted.
    ConflictErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response for conflicts with the current state of a resource.
        This typically occurs when trying to create a resource that already exists
        (like an identity with a duplicate externalId) or when performing an operation
        that conflicts with the resource's current state. When receiving this error,
        the request should be modified to resolve the conflict before retrying, or
        a different operation should be used instead.
    UnauthorizedErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description: |-
        Error response when authentication has failed or credentials are missing. This occurs when:

        - The Authorization header is missing
        - The root key is invalid or has been revoked
        - The root key format is incorrect
        - The authentication token has expired

        To fix this error:
        1. Ensure you're including the `Authorization` header with format: `Bearer your_root_key`
        2. Verify your root key is valid and has not been revoked in the Unkey dashboard
        3. Check that you're using the correct root key for the environment
        4. If using a new key, ensure it was created successfully

        For security reasons, the specific reason for authentication failure may be intentionally vague in the error message. Check your Unkey dashboard for more detailed information about your root keys.
    ForbiddenErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description: |-
        Error response when the caller is authenticated but lacks permission to perform the requested operation. This occurs when:

        - The root key doesn't have the required permissions for the operation
        - The caller is trying to access resources from a different workspace
        - The caller is attempting to access another user's resources
        - The operation violates a policy restriction

        Unlike Unauthorized (401) which indicates authentication issues, Forbidden (403) indicates authorization problems for an authenticated caller.

        To fix this error:
        1. Check the permissions assigned to your root key in the Unkey dashboard
        2. Verify you're operating within the correct workspace
        3. Ensure you have the necessary scope to access the requested resource
        4. Request additional permissions if needed from your workspace administrator

        Permission patterns in Unkey follow a hierarchical structure:
        - 'resource.*' grants all permissions for a resource
        - 'resource.read' grants read-only access
        - 'resource.write' grants write access

        Common permission requirements for endpoints include:
        - keys.create - For creating new API keys
        - keys.read - For retrieving key information
        - keys.update - For modifying existing keys
        - keys.delete - For removing keys
        - apis.* - For managing API namespaces
    PreconditionFailedErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response for when the service is available but in a degraded
        state. This occurs when preconditions for normal operation aren't fully met.
        This could happen when dependent services are experiencing issues, when the
        system is in maintenance mode, or when certain features are temporarily disabled.
        Clients should proceed with caution and may want to retry non-critical operations
        later.
    BadRequestErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BadRequestErrorDetails"
      description:
        Error response for invalid requests that cannot be processed due
        to client-side errors. This typically occurs when request parameters are missing,
        malformed, or fail validation rules. The response includes detailed information
        about the specific errors in the request, including the location of each error
        and suggestions for fixing it. When receiving this error, check the 'errors'
        array in the response for specific validation issues that need to be addressed
        before retrying.
    InternalServerErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response for unexpected server-side issues that prevented
        the request from being processed correctly. This is typically caused by problems
        with the service infrastructure, database connectivity issues, unexpected
        exceptions, or service failures. When receiving this error, clients should
        implement appropriate retry strategies with backoff and report the issue if
        it persists. The `requestId` in the `meta` object is essential for troubleshooting
        and should be included in any support inquiries.
    Identity:
      type: object
      properties:
        id:
          type: string
          description: Identity ID
        externalId:
          type: string
          description: External identity ID
        meta:
          type: object
          description: Identity metadata
        ratelimits:
          type: array
          items:
            "$ref": "#/components/schemas/RatelimitResponse"
          description: Identity ratelimits
      required:
        - id
        - externalId
        - ratelimits
    KeyCreditsResponse:
      type: object
      description: Credit configuration and remaining balance for this key.
      properties:
        remaining:
          type: integer
          format: int64
          minimum: -1 # -1 represents unlimited
          maximum: 9223372036854775807
          description: Number of credits remaining (-1 for unlimited).
          example: 1000
        refill:
          "$ref": "#/components/schemas/KeyCreditsRefillResponse"
      required:
        - remaining
      additionalProperties: false
    KeyCreditsRefillResponse:
      type: object
      properties:
        interval:
          type: string
          enum:
            - daily
            - monthly
          description: How often credits are automatically refilled.
          example: daily
        amount:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000000
          description: Number of credits added during each refill.
          example: 100
        refillDay:
          type: integer
          minimum: 1
          maximum: 31
          description: Day of month for monthly refills (1-31).
          example: 1
        lastRefillAt:
          type: integer
          format: int64
          minimum: 0
          maximum: 9223372036854775807
          description: Unix timestamp in milliseconds of last refill.
          example: 1701425400000
      required:
        - interval
        - amount
      additionalProperties: false
    KeyCreditsRequest:
      type: object
      description: Credit configuration and remaining balance for this key.
      properties:
        remaining:
          type: integer
          format: int64
          minimum: -1 # -1 represents unlimited
          maximum: 9223372036854775807
          description: Number of credits remaining (-1 for unlimited).
          example: 1000
        refill:
          "$ref": "#/components/schemas/KeyCreditsRefillRequest"
      required:
        - remaining
      additionalProperties: false
    KeyCreditsRefillRequest:
      type: object
      properties:
        interval:
          type: string
          enum:
            - daily
            - monthly
          description: How often credits are automatically refilled.
          example: daily
        amount:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000000
          description: Number of credits added during each refill.
          example: 100
        refillDay:
          type: integer
          minimum: 1
          maximum: 31
          description: Day of month for monthly refills (1-31).
          example: 1
      required:
        - interval
        - amount
      oneOf:
        - properties:
            interval:
              const: daily
          required:
            - interval
            - amount
        - properties:
            interval:
              const: monthly
            refillDay:
              type: integer
              minimum: 1
              maximum: 31
          required:
            - interval
            - amount
            - refillDay
      additionalProperties: false
    KeyResponse:
      type: object
      properties:
        apiId:
          type: string
          minLength: 8
          maxLength: 255
          pattern: "^[a-zA-Z0-9_]+$"
        keyId:
          type: string
          minLength: 8
          maxLength: 255
          pattern: "^[a-zA-Z0-9_]+$"
          description: Unique identifier for this key.
          example: key_1234567890abcdef
        start:
          type: string
          minLength: 1
          maxLength: 50
          description: First few characters of the key for identification.
          example: sk_test_abc123
        enabled:
          type: boolean
          description: Whether the key is enabled or disabled.
          example: true
        name:
          type: string
          maxLength: 255
          description: Human-readable name for this key.
          example: Production API Key
        meta:
          type: object
          additionalProperties: true
          maxProperties: 100
          description: Custom metadata associated with this key.
          example:
            plan: premium
            region: us-east-1
        createdAt:
          type: integer
          format: int64
          minimum: 0
          maximum: 9223372036854775807
          description: Unix timestamp in milliseconds when key was created.
          example: 1701425400000
        updatedAt:
          type: integer
          format: int64
          minimum: 0
          maximum: 9223372036854775807
          description: Unix timestamp in milliseconds when key was last updated.
          example: 1701425400000
        expires:
          type: integer
          format: int64
          minimum: 0
          maximum: 9223372036854775807
          description: Unix timestamp in milliseconds when key expires.
          example: 1733000000000
        credits:
          "$ref": "#/components/schemas/KeyCreditsResponse"
        plaintext:
          type: string
          description: Decrypted key value (only when decrypt=true).
          example: sk_test_abc123def456
        roles:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 255
          description: Role names assigned to this key.
          example: ["admin", "user"]
        permissions:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 255
          description: Permission names assigned to this key.
          example: ["users.read", "posts.write"]
        identity:
          "$ref": "#/components/schemas/Identity"
        ratelimits:
          type: array
          maxItems: 50
          items:
            "$ref": "#/components/schemas/RatelimitResponse"
          description: Rate limit configurations for this key.
      required:
        - keyId
        - start
        - apiId
        - createdAt
        - enabled
      additionalProperties: false
    LivenessResponseData:
      type: object
      properties:
        message:
          description:
            Status message indicating the health of the service. A value
            of 'OK' indicates that the service is functioning properly and ready to
            accept requests. Any other value indicates a potential issue with the
            service health.
          example: OK
          type: string
      required:
        - message
      description:
        Response data for the liveness check endpoint. This provides a
        simple indication of whether the Unkey API service is running and able to
        process requests. Monitoring systems can use this endpoint to track service
        availability and trigger alerts if the service becomes unhealthy.
    RatelimitResponse:
      type: object
      properties:
        id:
          type: string
          minLength: 8
          maxLength: 255
          pattern: "^rl_[a-zA-Z0-9_]+$"
          description: Unique identifier for this rate limit configuration.
          example: rl_1234567890abcdef
        name:
          type: string
          minLength: 1
          maxLength: 128
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          description: Human-readable name for this rate limit.
          example: api_requests
        limit:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000000
          description: Maximum requests allowed within the time window.
          example: 1000
        duration:
          type: integer
          format: int64
          minimum: 1000
          maximum: 2592000000
          description: Rate limit window duration in milliseconds.
          example: 3600000
        autoApply:
          type: boolean
          description: Whether this rate limit should be automatically applied when verifying keys. This is always
          example: true
      required:
        - id
        - name
        - limit
        - duration
        - autoApply
      additionalProperties: false
    V2LivenessResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/LivenessResponseData"
    V2RatelimitSetOverrideRequestBody:
      description: |-
        Sets a new or overwrites an existing rate limit override. Overrides allow you to apply special rate limit rules to specific identifiers, providing custom limits that differ from the default.

        Overrides are useful for:
        - Granting higher limits to premium users or trusted partners
        - Implementing stricter limits for suspicious or abusive users
        - Creating tiered access levels with different quotas
        - Implementing temporary rate limit adjustments
        - Prioritizing important clients with higher limits
      additionalProperties: false
      properties:
        namespaceId:
          description:
            The unique ID of the rate limit namespace. Either `namespaceId`
            or `namespaceName` must be provided, but not both. Using `namespaceId` guarantees
            you're targeting the exact namespace intended, even if names change, making
            it ideal for automation and scripts.
          type: string
          minLength: 1
          maxLength: 255
        namespaceName:
          description:
            The name of the rate limit namespace. Either `namespaceId` or
            `namespaceName` must be provided, but not both. Using `namespaceName` is more
            human-readable and convenient for manual operations and configurations.
          type: string
        duration:
          description: |-
            The duration in milliseconds for the rate limit window. This defines how long the rate limit counter accumulates before resetting to zero.

            Considerations:
            - This can differ from the default duration for the namespace
            - Longer durations create stricter limits that take longer to reset
            - Shorter durations allow more frequent bursts of activity
            - Common values: 60000 (1 minute), 3600000 (1 hour), 86400000 (1 day)
          format: int64
          type: integer
          minimum: 1000
        identifier:
          description: |-
            Identifier of the entity receiving this custom rate limit. This can be:

            - A specific user ID for individual custom limits
            - An IP address for location-based rules
            - An email domain for organization-wide policies
            - Any other string that identifies the target entity

            Wildcards (*) can be used to create pattern-matching rules that apply to multiple identifiers. For example:
            - 'premium_*' would match all identifiers starting with 'premium_'
            - '*_admin' would match all identifiers ending with '_admin'
            - '*suspicious*' would match any identifier containing 'suspicious'

            More detailed information on wildcard pattern rules is available at https://www.unkey.com/docs/ratelimiting/overrides#wildcard-rules
          type: string
          minLength: 1
          maxLength: 255
        limit:
          description: |-
            The maximum number of requests allowed for this override. This defines the custom quota for the specified identifier(s).

            Special values:
            - Higher than default: For premium or trusted entities
            - Lower than default: For suspicious or abusive entities
            - 0: To completely block access (useful for ban implementation)

            This limit entirely replaces the default limit for matching identifiers.
          format: int64
          type: integer
          minimum: 0
      required:
        - identifier
        - limit
        - duration
      type: object
    RatelimitSetOverrideResponseData:
      type: object
      properties:
        overrideId:
          description: |-
            The unique identifier for the newly created or updated rate limit override. This ID can be used to:

            - Reference this specific override in subsequent API calls
            - Delete or modify this override later
            - Track which override is being applied in rate limit responses
            - Associate override effects with specific rules in analytics

            Store this ID if you need to manage the override in the future.
          type: string
      required:
        - overrideId
    V2RatelimitSetOverrideResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/RatelimitSetOverrideResponseData"
    V2RatelimitGetOverrideRequestBody:
      description: |-
        Gets the configuration of an existing rate limit override. Use this to retrieve details about custom rate limit rules that have been created for specific identifiers within a namespace.

        This endpoint is useful for:
        - Verifying override configurations
        - Checking current limits for specific entities
        - Auditing rate limit policies
        - Debugging rate limiting behavior
        - Retrieving override settings for modification
      additionalProperties: false
      properties:
        namespaceId:
          description:
            The unique ID of the rate limit namespace. Either `namespaceId`
            or `namespaceName` must be provided, but not both. Using `namespaceId` is
            more precise and less prone to naming conflicts, making it ideal for scripts
            and automated operations.
          type: string
          minLength: 1
          maxLength: 255
        namespaceName:
          description:
            The name of the rate limit namespace. Either `namespaceId` or
            `namespaceName` must be provided, but not both. Using `namespaceName` is more
            human-readable and easier to work with for manual operations and configurations.
          type: string
          minLength: 1
          maxLength: 255
        identifier:
          description: |-
            The exact identifier pattern for the override you want to retrieve. This must match exactly as it was specified when creating the override.

            Important notes:
            - This is case-sensitive and must match exactly
            - Include any wildcards (*) that were part of the original pattern
            - For example, if the override was created for 'premium_*', you must use 'premium_*' here, not a specific ID like 'premium_user1'

            This field is used to look up the specific override configuration for this pattern.
          type: string
          minLength: 1
          maxLength: 255
      required:
        - identifier
      type: object
    V2RatelimitGetOverrideResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/RatelimitOverride"
    V2RatelimitListOverridesRequestBody:
      additionalProperties: false
      properties:
        namespaceId:
          description:
            The unique ID of the rate limit namespace to list overrides
            for. Either `namespaceId` or `namespaceName` must be provided, but not both.
            Using `namespaceId` guarantees you're targeting the exact namespace intended,
            even if names change over time.
          type: string
          minLength: 1
          maxLength: 255
        namespaceName:
          description:
            The name of the rate limit namespace to list overrides for.
            Either `namespaceId` or `namespaceName` must be provided, but not both. Using
            `namespaceName` is more human-readable and convenient for manual operations
            and dashboards.
          type: string
        cursor:
          description:
            Pagination cursor from a previous response. Include this when
            fetching subsequent pages of results. Each response containing more results
            than the requested limit will include a cursor value in the pagination
            object that can be used here.
          type: string
        limit:
          description: |-
            Maximum number of override entries to return in a single response. Use this to control response size and loading performance.

            - Lower values (10-20): Better for UI displays and faster response times
            - Higher values (50-100): Better for data exports or bulk operations
            - Default (10): Suitable for most dashboard views

            Results exceeding this limit will be paginated, with a cursor provided for fetching subsequent pages.
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      type: object
    RatelimitListOverridesResponseData:
      type: array
      items:
        "$ref": "#/components/schemas/RatelimitOverride"
    V2RatelimitListOverridesResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/RatelimitListOverridesResponseData"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    V2RatelimitLimitRequestBody:
      additionalProperties: false
      properties:
        namespace:
          type: string
          minLength: 1
          maxLength: 255 # Reasonable upper bound for namespace identifiers
          pattern: "^[a-zA-Z][a-zA-Z0-9_./-]*$"
          description: |
            Identifies the rate limit category using hierarchical naming for organization and monitoring.
            Namespaces must start with a letter and can contain letters, numbers, underscores, dots, slashes, or hyphens.
            Use descriptive, hierarchical names like 'auth.login', 'api.requests', or 'media.uploads' for clear categorization.
            Namespaces must be unique within your workspace and support segmentation of different API operations.
            Consistent naming conventions across your application improve monitoring and debugging capabilities.
          example: sms.sign_up
        cost:
          type: integer
          format: int64
          minimum: 0
          maximum: 1000 # Reasonable upper bound for operation costs
          default: 1
          description: |
            Sets how much of the rate limit quota this request consumes, enabling weighted rate limiting.
            Use higher values for resource-intensive operations and 0 for tracking without limiting.
            When accumulated cost exceeds the limit within the duration window, subsequent requests are rejected.
            Essential for implementing fair usage policies and preventing resource abuse through expensive operations.
          example: 5
        duration:
          type: integer
          format: int64
          minimum: 1000 # 1 second minimum window
          maximum: 2592000000 # 30 days maximum window
          description: |
            Sets the rate limit window duration in milliseconds after which the counter resets.
            Shorter durations enable faster recovery but may be less effective against sustained abuse.
            Common values include 60000 (1 minute), 3600000 (1 hour), and 86400000 (24 hours).
            Balance user experience with protection needs when choosing window sizes.
          example: 60000
        identifier:
          type: string
          minLength: 1
          maxLength: 255 # Reasonable upper bound for identifiers
          pattern: "^[a-zA-Z0-9_.:/-]+$"
          description: |
            Defines the scope of rate limiting by identifying the entity being limited.
            Use user IDs for per-user limits, IP addresses for anonymous limiting, or API key IDs for per-key limits.
            Accepts letters, numbers, underscores, dots, colons, slashes, and hyphens for flexible identifier formats.
            The same identifier can be used across different namespaces to apply multiple rate limit types.
            Choose identifiers that provide appropriate granularity for your rate limiting strategy.
          example: "user_12345"
        limit:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000000 # Reasonable upper bound for rate limits
          description: |
            Sets the maximum operations allowed within the duration window before requests are rejected.
            When this limit is reached, subsequent requests fail with `RATE_LIMITED` until the window resets.
            Balance user experience with resource protection when setting limits for different user tiers.
            Consider system capacity, business requirements, and fair usage policies in limit determination.
          example: 1000
      required:
        - namespace
        - identifier
        - limit
        - duration
      type: object
    RatelimitLimitResponseData:
      type: object
      properties:
        limit:
          description: |-
            The maximum number of operations allowed within the time window. This reflects either the default limit specified in the request or an override limit if one exists for this identifier.

            This value helps clients understand their total quota for the current window.
          format: int64
          type: integer
        remaining:
          description: |-
            The number of operations remaining in the current window before the rate limit is exceeded. Applications should use this value to:

            - Implement client-side throttling before hitting limits
            - Display usage information to end users
            - Trigger alerts when approaching limits
            - Adjust request patterns based on available capacity

            When this reaches zero, requests will be rejected until the window resets.
          format: int64
          type: integer
        reset:
          description: |-
            The Unix timestamp in milliseconds when the rate limit window will reset and 'remaining' will return to 'limit'.

            This timestamp enables clients to:
            - Calculate and display wait times to users
            - Implement intelligent retry mechanisms
            - Schedule requests to resume after the reset
            - Implement exponential backoff when needed

            The reset time is based on a sliding window from the first request in the current window.
          format: int64
          type: integer
        success:
          description: |-
[...]
