# Code generated by generate_bundle.go; DO NOT EDIT.
# Generated at: 2025-07-18T13:48:01Z
# Source: openapi-split.yaml

openapi: 3.0.0
info:
    title: Unkey API
    version: 2.0.0
    description: |-
        Unkey's API provides programmatic access for all resources within our platform.


        ### Authentication
        #
        This API uses HTTP Bearer authentication with root keys. Most endpoints require specific permissions associated with your root key. When making requests, include your root key in the `Authorization` header:
        ```
        Authorization: Bearer unkey_xxxxxxxxxxx
        ```

        All responses follow a consistent envelope structure that separates operational metadata from actual data. This design provides several benefits:
        - Debugging: Every response includes a unique requestId for tracing issues
        - Consistency: Predictable response format across all endpoints
        - Extensibility: Easy to add new metadata without breaking existing integrations
        - Error Handling: Unified error format with actionable information

        ### Success Response Format:
        ```json
        {
          "meta": {
            "requestId": "req_123456"
          },
          "data": {
            // Actual response data here
          }
        }
        ```

        The meta object contains operational information:
        - `requestId`: Unique identifier for this request (essential for support)

        The data object contains the actual response data specific to each endpoint.

        ### Paginated Response Format:
        ```json
        {
          "meta": {
            "requestId": "req_123456"
          },
          "data": [
            // Array of results
          ],
          "pagination": {
            "cursor": "next_page_token",
            "hasMore": true
          }
        }
        ```

        The pagination object appears on list endpoints and contains:
        - `cursor`: Token for requesting the next page
        - `hasMore`: Whether more results are available

        ### Error Response Format:
        ```json
        {
          "meta": {
            "requestId": "req_2c9a0jf23l4k567"
          },
          "error": {
            "detail": "The resource you are attempting to modify is protected and cannot be changed",
            "status": 403,
            "title": "Forbidden",
            "type": "https://unkey.com/docs/api-reference/errors-v2/unkey/application/protected_resource"
          }
        }
        ```

        Error responses include comprehensive diagnostic information:
        - `title`: Human-readable error summary
        - `detail`: Specific description of what went wrong
        - `status`: HTTP status code
        - `type`: Link to error documentation
        - `errors`: Array of validation errors (for 400 responses)

        This structure ensures you always have the context needed to debug issues and take corrective action.
servers:
    - url: https://api.unkey.com
x-speakeasy-retries:
    strategy: backoff
    backoff:
        initialInterval: 50
        maxInterval: 1000
        maxElapsedTime: 10000
        exponent: 1.5
    statusCodes:
        - 5XX
    retryConnectionErrors: true
security:
    - rootKey: []
paths:
    /v2/keys.setPermissions:
        $ref: "#/components/pathItems/index"
    /v2/keys.updateKey:
        $ref: "#/components/pathItems/index__updateKey"
    /v2/keys.removePermissions:
        $ref: "#/components/pathItems/index__removePermissions"
    /v2/keys.addRoles:
        $ref: "#/components/pathItems/index__addRoles"
    /v2/keys.addPermissions:
        $ref: "#/components/pathItems/index__addPermissions"
    /v2/keys.removeRoles:
        $ref: "#/components/pathItems/index__removeRoles"
    /v2/keys.updateCredits:
        $ref: "#/components/pathItems/index__updateCredits"
    /v2/keys.setRoles:
        $ref: "#/components/pathItems/index__setRoles"
    /v2/keys.deleteKey:
        $ref: "#/components/pathItems/index__deleteKey"
    /v2/keys.getKey:
        $ref: "#/components/pathItems/index__getKey"
    /v2/keys.createKey:
        $ref: "#/components/pathItems/index__createKey"
    /v2/keys.verifyKey:
        $ref: "#/components/pathItems/index__verifyKey"
    /v2/apis.createApi:
        $ref: "#/components/pathItems/index__createApi"
    /v2/apis.deleteApi:
        $ref: "#/components/pathItems/index__deleteApi"
    /v2/apis.getApi:
        $ref: "#/components/pathItems/index__getApi"
    /v2/apis.listKeys:
        $ref: "#/components/pathItems/index__listKeys"
    /v2/identities.createIdentity:
        $ref: "#/components/pathItems/index__createIdentity"
    /v2/identities.getIdentity:
        $ref: "#/components/pathItems/index__getIdentity"
    /v2/identities.listIdentities:
        $ref: "#/components/pathItems/index__listIdentities"
    /v2/identities.deleteIdentity:
        $ref: "#/components/pathItems/index__deleteIdentity"
    /v2/identities.updateIdentity:
        $ref: "#/components/pathItems/index__updateIdentity"
    /v2/ratelimit.limit:
        $ref: "#/components/pathItems/index__limit"
    /v2/ratelimit.setOverride:
        $ref: "#/components/pathItems/index__setOverride"
    /v2/ratelimit.getOverride:
        $ref: "#/components/pathItems/index__getOverride"
    /v2/ratelimit.listOverrides:
        $ref: "#/components/pathItems/index__listOverrides"
    /v2/ratelimit.deleteOverride:
        $ref: "#/components/pathItems/index__deleteOverride"
    /v2/permissions.listRoles:
        $ref: "#/components/pathItems/index__listRoles"
    /v2/permissions.createRole:
        $ref: "#/components/pathItems/index__createRole"
    /v2/permissions.createPermission:
        $ref: "#/components/pathItems/index__createPermission"
    /v2/permissions.getPermission:
        $ref: "#/components/pathItems/index__getPermission"
    /v2/permissions.listPermissions:
        $ref: "#/components/pathItems/index__listPermissions"
    /v2/permissions.deletePermission:
        $ref: "#/components/pathItems/index__deletePermission"
    /v2/permissions.deleteRole:
        $ref: "#/components/pathItems/index__deleteRole"
    /v2/permissions.getRole:
        $ref: "#/components/pathItems/index__getRole"
components:
    securitySchemes:
        rootKey:
            type: http
            scheme: bearer
            bearerFormat: root key
            description: |-
                Unkey uses API keys (root keys) for authentication. These keys authorize access to management operations in the API.
                To authenticate, include your root key in the Authorization header of each request:
                ```
                Authorization: Bearer unkey_123
                ```
                Root keys have specific permissions attached to them, controlling what operations they can perform. Key permissions follow a hierarchical structure with patterns like `resource.resource_id.action` (e.g., `apis.*.create_key`, `apis.*.read_api`).
                Security best practices:
                - Keep root keys secure and never expose them in client-side code
                - Use different root keys for different environments
                - Rotate keys periodically, especially after team member departures
                - Create keys with minimal necessary permissions following least privilege principle
                - Monitor key usage with audit logs.
    schemas:
        meta:
            type: object
            required:
                - requestId
            properties:
                requestId:
                    description: A unique id for this request. Always include this ID when contacting support about a specific API request. This identifier allows Unkey's support team to trace the exact request through logs and diagnostic systems to provide faster assistance.
                    example: req_123
                    type: string
            additionalProperties: false
            description: Metadata object included in every API response. This provides context about the request and is essential for debugging, audit trails, and support inquiries. The `requestId` is particularly important when troubleshooting issues with the Unkey support team.
        badRequestError:
            type: object
            required:
                - meta
                - error
            properties:
                meta:
                    $ref: "#/components/schemas/meta"
                error:
                    $ref: "#/components/schemas/badRequestErrorDetails"
            description: Error response for invalid requests that cannot be processed due to client-side errors. This typically occurs when request parameters are missing, malformed, or fail validation rules. The response includes detailed information about the specific errors in the request, including the location of each error and suggestions for fixing it. When receiving this error, check the 'errors' array in the response for specific validation issues that need to be addressed before retrying.
        badRequestErrorDetails:
            allOf:
                - $ref: "#/components/schemas/baseError"
                - type: object
                  properties:
                    errors:
                        description: List of individual validation errors that occurred in the request. Each error provides specific details about what failed validation, where the error occurred in the request, and suggestions for fixing it. This granular information helps developers quickly identify and resolve multiple issues in a single request without having to make repeated API calls.
                        items:
                            $ref: "#/components/schemas/validationError"
                        type: array
                  required:
                    - errors
            description: Extended error details specifically for bad request (400) errors. This builds on the BaseError structure by adding an array of individual validation errors, making it easy to identify and fix multiple issues at once.
        baseError:
            properties:
                detail:
                    description: A human-readable explanation specific to this occurrence of the problem. This provides detailed information about what went wrong and potential remediation steps. The message is intended to be helpful for developers troubleshooting the issue.
                    example: Property foo is required but is missing.
                    type: string
                status:
                    description: HTTP status code that corresponds to this error. This will match the status code in the HTTP response. Common codes include `400` (Bad Request), `401` (Unauthorized), `403` (Forbidden), `404` (Not Found), `409` (Conflict), and `500` (Internal Server Error).
                    example: 404
                    format: int
                    type: integer
                title:
                    description: A short, human-readable summary of the problem type. This remains constant from occurrence to occurrence of the same problem and should be used for programmatic handling.
                    example: Not Found
                    type: string
                type:
                    description: A URI reference that identifies the problem type. This provides a stable identifier for the error that can be used for documentation lookups and programmatic error handling. When followed, this URI should provide human-readable documentation for the problem type.
                    example: https://unkey.com/docs/api-reference/errors-v2/unkey/resource/not_found
                    type: string
            required:
                - title
                - detail
                - status
                - type
            type: object
            additionalProperties: false
            description: Base error structure following Problem Details for HTTP APIs (RFC 7807). This provides a standardized way to carry machine-readable details of errors in HTTP response content.
        validationError:
            additionalProperties: false
            properties:
                location:
                    description: |-
                        JSON path indicating exactly where in the request the error occurred. This helps pinpoint the problematic field or parameter. Examples include:
                        - 'body.name' (field in request body)
                        - 'body.items[3].tags' (nested array element)
                        - 'path.apiId' (path parameter)
                        - 'query.limit' (query parameter)
                        Use this location to identify exactly which part of your request needs correction.
                    type: string
                    example: body.permissions[0].name
                message:
                    description: Detailed error message explaining what validation rule was violated. This provides specific information about why the field or parameter was rejected, such as format errors, invalid values, or constraint violations.
                    type: string
                    example: Must be at least 3 characters long
                fix:
                    description: A human-readable suggestion describing how to fix the error. This provides practical guidance on what changes would satisfy the validation requirements. Not all validation errors include fix suggestions, but when present, they offer specific remediation advice.
                    type: string
                    example: Ensure the name uses only alphanumeric characters, underscores, and hyphens
            required:
                - location
                - message
            type: object
            description: Individual validation error details. Each validation error provides precise information about what failed, where it failed, and how to fix it, enabling efficient error resolution.
        unauthorizedError:
            type: object
            required:
                - meta
                - error
            properties:
                meta:
                    $ref: "#/components/schemas/meta"
                error:
                    $ref: "#/components/schemas/baseError"
            description: |-
                Error response when authentication has failed or credentials are missing. This occurs when:
                - No authentication token is provided in the request
                - The provided token is invalid, expired, or malformed
                - The token format doesn't match expected patterns

                To resolve this error, ensure you're including a valid root key in the Authorization header.
        forbiddenError:
            type: object
            required:
                - meta
                - error
            properties:
                meta:
                    $ref: "#/components/schemas/meta"
                error:
                    $ref: "#/components/schemas/baseError"
            description: |-
                Error response when the provided credentials are valid but lack sufficient permissions for the requested operation. This occurs when:
                - The root key doesn't have the required permissions for this endpoint
                - The operation requires elevated privileges that the current key lacks
                - Access to the requested resource is restricted based on workspace settings

                To resolve this error, ensure your root key has the necessary permissions or contact your workspace administrator.
        notFoundError:
            type: object
            required:
                - meta
                - error
            properties:
                meta:
                    $ref: "#/components/schemas/meta"
                error:
                    $ref: "#/components/schemas/baseError"
            description: |-
                Error response when the requested resource cannot be found. This occurs when:
                - The specified resource ID doesn't exist in your workspace
                - The resource has been deleted or moved
                - The resource exists but is not accessible with current permissions

                To resolve this error, verify the resource ID is correct and that you have access to it.
        internalServerError:
            type: object
            required:
                - meta
                - error
            properties:
                meta:
                    $ref: "#/components/schemas/meta"
                error:
                    $ref: "#/components/schemas/baseError"
            description: |-
                Error response when an unexpected error occurs on the server. This indicates a problem with Unkey's systems rather than your request.

                When you encounter this error:
                - The request ID in the response can help Unkey support investigate the issue
                - The error is likely temporary and retrying may succeed
                - If the error persists, contact Unkey support with the request ID
        RatelimitRequest:
            type: object
            required:
                - name
                - limit
                - duration
                - autoApply
            properties:
                name:
                    description: |-
                        The name of this rate limit. This name is used to identify which limit to check during key verification.

                        Best practices for limit names:
                        - Use descriptive, semantic names like 'api_requests', 'heavy_operations', or 'downloads'
                        - Be consistent with naming conventions across your application
                        - Create separate limits for different resource types or operation costs
                        - Consider using namespaced names for better organization (e.g., 'files.downloads', 'compute.training')

                        You will reference this exact name when verifying keys to check against this specific limit.
                    type: string
                    example: api
                    minLength: 3
                    maxLength: 128
                limit:
                    description: |-
                        The maximum number of operations allowed within the specified time window.

                        When this limit is reached, verification requests will fail with `code=RATE_LIMITED` until the window resets. The limit should reflect:
                        - Your infrastructure capacity and scaling limitations
                        - Fair usage expectations for your service
                        - Different tier levels for various user types
                        - The relative cost of the operations being limited

                        Higher values allow more frequent access but may impact service performance.
                    type: integer
                    format: int64
                    minimum: 1
                duration:
                    description: |-
                        The duration for each ratelimit window in milliseconds.

                        This controls how long the rate limit counter accumulates before resetting. Common values include:
                        - 1000 (1 second): For strict per-second limits on high-frequency operations
                        - 60000 (1 minute): For moderate API usage control
                        - 3600000 (1 hour): For less frequent but costly operations
                        - 86400000 (24 hours): For daily quotas

                        Shorter windows provide more frequent resets but may allow large burst usage. Longer windows provide more consistent usage patterns but take longer to reset after limit exhaustion.
                    type: integer
                    format: int64
                    minimum: 1000
                autoApply:
                    description: |-
                        Whether this ratelimit should be automatically applied when verifying a key.
                    type: boolean
                    default: false
        pagination:
            type: object
            properties:
                cursor:
                    type: string
                    minLength: 1
                    maxLength: 1024
                    description: |
                        Opaque pagination token for retrieving the next page of results.
                        Include this exact value in the cursor field of subsequent requests.
                        Cursors are temporary and may expire after extended periods.
                    example: eyJrZXkiOiJrZXlfMTIzNCIsInRzIjoxNjk5Mzc4ODAwfQ==
                hasMore:
                    type: boolean
                    description: |
                        Indicates whether additional results exist beyond this page.
                        When true, use the cursor to fetch the next page.
                        When false, you have reached the end of the result set.
                    example: true
            required:
                - hasMore
            additionalProperties: false
            description: Pagination metadata for list endpoints. Provides information necessary to traverse through large result sets efficiently using cursor-based pagination.
        key:
            type: object
            properties:
                keyId:
                    type: string
                    minLength: 8
                    maxLength: 255
                    pattern: "^[a-zA-Z0-9_]+$"
                    description: Unique identifier for this key.
                    example: key_1234567890abcdef
                start:
                    type: string
                    minLength: 1
                    maxLength: 50
                    description: First few characters of the key for identification.
                    example: sk_test_abc123
                enabled:
                    type: boolean
                    description: Whether the key is enabled or disabled.
                    example: true
                name:
                    type: string
                    maxLength: 255
                    description: Human-readable name for this key.
                    example: Production API Key
                meta:
                    type: object
                    additionalProperties: true
                    maxProperties: 100
                    description: Custom metadata associated with this key.
                    example:
                        plan: premium
                        region: us-east-1
                createdAt:
                    type: integer
                    format: int64
                    minimum: 0
                    maximum: 9223372036854776000
                    description: Unix timestamp in milliseconds when key was created.
                    example: 1701425400000
                updatedAt:
                    type: integer
                    format: int64
                    minimum: 0
                    maximum: 9223372036854776000
                    description: Unix timestamp in milliseconds when key was last updated.
                    example: 1701425400000
                expires:
                    type: integer
                    format: int64
                    minimum: 0
                    maximum: 9223372036854776000
                    description: Unix timestamp in milliseconds when key expires (if set).
                    example: 1735689600000
                externalId:
                    type: string
                    maxLength: 255
                    description: External identifier linking this key to an entity in your system.
                    example: user_12345
                permissions:
                    type: array
                    items:
                        type: string
                    description: List of permissions granted to this key.
                    example:
                        - documents.read
                        - documents.write
                roles:
                    type: array
                    items:
                        type: string
                    description: List of roles assigned to this key.
                    example:
                        - editor
                        - viewer
                credits:
                    type: object
                    properties:
                        remaining:
                            type: integer
                            format: int64
                            description: Number of credits remaining for this key.
                        refill:
                            type: object
                            properties:
                                interval:
                                    type: string
                                    enum:
                                        - daily
                                        - monthly
                                    description: How often credits are refilled.
                                amount:
                                    type: integer
                                    format: int64
                                    description: Number of credits added during refill.
                                refillDay:
                                    type: integer
                                    minimum: 1
                                    maximum: 31
                                    description: Day of month for monthly refills.
                    description: Credit system information for this key.
                ratelimits:
                    type: array
                    items:
                        type: object
                        properties:
                            name:
                                type: string
                                description: Name of the rate limit.
                            limit:
                                type: integer
                                description: Maximum requests allowed.
                            duration:
                                type: integer
                                description: Duration in milliseconds.
                    description: Rate limit configuration for this key.
            required:
                - keyId
                - enabled
                - createdAt
            additionalProperties: false
        conflictError:
            type: object
            required:
                - meta
                - error
            properties:
                meta:
                    $ref: "#/components/schemas/meta"
                error:
                    $ref: "#/components/schemas/baseError"
            description: |-
                Error response when the request conflicts with the current state of the resource. This occurs when:
                - Attempting to create a resource that already exists
                - Modifying a resource that has been changed by another operation
                - Violating unique constraints or business rules

                To resolve this error, check the current state of the resource and adjust your request accordingly.
        RatelimitResponse:
            type: object
            properties:
                id:
                    type: string
                    minLength: 8
                    maxLength: 255
                    pattern: "^rl_[a-zA-Z0-9_]+$"
                    description: Unique identifier for this rate limit configuration.
                    example: rl_1234567890abcdef
                name:
                    type: string
                    minLength: 1
                    maxLength: 128
                    pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
                    description: Human-readable name for this rate limit.
                    example: api_requests
                limit:
                    type: integer
                    format: int64
                    minimum: 1
                    maximum: 1000000
                    description: Maximum requests allowed within the time window.
                    example: 1000
                duration:
                    type: integer
                    format: int64
                    minimum: 1000
                    maximum: 2592000000
                    description: Rate limit window duration in milliseconds.
                    example: 3600000
                autoApply:
                    type: boolean
                    description: Whether this rate limit was automatically applied when verifying the key.
                    example: true
            required:
                - id
                - name
                - limit
                - duration
                - autoApply
            additionalProperties: false
        RatelimitOverride:
            type: object
            additionalProperties: false
            properties:
                namespaceId:
                    description: The unique identifier of the rate limit namespace this override belongs to. This links the override to a specific namespace context, ensuring the override only applies within that namespace.
                    type: string
                    minLength: 1
                    maxLength: 255
                overrideId:
                    description: The unique identifier of this specific rate limit override. This ID is generated when the override is created and can be used for management operations like updating or deleting the override.
                    type: string
                    minLength: 1
                    maxLength: 255
                duration:
                    description: The duration in milliseconds for this override's rate limit window. This may differ from the default duration for the namespace, allowing custom time windows for specific entities. After this duration elapses, the rate limit counter for affected identifiers resets to zero.
                    format: int64
                    type: integer
                    minimum: 1000
                identifier:
                    description: |-
                        The identifier pattern this override applies to. This determines which entities receive the custom rate limit.

                        This can be:
                        - An exact identifier for a specific entity
                        - A pattern with wildcards for matching multiple entities

                        Wildcard examples:
                        - 'admin_*' matches any identifier starting with 'admin_'
                        - '*_test' matches any identifier ending with '_test'
                        - '*premium*' matches any identifier containing 'premium'

                        More complex patterns can combine multiple wildcards. Detailed documentation on pattern matching rules is available at https://www.unkey.com/docs/ratelimiting/overrides#wildcard-rules
                    type: string
                    minLength: 1
                    maxLength: 255
                limit:
                    description: |-
                        The maximum number of requests allowed for entities matching this override. This replaces the default limit for the namespace when applied.

                        Common use cases:
                        - Higher limits for premium customers
                        - Reduced limits for abusive or suspicious entities
                        - Zero limit to completely block specific patterns
                        - Custom tier-based limits for different customer segments
                    format: int64
                    type: integer
                    minimum: 0
            required:
                - namespaceId
                - overrideId
                - duration
                - identifier
                - limit
        Role:
            type: object
            properties:
                id:
                    type: string
                    minLength: 3
                    maxLength: 255
                    pattern: "^[a-zA-Z0-9_]+$"
                    description: |
                        The unique identifier for this role within Unkey's system.
                        Generated automatically when the role is created and used to reference this role in API operations.
                        Always begins with 'role_' followed by alphanumeric characters and underscores.
                    example: role_1234567890abcdef
                name:
                    type: string
                    minLength: 1
                    maxLength: 512
                    description: |
                        The human-readable name for this role that describes its function.
                        Should be descriptive enough for administrators to understand what access this role provides.
                        Use clear, semantic names that reflect the job function or responsibility level.
                        Names must be unique within your workspace to avoid confusion during role assignment.
                    example: "support.readonly"
                description:
                    type: string
                    maxLength: 2048
                    description: |
                        Optional detailed explanation of what this role encompasses and what access it provides.
                        Helps team members understand the role's scope, intended use cases, and security implications.
                        Include information about what types of users should receive this role and what they can accomplish.
                        Not visible to end users - this is for internal documentation and access control audits.
                    example: "Provides read-only access for customer support representatives to view user accounts and support tickets"
                createdAt:
                    type: integer
                    format: int64
                    minimum: 0
                    maximum: 9223372036854776000
                    description: |
                        Unix timestamp in milliseconds indicating when this role was first created.
                        Useful for auditing and understanding the evolution of your access control structure.
                        Automatically set by the system and cannot be modified.
                    example: 1701425400000
                permissions:
                    type: array
                    items:
                        "$ref": "#/components/schemas/Permission"
                    maxItems: 100
                    description: |
                        Complete list of permissions currently assigned to this role.
                        Each permission grants specific access rights that will be inherited by any keys or users assigned this role.
                        Use this list to understand the full scope of access provided by this role.
                        Permissions can be added or removed from roles without affecting the role's identity or other properties.
                        Empty array indicates a role with no permissions currently assigned.
            required:
                - id
                - name
                - permissions
                - createdAt
            additionalProperties: false
        Permission:
            type: object
            properties:
                id:
                    type: string
                    minLength: 3
                    maxLength: 255
                    pattern: "^[a-zA-Z0-9_]+$"
                    description: |
                        The unique identifier for this permission within Unkey's system.
                        Generated automatically when the permission is created and used to reference this permission in API operations.
                        Always begins with 'perm_' followed by alphanumeric characters and underscores.
                    example: perm_1234567890abcdef
                name:
                    type: string
                    minLength: 1
                    maxLength: 512
                    description: |
                        The human-readable name for this permission that describes its purpose.
                        Should be descriptive enough for developers to understand what access it grants.
                        Use clear, semantic names that reflect the resources or actions being permitted.
                        Names must be unique within your workspace to avoid confusion and conflicts.
                    example: "users.read"
                slug:
                    type: string
                    minLength: 1
                    maxLength: 512
                    description: |
                        The URL-safe identifier when this permission was created.
                    example: users-read
                description:
                    type: string
                    maxLength: 2048
                    description: |
                        Optional detailed explanation of what this permission grants access to.
                        Helps team members understand the scope and implications of granting this permission.
                        Include information about what resources can be accessed and what actions can be performed.
                        Not visible to end users - this is for internal documentation and team clarity.
                    example: "Allows reading user profile information and account details"
                createdAt:
                    type: integer
                    format: int64
                    minimum: 0
                    maximum: 9223372036854776000
                    description: |
                        Unix timestamp in milliseconds indicating when this permission was first created.
                        Useful for auditing and understanding the evolution of your permission structure.
                        Automatically set by the system and cannot be modified.
                    example: 1701425400000
            required:
                - id
                - name
                - slug
                - createdAt
    responses:
        badRequestErrorResponse:
            description: |-
                Bad Request - Invalid request format, missing required fields, or validation errors
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/badRequestError"
                    examples:
                        validationError:
                            summary: Validation error example
                            value:
                                meta:
                                    requestId: req_2c9a0jf23l4k567
                                error:
                                    detail: Request failed validation due to invalid field values
                                    status: 400
                                    title: Bad Request
                                    type: https://unkey.com/docs/api-reference/errors-v2/unkey/client/validation_error
                                    errors:
                                        - location: body.permissions[0].name
                                          message: Must be at least 3 characters long
                                          fix: Ensure the name uses only alphanumeric characters, underscores, and hyphens
        unauthorizedErrorResponse:
            description: |-
                Unauthorized - Missing or invalid authentication credentials
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/unauthorizedError"
                    examples:
                        invalidToken:
                            summary: Invalid authentication token
                            value:
                                meta:
                                    requestId: req_2c9a0jf23l4k567
                                error:
                                    detail: The provided authentication token is invalid or has expired
                                    status: 401
                                    title: Unauthorized
                                    type: https://unkey.com/docs/api-reference/errors-v2/unkey/auth/invalid_token
        forbiddenErrorResponse:
            description: |-
                Forbidden - Insufficient permissions to access the requested resource
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/forbiddenError"
                    examples:
                        insufficientPermissions:
                            summary: Insufficient permissions
                            value:
                                meta:
                                    requestId: req_2c9a0jf23l4k567
                                error:
                                    detail: Your root key lacks the required permissions for this operation
                                    status: 403
                                    title: Forbidden
                                    type: https://unkey.com/docs/api-reference/errors-v2/unkey/auth/insufficient_permissions
        notFoundErrorResponse:
            description: |-
                Not Found - The requested resource does not exist
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/notFoundError"
                    examples:
                        resourceNotFound:
                            summary: Resource not found
                            value:
                                meta:
                                    requestId: req_2c9a0jf23l4k567
                                error:
                                    detail: The requested resource could not be found
                                    status: 404
                                    title: Not Found
                                    type: https://unkey.com/docs/api-reference/errors-v2/unkey/resource/not_found
        internalServerErrorResponse:
            description: |-
                Internal Server Error - An unexpected error occurred on the server
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/internalServerError"
                    examples:
                        serverError:
                            summary: Internal server error
                            value:
                                meta:
                                    requestId: req_2c9a0jf23l4k567
                                error:
                                    detail: An unexpected error occurred while processing your request
                                    status: 500
                                    title: Internal Server Error
                                    type: https://unkey.com/docs/api-reference/errors-v2/unkey/server/internal_error
        conflictErrorResponse:
            description: |-
                Conflict - The request conflicts with the current state of the resource
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/conflictError"
                    examples:
                        duplicateResource:
                            summary: Duplicate resource
                            value:
                                meta:
                                    requestId: req_2c9a0jf23l4k567
                                error:
                                    detail: A resource with this identifier already exists
                                    status: 409
                                    title: Conflict
                                    type: https://unkey.com/docs/api-reference/errors-v2/unkey/resource/conflict
    pathItems:
        index:
            post:
                tags:
                    - keys
                summary: Set (replace) all permissions on an API key
                description: |-
                    Sets the permissions for an existing API key by replacing all existing direct permissions with the provided set. This is a complete replacement operation - permissions not specified in the request will be removed.
                    Use this endpoint when you want to:
                    - Synchronize API key permissions with an external system
                    - Reset a key's permissions to a known state
                    - Apply a standardized permission template to a key
                    - Remove all permissions from a key (by providing an empty array)
                    - Fix over-permissioned keys by applying the precise set needed
                    Key differences from other endpoints:
                    - Unlike addPermissions, this replaces all permissions instead of just adding
                    - Unlike removePermissions, this sets the complete state rather than removing specific permissions
                    - The advantage is atomic replacement in a single operation versus multiple incremental changes
                    Only direct permissions are affected - permissions granted through roles remain unchanged. Changes take effect immediately for new verifications, though existing authorized sessions may continue until their cache expires (typically under 30 seconds).
                operationId: setPermissions
                x-speakeasy-name-override: setPermissions
                security:
                    - rootKey: []
                requestBody:
                    required: true
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - keyId
                                    - permissions
                                properties:
                                    keyId:
                                        type: string
                                        description: The unique identifier of the key to set permissions on (begins with 'key_'). This ID comes from the createKey response and identifies which key will have its permissions replaced. This is the database ID, not the actual API key string that users authenticate with.
                                        example: key_2cGKbMxRyIzhCxo1Idjz8q
                                        minLength: 3
                                    permissions:
                                        type: array
                                        description: |-
                                            The permissions to set for this key. This is a complete replacement operation - it overwrites all existing direct permissions with this new set.
                                            Key behaviors:
                                            - Providing an empty array removes all direct permissions from the key
                                            - This only affects direct permissions - permissions granted through roles are not affected
                                            - All existing direct permissions not included in this list will be removed
                                            - The complete list approach allows synchronizing permissions with external systems
                                            - Permission changes take effect immediately for new verifications
                                            Unlike addPermissions (which only adds) or removePermissions (which only removes), this endpoint performs a wholesale replacement of the permission set.
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: string
                                                    description: The ID of an existing permission (begins with `perm_`). Provide either ID or slug for each permission, not both. Using ID is more precise and guarantees you're referencing the exact permission intended, regardless of slug changes or duplicates. IDs are particularly useful in automation scripts and when migrating permissions between environments.
                                                    example: perm_1n9McEIBSqy44Qy7hzWyM5
                                                    minLength: 3
                                                slug:
                                                    type: string
                                                    description: The slug of the permission. Provide either ID or slug for each permission, not both. Slugs must match exactly as defined in your permission system - including case sensitivity and the complete hierarchical path. Slugs are generally more human-readable but can be ambiguous if not carefully managed across your workspace.
                                                    example: documents.write
                                                    minLength: 1
                                                create:
                                                    type: boolean
                                                    description: |-
                                                        When true, if a permission with this slug doesn't exist, it will be automatically created on-the-fly. Only works when specifying slug, not ID.
                                                        SECURITY CONSIDERATIONS:
                                                        - Requires the `rbac.*.create_permission` permission on your root key
                                                        - Created permissions are permanent and visible throughout your workspace
                                                        - Use carefully to avoid permission proliferation and inconsistency
                                                        - Consider using a controlled process for permission creation instead
                                                        - Typos with `create=true` will create unintended permissions that persist in your system
                                                    default: false
                                            additionalProperties: false
                                additionalProperties: false
                            examples:
                                removeAll:
                                    summary: Remove all permissions from key
                                    description: This example won't work as expected! The permissions array must contain at least one permission to remove. To remove all permissions, use the setPermissions endpoint with an empty permissions array instead.
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        permissions: []
                                basic:
                                    summary: Set permissions using IDs
                                    description: Using permission IDs is the most precise approach for setting permissions, especially in automation scripts where exact references are important.
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        permissions:
                                            - id: perm_1n9McEIBSqy44Qy7hzWyM5
                                            - id: perm_2zF4mNyP9BsRj2aQwDxVkT
                                withNames:
                                    summary: Add permissions using slugs
                                    description: Using permission slugs is more readable and maintainable. Slugs must be unique within your workspace.
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        permissions:
                                            - slug: documents.write
                                            - slug: documents.delete
                                withCreation:
                                    summary: Set with permission creation
                                    description: This example demonstrates setting permissions while simultaneously creating new ones that don't exist yet. Requires the `rbac.*.create_permission` permission on your root key.
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        permissions:
                                            - slug: documents.write
                                            - slug: reports.export
                                              create: true
                                            - name: reports.schedule
                                              create: true
                                mixed:
                                    summary: Mix of ID and name references
                                    description: You can combine different reference methods in a single request - some permissions by ID, others by name, and even create new ones on the fly.
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        permissions:
                                            - id: perm_1n9McEIBSqy44Qy7hzWyM5
                                            - slug: documents.delete
                                            - slug: reports.view
                                              create: true
                responses:
                    "200":
                        description: Permissions successfully set on the key. The previous direct permission set has been completely replaced with the new set specified in the request.
                        content:
                            application/json:
                                schema:
                                    type: object
                                    required:
                                        - meta
                                        - data
                                    properties:
                                        meta:
                                            $ref: "#/components/schemas/meta"
                                        data:
                                            type: array
                                            description: |-
                                                Complete list of all permissions now directly assigned to the key after the set operation has completed.
                                                The response includes:
                                                - The comprehensive, updated set of direct permissions (reflecting the complete replacement)
                                                - Both ID and name for each permission for easy reference
                                                - Permissions sorted alphabetically by name for consistent response format
                                                Important notes:
                                                - This only shows direct permissions, not those granted through roles
                                                - An empty array means the key has no direct permissions assigned
                                                - For a complete permission picture including roles, use keys.getKey instead
                                                - All permission changes are logged in the audit log for security tracking
                                            items:
                                                type: object
                                                required:
                                                    - id
                                                    - name
                                                properties:
                                                    id:
                                                        type: string
                                                        description: The unique identifier of the permission
                                                        example: perm_1n9McEIBSqy44Qy7hzWyM5
                                                    name:
                                                        type: string
                                                        description: The name of the permission
                                                        example: documents.write
                                examples:
                                    standard:
                                        summary: Complete list of permissions
                                        value:
                                            meta:
                                                requestId: req_2cGKbMxRyIzhCxo1Idjz8q
                                            data:
                                                - id: perm_1n9McEIBSqy44Qy7hzWyM5
                                                  name: documents.write
                                                - id: perm_2zF4mNyP9BsRj2aQwDxVkT
                                                  name: documents.delete
                                                - id: perm_3qRsTu2vWxYzAbCdEfGhIj
                                                  name: reports.view
                                    empty:
                                        summary: All permissions removed
                                        value:
                                            meta:
                                                requestId: req_3qRsTu2vWxYzAbCdEfGhIj
                                            data: []
                    "400":
                        $ref: "#/components/responses/badRequestErrorResponse"
                    "401":
                        $ref: "#/components/responses/unauthorizedErrorResponse"
                    "403":
                        $ref: "#/components/responses/forbiddenErrorResponse"
                    "404":
                        $ref: "#/components/responses/notFoundErrorResponse"
                    "500":
                        $ref: "#/components/responses/internalServerErrorResponse"
        index__updateKey:
            post:
                tags:
                    - keys
                summary: Update API key properties without changing the key itself
                description: |-
                    Modifies the properties of an existing API key without changing the key string itself. This endpoint supports partial updates - you only need to include the fields you want to change.

                    You can use this endpoint to:
                    - Rename keys for better organization
                    - Update metadata to reflect changes in user status, plan, or properties
                    - Modify usage limits or rate limits
                    - Enable or disable keys temporarily
                    - Change key expiration dates
                    - Add or update user identifiers

                    To explicitly remove/disable a feature, set its field to null. Fields not included in the request remain unchanged. For managing permissions or roles, use the specialized endpoints (keys.addPermissions, keys.removePermissions, etc.) instead.

                    Changes may take up to 30 seconds to propagate to all regions due to cache invalidation. For immediate effect in the current region, follow the update with a verification request.
                operationId: updateKey
                x-speakeasy-name-override: updateKey
                security:
                    - rootKey: []
                requestBody:
                    required: true
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - keyId
                                properties:
                                    keyId:
                                        type: string
                                        description: The unique identifier of the key to update
                                        example: key_2cGKbMxRyIzhCxo1Idjz8q
                                        minLength: 3
                                    name:
                                        type: string
                                        nullable: true
                                        description: Human-readable name for the key
                                        example: Updated API Key
                                    externalId:
                                        type: string
                                        nullable: true
                                        minLength: 1
                                        maxLength: 255
                                        pattern: "^[a-zA-Z0-9_.-]+$"
                                        description: External identifier for linking to your system
                                        example: user_12345
                                    meta:
                                        type: object
                                        nullable: true
                                        description: Additional metadata for the key
                                        additionalProperties: true
                                    expires:
                                        type: integer
                                        nullable: true
                                        format: int64
                                        minimum: 0
                                        maximum: 4102444800000 # January 1, 2100 - reasonable future limit
                                        description: |
                                            Sets when this key automatically expires as a Unix timestamp in milliseconds.
                                            Verification fails with code=EXPIRED immediately after this time passes.
                                            Omitting this field preserves the current expiration, while setting null makes the key permanent.

                                            Avoid setting timestamps in the past as they immediately invalidate the key.
                                            Keys expire based on server time, not client time, which prevents timezone-related issues.
                                            Active sessions continue until their next verification attempt after expiry.
                                        example: 1704067200000
                                    credits:
                                        type: object
                                        description: Credit configuration and remaining balance for this key.
                                        properties:
                                            remaining:
                                                type: integer
                                                format: int64
                                                nullable: true
                                                minimum: 0
                                                maximum: 9223372036854775807
                                                description: Number of credits remaining (null for unlimited).
                                                example: 1000
                                            refill:
                                                type: object
                                                description: Configuration for automatic credit refill behavior.
                                                properties:
                                                    interval:
                                                        type: string
                                                        enum: [daily, monthly]
                                                        description: How often credits are automatically refilled.
                                                        example: monthly
                                                    amount:
                                                        type: integer
                                                        format: int64
                                                        minimum: 1
                                                        maximum: 9223372036854775807
                                                        description: Number of credits to add during each refill cycle.
                                                        example: 1000
                                                    refillDay:
                                                        type: integer
                                                        minimum: 1
                                                        maximum: 31
                                                        description: |
                                                            Day of the month for monthly refills (1-31).
                                                            Only required when interval is 'monthly'.
                                                            For days beyond the month's length, refill occurs on the last day of the month.
                                                        example: 15
                                                required:
                                                    - interval
                                                    - amount
                                                additionalProperties: false
                                        required:
                                            - remaining
                                        additionalProperties: false
                                    ratelimits:
                                        type: array
                                        maxItems: 50 # Reasonable limit for rate limit configurations per key
                                        items:
                                            "$ref": "#/components/schemas/RatelimitRequest"
                                        description: |
                                            Defines time-based rate limits that protect against abuse by controlling request frequency.
                                            Omitting this field preserves existing rate limits, while setting null removes all rate limits.
                                            Unlike credits which track total usage, rate limits reset automatically after each window expires.
                                            Multiple rate limits can control different operation types with separate thresholds and windows.
                                    enabled:
                                        type: boolean
                                        description: |
                                            Controls whether the key is currently active for verification requests.
                                            When set to `false`, all verification attempts fail with `code=DISABLED` regardless of other settings.
                                            Omitting this field preserves the current enabled status.
                                            Useful for temporarily suspending access during billing issues, security incidents, or maintenance windows without losing key configuration.
                                        example: true
                                    roles:
                                        type: array
                                        maxItems: 100 # Reasonable limit for role assignments per key
                                        items:
                                            type: string
                                            minLength: 1
                                            maxLength: 100 # Keep role names concise and readable
                                            pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
                                            description: |
                                                Assigns existing roles to this key for permission management through role-based access control.
                                                Roles must already exist in your workspace before assignment.
                                                During verification, all permissions from assigned roles are checked against requested permissions.
                                                Roles provide a convenient way to group permissions and apply consistent access patterns across multiple keys.
                                        example:
                                            - api_admin
                                            - billing_reader
                                    permissions:
                                        type: array
                                        maxItems: 1000 # Allow extensive permission sets for complex applications
                                        items:
                                            type: string
                                            minLength: 1
                                            maxLength: 100 # Keep permission names concise and readable
                                            pattern: "^[a-zA-Z0-9_]+$"
                                            description: |
                                                Grants specific permissions directly to this key without requiring role membership.
                                                Wildcard permissions like `documents.*` grant access to all sub-permissions including `documents.read` and `documents.write`.
                                                Direct permissions supplement any permissions inherited from assigned roles.
                                        example:
                                            - documents.read
                                            - documents.write
                                            - settings.view
                                additionalProperties: false
                            examples:
                                basic:
                                    summary: Update key name and external ID
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        name: Updated API Key
                                        externalId: user_12345
                                withMeta:
                                    summary: Update key with metadata
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        name: Production API Key
                                        meta:
                                            environment: production
                                            team: backend
                responses:
                    "200":
                        description: Key successfully updated with the new values
                        content:
                            application/json:
                                schema:
                                    type: object
                                    required:
                                        - meta
                                        - data
                                    properties:
                                        meta:
                                            $ref: "#/components/schemas/meta"
                                        data:
                                            type: object
                                            required:
                                                - keyId
                                            properties:
                                                keyId:
                                                    type: string
                                                    description: The unique identifier of the updated key
                                                    example: key_2cGKbMxRyIzhCxo1Idjz8q
                                                name:
                                                    type: string
                                                    nullable: true
                                                    description: The updated name of the key
                                                    example: Updated API Key
                                                externalId:
                                                    type: string
                                                    nullable: true
                                                    description: The updated external identifier
                                                    example: user_12345
                                examples:
                                    standard:
                                        summary: Key updated successfully
                                        value:
                                            meta:
                                                requestId: req_2cGKbMxRyIzhCxo1Idjz8q
                                            data:
                                                keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                                name: Updated API Key
                                                externalId: user_12345
                    "400":
                        $ref: "#/components/responses/badRequestErrorResponse"
                    "401":
                        $ref: "#/components/responses/unauthorizedErrorResponse"
                    "403":
                        $ref: "#/components/responses/forbiddenErrorResponse"
                    "404":
                        $ref: "#/components/responses/notFoundErrorResponse"
                    "500":
                        $ref: "#/components/responses/internalServerErrorResponse"
        index__removePermissions:
            post:
                tags:
                    - keys
                summary: Remove permissions from an API key
                description: |-
                    Removes one or more permissions from an existing API key. This endpoint is used to selectively revoke access rights from a key without deleting it or affecting other permissions.
                    Key features:
                    - Selective removal - revoke specific permissions while leaving others intact
                    - Direct permissions only - doesn't affect permissions granted through roles
                    - Idempotent operation - removing permissions multiple times has no additional effect
                    Use this endpoint when downgrading user access privileges, removing temporary elevated permissions, implementing granular permission adjustments, or revoking access to specific resources.
                operationId: removePermissions
                x-speakeasy-name-override: removePermissions
                security:
                    - rootKey: []
                requestBody:
                    required: true
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - keyId
                                    - permissions
                                properties:
                                    keyId:
                                        type: string
                                        minLength: 3
                                        maxLength: 255
                                        pattern: "^[a-zA-Z0-9_]+$"
                                        description: |
                                            The unique identifier of the key to remove permissions from (begins with 'key_').
                                            This ID comes from the createKey response and identifies which key will lose permissions.
                                            This is the database ID, not the actual API key string.
                                        example: key_2cGKbMxRyIzhCxo1Idjz8q
                                    permissions:
                                        type: array
                                        minItems: 1
                                        maxItems: 1000
                                        description: |
                                            The permissions to remove from this key.
                                            Operations are idempotent - removing non-existent permissions has no effect.
                                            Permission changes take effect immediately for new verifications.
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: string
                                                    description: |
                                                        The ID of an existing permission (begins with 'perm_').
                                                        Provide either ID or slug for each permission, not both.
                                                    example: perm_1n9McEIBSqy44Qy7hzWyM5
                                                slug:
                                                    type: string
                                                    description: |
                                                        The slug of the permission.
                                                        Provide either ID or slug for each permission, not both.
                                                    example: documents.write
                                            oneOf:
                                                - required: [id]
                                                - required: [slug]
                                additionalProperties: false
                responses:
                    "200":
                        description: Successfully removed permissions from the key
                        content:
                            application/json:
                                schema:
                                    type: object
                                    required:
                                        - meta
                                        - data
                                    properties:
                                        meta:
                                            $ref: "#/components/schemas/meta"
                                        data:
                                            type: array
                                            description: |
                                                Complete list of all permissions still directly assigned to the key after removing the specified permissions.
                                                This shows the remaining permissions after the removal operation.
                                            items:
                                                type: object
                                                required:
                                                    - id
                                                    - name
                                                properties:
                                                    id:
                                                        type: string
                                                        description: The unique identifier of the permission
                                                        example: perm_1n9McEIBSqy44Qy7hzWyM5
                                                    name:
                                                        type: string
                                                        description: The name of the permission
                                                        example: documents.write
                                            additionalProperties: false
                                    additionalProperties: false
                    "400":
                        $ref: "#/components/responses/badRequestErrorResponse"
                    "401":
                        $ref: "#/components/responses/unauthorizedErrorResponse"
                    "403":
                        $ref: "#/components/responses/forbiddenErrorResponse"
                    "404":
                        $ref: "#/components/responses/notFoundErrorResponse"
                    "500":
                        $ref: "#/components/responses/internalServerErrorResponse"
        index__addRoles:
            post:
                tags:
                    - keys
                summary: Add roles to an API key
                description: |-
                    Adds one or more roles to an existing API key without affecting existing roles or permissions. This is an additive operation that supplements the key's current role assignments.
                    Use this endpoint when you need to grant additional role-based access to a key, such as promoting user privileges or enabling new feature sets through role inheritance.
                    Role assignments take effect immediately for new verifications, though existing authorized sessions may continue until their cache expires.
                operationId: addRoles
                x-speakeasy-name-override: addRoles
                security:
                    - rootKey: []
                requestBody:
                    required: true
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - keyId
                                    - roles
                                properties:
                                    keyId:
                                        type: string
                                        minLength: 3
                                        maxLength: 255
                                        pattern: "^[a-zA-Z0-9_]+$"
                                        description: |
                                            The unique identifier of the key to add roles to (begins with 'key_').
                                            This ID comes from the createKey response and identifies which key will receive additional roles.
                                            This is the database ID, not the actual API key string.
                                        example: key_2cGKbMxRyIzhCxo1Idjz8q
                                    roles:
                                        type: array
                                        minItems: 1
                                        maxItems: 100
                                        description: |
                                            The roles to add to this key.
                                            Operations are idempotent - adding existing roles has no effect and causes no errors.
                                            All roles must already exist in the workspace.
                                            Role assignments take effect immediately for new verifications.
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: string
                                                    description: |
                                                        The ID of an existing role (begins with 'role_').
                                                        Provide either ID or name for each role, not both.
                                                    example: role_1n9McEIBSqy44Qy7hzWyM5
                                                name:
                                                    type: string
                                                    description: |
                                                        The name of the role.
                                                        Provide either ID or name for each role, not both.
                                                    example: editor
                                            oneOf:
                                                - required: [id]
                                                - required: [name]
                                additionalProperties: false
                responses:
                    "200":
                        description: Successfully added roles to the key
                        content:
                            application/json:
                                schema:
                                    type: object
                                    required:
                                        - meta
                                        - data
                                    properties:
                                        meta:
                                            $ref: "#/components/schemas/meta"
                                        data:
                                            type: array
                                            description: |
                                                Complete list of all roles now assigned to the key after adding the new roles.
                                                This includes both previously existing roles and the newly added ones.
                                            items:
                                                type: object
                                                required:
                                                    - id
                                                    - name
                                                properties:
                                                    id:
                                                        type: string
                                                        description: The unique identifier of the role
                                                        example: role_1n9McEIBSqy44Qy7hzWyM5
                                                    name:
                                                        type: string
                                                        description: The name of the role
                                                        example: editor
                                            additionalProperties: false
                                    additionalProperties: false
                    "400":
                        $ref: "#/components/responses/badRequestErrorResponse"
                    "401":
                        $ref: "#/components/responses/unauthorizedErrorResponse"
                    "403":
                        $ref: "#/components/responses/forbiddenErrorResponse"
                    "404":
                        $ref: "#/components/responses/notFoundErrorResponse"
                    "500":
                        $ref: "#/components/responses/internalServerErrorResponse"
        index__addPermissions:
            post:
                tags:
                    - keys
                summary: Add permissions to an API key
                description: |-
                    Adds one or more permissions to an existing API key without affecting existing permissions or roles. This is an additive operation that supplements the key's current permission set.
                    Use this endpoint when you need to grant additional access rights to a key, such as upgrading user privileges, enabling new features, or implementing progressive permission models.
                    Only direct permissions are affected - permissions granted through roles remain unchanged. Changes take effect immediately for new verifications, though existing authorized sessions may continue until their cache expires.
                operationId: addPermissions
                x-speakeasy-name-override: addPermissions
                security:
                    - rootKey: []
                requestBody:
                    required: true
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - keyId
                                    - permissions
                                properties:
                                    keyId:
                                        type: string
                                        minLength: 3
                                        maxLength: 255
                                        pattern: "^[a-zA-Z0-9_]+$"
                                        description: |
                                            The unique identifier of the key to add permissions to (begins with 'key_').
                                            This ID comes from the createKey response and identifies which key will receive additional permissions.
                                            This is the database ID, not the actual API key string.
                                        example: key_2cGKbMxRyIzhCxo1Idjz8q
                                    permissions:
                                        type: array
                                        minItems: 1
                                        maxItems: 1000
                                        description: |
                                            The permissions to add to this key. This is an additive operation that supplements existing permissions.
                                            Operations are idempotent - adding existing permissions has no effect and causes no errors.
                                            Permission changes take effect immediately for new verifications.
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: string
                                                    description: |
                                                        The ID of an existing permission (begins with 'perm_').
                                                        Provide either ID or slug for each permission, not both.
                                                    example: perm_1n9McEIBSqy44Qy7hzWyM5
                                                slug:
                                                    type: string
                                                    description: |
                                                        The slug of the permission.
                                                        Provide either ID or slug for each permission, not both.
                                                    example: documents.write
                                                name:
                                                    type: string
                                                    description: |
                                                        The name of the permission to create if it doesn't exist.
                                                        Requires the 'create' flag to be true.
                                                    example: reports.export
                                                create:
                                                    type: boolean
                                                    description: |
                                                        Whether to create the permission if it doesn't exist.
                                                        Requires appropriate permissions on your root key.
                                                    example: true
                                            oneOf:
                                                - required: [id]
                                                - required: [slug]
                                                - required: [name, create]
                                additionalProperties: false
                            examples:
                                basic:
                                    summary: Add permissions using IDs
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        permissions:
                                            - id: perm_1n9McEIBSqy44Qy7hzWyM5
                                            - id: perm_2zF4mNyP9BsRj2aQwDxVkT
                                withSlugs:
                                    summary: Add permissions using slugs
                                    value:
                                        keyId: key_2cGKbMxRyIzhCxo1Idjz8q
                                        permissions:
                                            - slug: documents.write
                                            - slug: documents.delete
                responses:
                    "200":
                        description: Successfully added permissions to the key
                        content:
                            application/json:
                                schema:
                                    type: object
                                    required:
                                        - meta
                                        - data
                                    properties:
                                        meta:
                                            $ref: "#/components/schemas/meta"
                                        data:
                                            type: array
                                            description: |
                                                Complete list of all permissions now directly assigned to the key after adding the new permissions.
                                                This includes both previously existing permissions and the newly added ones.
                                            items:
                                                type: object
                                                required:
                                                    - id
                                                    - name
                                                properties:
                                                    id:
                                                        type: string
                                                        description: The unique identifier of the permission
                                                        example: perm_1n9McEIBSqy44Qy7hzWyM5
                                                    name:
                                                        type: string
                                                        description: The name of the permission
                                                        example: documents.write
                                            additionalProperties: false
                                    additionalProperties: false
                    "400":
                        $ref: "#/components/responses/badRequestErrorResponse"
                    "401":
                        $ref: "#/components/responses/unauthorizedErrorResponse"
                    "403":
                        $ref: "#/components/responses/forbiddenErrorResponse"
                    "404":
                        $ref: "#/components/responses/notFoundErrorResponse"
                    "500":
                        $ref: "#/components/responses/internalServerErrorResponse"
        index__removeRoles:
            post:
                tags:
                    - keys
                summary: Remove roles from an API key
                description: |-
                    Removes one or more roles from an existing API key. This endpoint is used to selectively revoke role-based access from a key without affecting direct permissions or other roles.
                    Use this endpoint when downgrading user privileges, removing temporary role assignments, or implementing granular role management.
                    Role changes take effect immediately for new verifications, though existing authorized sessions may continue until their cache expires.
                operationId: removeRoles
                x-speakeasy-name-override: removeRoles
                security:
                    - rootKey: []
                requestBody:
                    required: true
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - keyId
                                    - roles
                                properties:
                                    keyId:
                                        type: string
                                        minLength: 3
                                        maxLength: 255
                                        pattern: "^[a-zA-Z0-9_]+$"
                                        description: |
                                            The unique identifier of the key to remove roles from (begins with 'key_').
                                            This ID comes from the createKey response and identifies which key will lose roles.
                                            This is the database ID, not the actual API key string.
                                        example: key_2cGKbMxRyIzhCxo1Idjz8q
                                    roles:
                                        type: array
                                        minItems: 1
                                        maxItems: 100
                                        description: |
                                            The roles to remove from this key.
                                            Operations are idempotent - removing non-assigned roles has no effect.
                                            Role changes take effect immediately for new verifications.
                                        items:
                                            type: object
[...]
