{
  "info": {
    "title": "Unkey API",
    "version": "2.0.0",
    "description": "Unkey API provides comprehensive API key management services including creation, verification, and management of API keys with fine-grained permissions, rate limiting, and analytics.\n\nThis API uses HTTP Bearer authentication with root keys. Most endpoints require specific permissions associated with your root key. When making requests, include your root key in the Authorization header:\n```\nAuthorization: Bearer your_root_key_here\n```\n\nAll responses follow a consistent structure with a 'meta' object containing request metadata and a 'data' object containing the actual response data. Error responses include detailed information about what went wrong and how to fix it."
  },
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.unkey.com"
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 50,
      "maxInterval": 1000,
      "maxElapsedTime": 10000,
      "exponent": 1.5
    },
    "statusCodes": [
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "security": [
    {
      "rootKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "rootKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "root key",
        "description": "Unkey uses API keys (root keys) for authentication. These keys authorize access to management operations in the API.\n\nTo authenticate, include your root key in the Authorization header of each request:\n```\nAuthorization: Bearer your_root_key_here\n```\n\nRoot keys have specific permissions attached to them, controlling what operations they can perform. Key permissions follow a hierarchical structure with patterns like 'resource.resource_id.action' (e.g., 'apis.*.create_key', 'apis.*.read_api').\n\nSecurity best practices:\n- Keep root keys secure and never expose them in client-side code\n- Use different root keys for different environments\n- Rotate keys periodically, especially after team member departures\n- Create keys with minimal necessary permissions following least privilege principle\n- Monitor key usage with audit logs.",
        "x-speakeasy-example": "UNKEY_ROOT_KEY"
      }
    },
    "schemas": {
      "V2KeysUpdateKeyRequestBody": {
        "type": "object",
        "required": [
          "keyId"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "minLength": 3,
            "description": "The unique identifier of the key to update (starts with 'key_'). This is the database ID returned from createKey, not the actual API key string itself. Always required for any update operation.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "A descriptive name for the key for internal reference. Set to null to remove the name. Omit this field to leave it unchanged. Good naming helps with key organization, especially when managing many keys for different users or services.",
            "example": "Payment Service Production Key"
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "Your user's unique identifier, creating a link between Unkey and your system. This helps identify which user/entity owns this key during verification. Set to null to disconnect this key from any identity. Omit this field to leave it unchanged. Useful when transferring keys between users or when a user's ID changes in your system.",
            "example": "user_912a841d"
          },
          "meta": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Arbitrary JSON metadata to associate with this key. This data is returned during key verification and can be used to store anything needed during API access: subscription plans, feature flags, user properties, etc. Set to null to remove all metadata. Omit this field to leave it unchanged. This lets you update user context without having to issue new keys.",
            "example": {
              "plan": "enterprise",
              "limits": {
                "storage": "500GB",
                "compute": "1000 minutes/month"
              },
              "hasAcceptedTerms": true,
              "lastBillingDate": "2023-10-15"
            }
          },
          "expires": {
            "type": "integer",
            "nullable": true,
            "format": "int64",
            "description": "Unix timestamp (in milliseconds) when this key will automatically expire. After this time, verification will fail with code=EXPIRED. Set to null to remove an expiration date (making the key permanent). Omit this field to leave it unchanged. Useful for extending trials, adjusting subscription periods, or implementing temporary access.",
            "example": 1704067200000
          },
          "credits": {
            "type": "object",
            "nullable": true,
            "properties": {
              "remaining": {
                "type": "integer",
                "format": "int32",
                "description": "Number of times this key can be used before becoming invalid. Required when specifying credits. Use this to implement usage-based pricing, subscription tiers, or consumption quotas. Each verification reduces this count by the verification cost (default 1).",
                "example": 1000
              },
              "refill": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "interval": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "monthly"
                    ],
                    "description": "How often the credits should be refilled. For 'monthly' refills, you can specify the day of month using 'refillDay'. Use 'daily' for high-frequency use cases (e.g., 100 requests per day) and 'monthly' for subscription-based models."
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Number of credits to add during each automatic refill. This typically matches your plan's quota (e.g., 1000 API calls per month)."
                  },
                  "refillDay": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31,
                    "description": "For monthly refills, the day of month when refills occur. Cannot be used with 'daily' interval. Useful for aligning quota refills with billing cycles or subscription renewal dates."
                  }
                },
                "required": [
                  "interval",
                  "amount"
                ],
                "description": "Configuration for automatic credit refills. Set to null to disable automatic refills (creating a one-time credit allocation). Omit this field to leave existing refill settings unchanged. Use refills to implement recurring quotas that reset on a schedule."
              }
            },
            "required": [
              "remaining"
            ],
            "description": "Usage limits configuration for this key. Set to null to disable usage limits entirely (unlimited usage). Omit this field to leave all usage limit settings unchanged. Note: Cannot set refill when credits is null; setting refillDay requires interval to be 'monthly'. Use this to implement usage-based pricing models or to apply different quotas for different subscription tiers."
          },
          "ratelimits": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "required": [
                "name",
                "limit",
                "duration"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Identifier for this rate limit. Names must be unique for this key. Use semantic names reflecting what's being limited, such as 'requests' (overall API calls), 'computations' (intensive operations), or 'write_operations' (data-modifying calls).",
                  "example": "requests"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "description": "Maximum number of operations allowed within the time window. When this limit is reached, verification fails with code=RATE_LIMITED until the window resets. Adjust this based on your API's capacity and the user's expected usage patterns.",
                  "example": 100
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1000,
                  "description": "Duration of the rate limit window in milliseconds. Common values include 60000 (1 minute), 3600000 (1 hour), and 86400000 (24 hours). The rate limit automatically resets after this period elapses.",
                  "example": 60000
                },
                "async": {
                  "type": "boolean",
                  "default": true,
                  "description": "Whether this rate limit uses fast (async=true) or consistent (async=false) mode. Fast mode has lower latency but less accuracy, making it suitable for most use cases. Consistent mode provides stronger guarantees but adds latency to verifications. Use consistent mode only when strict rate limiting is essential."
                }
              }
            },
            "description": "Array of rate limits to apply to this key. Rate limits provide protection against abuse by controlling request frequency. Set to null to remove all rate limits. Omit this field to leave existing rate limits unchanged. Unlike credits (which limit total usage), rate limits are time-based and automatically reset. You can define multiple named rate limits to control different aspects of API usage with different thresholds and time windows."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the key is currently active. When set to false, verification attempts will fail with code=DISABLED. This allows temporarily suspending access without deleting the key, which is useful for pausing subscriptions, handling account issues, or during maintenance. Omit this field to leave the enabled status unchanged.",
            "example": true
          }
        },
        "additionalProperties": false
      },
      "KeysUpdateKeyResponseData": {
        "type": "object",
        "properties": {},
        "description": "Empty response object by design. A successful response indicates the key was updated successfully. The endpoint doesn't return the updated key to reduce response size and avoid exposing sensitive information. Changes may take up to 30 seconds to propagate to all regions due to cache invalidation delays. If you need the updated key state, use a subsequent call to keys.getKey."
      },
      "V2KeysUpdateKeyResponseBody": {
        "type": "object",
        "required": [
          "meta"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/KeysUpdateKeyResponseData"
          }
        }
      },
      "V2KeysDeleteKeyRequestBody": {
        "type": "object",
        "required": [
          "keyId"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "minLength": 3,
            "description": "The unique identifier of the key to delete (starts with 'key_'). This is the database ID returned from createKey, not the actual API key string itself. Once deleted, verification attempts with this key will fail with code=NOT_FOUND and it will no longer appear in key listings.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q"
          },
          "permanent": {
            "type": "boolean",
            "default": false,
            "description": "Controls whether the key should be soft-deleted (default) or permanently erased from the database. Soft deletion marks the key as deleted but preserves its data, allowing potential recovery via direct database operations. Permanent deletion completely removes all traces of the key including its hash and metadata. Use permanent=true for regulatory compliance scenarios (like GDPR), resolving hash collisions during migrations, or when you need to reuse the same key string in the future. CAUTION: Permanent deletion cannot be undone.",
            "example": false
          }
        },
        "additionalProperties": false
      },
      "KeysDeleteKeyResponseData": {
        "type": "object",
        "properties": {},
        "description": "Empty response object. A successful response indicates the key was deleted successfully. Deletion triggers cache invalidation across all regions, but it may take up to 30 seconds for the deletion to be fully propagated due to eventual consistency. During this propagation period, some verification attempts might still succeed in certain regions."
      },
      "V2KeysDeleteKeyResponseBody": {
        "type": "object",
        "required": [
          "meta"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/KeysDeleteKeyResponseData"
          }
        }
      },
      "V2KeysGetKeyRequestBody": {
        "type": "object",
        "required": [
          "keyId"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "minLength": 3,
            "description": "The unique identifier of the key to retrieve (starts with 'key_'). This is the database ID returned from createKey, not the actual API key string itself. You can find this ID in the creation response, key listings, or in the dashboard.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q"
          },
          "decrypt": {
            "type": "boolean",
            "default": false,
            "description": "Whether to include the plaintext key in the response. This is only possible for keys created with 'recoverable: true' and requires the 'decrypt_key' permission. SECURITY WARNING: This should be used sparingly and only for legitimate recovery purposes. Keys returned this way must be handled securely and not logged or stored insecurely. Most applications should set this to false."
          }
        },
        "additionalProperties": false
      },
      "KeysGetKeyResponseData": {
        "type": "object",
        "required": [
          "id",
          "start",
          "workspaceId",
          "createdAt",
          "enabled"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the key in Unkey's system.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q"
          },
          "start": {
            "type": "string",
            "description": "The first few characters of the key to visually identify it without exposing the full key. Used in dashboards and logs to help users recognize which key is being used without revealing sensitive information. Typically includes the prefix if one was specified.",
            "example": "prod_5j1"
          },
          "workspaceId": {
            "type": "string",
            "description": "The ID of the workspace that owns this key.",
            "example": "ws_1234abcd"
          },
          "apiId": {
            "type": "string",
            "description": "The ID of the API this key belongs to.",
            "example": "api_2cGKbMxRjIzhCxo1IdjH3a"
          },
          "name": {
            "type": "string",
            "description": "A descriptive name for the key for internal reference. Shown in dashboards and logs but never exposed to end users.",
            "example": "Payment Service Production Key"
          },
          "externalId": {
            "type": "string",
            "description": "Your user's unique identifier, creating a link between Unkey and your system. This ID is returned during verification so you can identify which customer/entity is making the request without performing additional database lookups. Use consistent identifiers that match your primary user/tenant identifiers for seamless integration.",
            "example": "user_912a841d"
          },
          "meta": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary JSON metadata associated with this key. This can include additional context like subscription plans, feature flags, or any custom data. Metadata is stored as-is and returned during verification, allowing you to access important information without additional database queries. Consider including data relevant to authorization decisions, usage tracking, and user context.",
            "example": {
              "plan": "enterprise",
              "limits": {
                "storage": "500GB",
                "compute": "1000 minutes/month"
              },
              "contactInfo": {
                "primaryEmail": "admin@example.com",
                "technicalContact": "tech@example.com"
              },
              "integrations": {
                "slack": true,
                "github": {
                  "enabled": true,
                  "repositories": 10
                }
              },
              "lastActivityTimestamp": 1671048264000
            }
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (in milliseconds) when the key was created.",
            "example": 1671048264000
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (in milliseconds) when the key was last updated.",
            "example": 1671135600000
          },
          "expires": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (in milliseconds) when this key will automatically expire. If null, the key has no expiration.",
            "example": 1704067200000
          },
          "credits": {
            "type": "object",
            "properties": {
              "remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of times this key can still be used before becoming invalid.",
                "example": 753
              },
              "refill": {
                "type": "object",
                "required": [
                  "interval",
                  "amount"
                ],
                "properties": {
                  "interval": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "monthly"
                    ],
                    "description": "How often the credits are automatically refilled."
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Number of credits added during each refill."
                  },
                  "refillDay": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31,
                    "description": "For monthly refills, the day of month when refills occur."
                  },
                  "lastRefillAt": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unix timestamp (in milliseconds) when credits were last refilled."
                  }
                },
                "description": "Configuration for automatic credit refills."
              }
            },
            "description": "Usage limits configuration for this key. Credits provide a way to limit the number of times a key can be used before becoming invalid. Unlike ratelimits, credits are globally consistent (using database transactions) providing 100% accuracy at the cost of slightly higher latency. Ideal for monetization, usage quotas, or strict limits that must not be exceeded. See the 'refill' field for automatic replenishment options."
          },
          "ratelimits": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "limit",
                "duration"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Identifier for this ratelimit.",
                  "example": "requests"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of operations allowed within the time window.",
                  "example": 100
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Duration of the ratelimit window in milliseconds.",
                  "example": 60000
                },
                "async": {
                  "type": "boolean",
                  "description": "Whether this ratelimit uses fast (async=true) or consistent (async=false) mode. Fast mode has lower latency but less accuracy.",
                  "default": true
                }
              }
            },
            "description": "Array of ratelimits applied to this key. Multiple named ratelimits can control different aspects of key usage. For example, a 'requests' ratelimit might control overall API calls while a separate 'computations' limit manages access to resource-intensive operations. Ratelimits are optimized for performance and typically add minimal latency to verifications. They can be shared across keys through identities."
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of role names assigned to this key. Roles are collections of permissions.",
            "example": [
              "api_admin",
              "billing_reader"
            ]
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of permission names directly assigned to this key.",
            "example": [
              "documents.read",
              "documents.write",
              "settings.view"
            ]
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the key is currently active. Disabled keys will fail verification with code=DISABLED. Toggling this allows you to temporarily suspend access without deleting the key, which is useful for maintenance, account freezing, or debugging. Can be updated using the updateKey endpoint.",
            "example": true
          },
          "plaintext": {
            "type": "string",
            "description": "The full API key in plaintext. Only included when 'decrypt' is true and the key was created with 'recoverable: true'. SECURITY RISK: This field contains the actual secret key which should never be logged, stored in databases, or exposed in any frontend code. It should only be displayed directly to users through secure channels. Most applications should avoid setting decrypt=true unless absolutely necessary."
          },
          "identity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The unique ID of the identity in Unkey's system."
              },
              "externalId": {
                "type": "string",
                "description": "Your identifier for this identity in your system."
              },
              "meta": {
                "type": "object",
                "additionalProperties": true,
                "description": "Additional metadata associated with this identity."
              }
            },
            "required": [
              "id",
              "externalId"
            ],
            "description": "The identity associated with this key, if any. Identities allow resource sharing (like ratelimits) across multiple keys belonging to the same user/entity. This enables scenarios like issuing separate keys for different devices/services while maintaining global usage limits for the user. An identity's externalId typically matches your user ID or tenant ID."
          }
        }
      },
      "V2KeysGetKeyResponseBody": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/KeysGetKeyResponseData"
          }
        }
      },
      "V2KeysVerifyKeyResponseBody": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta",
            "description": "Metadata about the API response, including a unique request ID that should be included in any support inquiries related to this verification."
          },
          "data": {
            "$ref": "#/components/schemas/KeysVerifyKeyResponseData",
            "description": "The verification result containing all information about the key's validity, permissions, rate limits, and associated metadata."
          }
        },
        "description": "The standard response format for key verification, containing both request metadata and the verification result. Even when verification fails (invalid key, rate limited, etc.), the response uses this format with a 200 status code - examine data.valid to determine the outcome."
      },
      "V2KeysAddPermissionsRequestBody": {
        "type": "object",
        "required": [
          "keyId",
          "permissions"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The ID of the key to which permissions will be added (begins with 'key_')",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q",
            "minLength": 3
          },
          "permissions": {
            "type": "array",
            "minItems": 1,
            "description": "List of permissions to add to the key. Each permission can be identified by ID or name (if both are provided in the same object, ID takes precedence).\n\nBest practices:\n- Use consistent naming patterns (e.g., 'resource.action' or 'resource.subresouce.action')\n- Group related permissions (e.g., 'documents.read', 'documents.write', 'documents.delete')\n- Use hierarchical naming for verification flexibility\n- Consider creating a permission naming guide for your team\n\nDuplicate permissions are automatically handled (adding the same permission twice has no effect). During verification, hierarchical patterns are matched - a key with 'billing.*' permission will have access to 'billing.invoices.view'.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The ID of an existing permission (begins with 'perm_'). Provide either ID or name. Use ID when you know the exact permission identifier and want to ensure you're referencing a specific permission.",
                  "example": "perm_1n9McEIBSqy44Qy7hzWyM5",
                  "minLength": 3
                },
                "name": {
                  "type": "string",
                  "description": "The name of the permission. Provide either ID or name. Permission names typically follow a 'resource.action' format (e.g., 'documents.read', 'users.delete'). Use consistent naming patterns to create logical permission hierarchies.",
                  "example": "documents.write",
                  "minLength": 1
                },
                "create": {
                  "type": "boolean",
                  "description": "When true, if a permission with this name doesn't exist, it will be automatically created on-the-fly. Only works when specifying name, not ID.\n\nSECURITY CONSIDERATIONS:\n- Requires the 'rbac.*.create_permission' permission on your root key\n- Use carefully to avoid permission proliferation\n- Consider centralizing permission creation in a controlled process\n- Typos with create=true can lead to unintended permissions\n- Created permissions are permanent and visible to all API keys in the workspace",
                  "default": false
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "V2KeysAddPermissionsResponseData": {
        "type": "array",
        "description": "Complete list of all permissions directly assigned to the key (including both newly added permissions and those that were already assigned).\n\nThis response includes:\n- All direct permissions assigned to the key (both pre-existing and newly added)\n- Permissions sorted alphabetically by name for consistent response format\n- Both the permission ID and name for each permission\n\nImportant notes:\n- This list does NOT include permissions granted through roles\n- For a complete permission picture, use /v2/keys.getKey instead\n- An empty array indicates the key has no direct permissions assigned\n- Only includes direct permissions from the same workspace as the key",
        "items": {
          "type": "object",
          "required": [
            "id",
            "name"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "The unique identifier of the permission (begins with 'perm_'). This ID can be used in other API calls to reference this specific permission. IDs are guaranteed unique and won't change, making them ideal for scripting and automation. You can store these IDs in your system for consistent reference.",
              "example": "perm_1n9McEIBSqy44Qy7hzWyM5"
            },
            "name": {
              "type": "string",
              "description": "The name of the permission, typically following a 'resource.action' pattern like 'documents.read'. Names are human-readable identifiers used both for assignment and verification.\n\nDuring verification:\n- The exact name is matched (e.g., 'documents.read')\n- Hierarchical wildcards are supported in verification requests\n- A key with permission 'documents.*' grants access to 'documents.read', 'documents.write', etc.\n- Wildcards can appear at any level: 'billing.*.view' matches 'billing.invoices.view' and 'billing.payments.view'\n\nHowever, when adding permissions, you must specify each exact permission - wildcards are not valid for assignment.",
              "example": "documents.write"
            }
          }
        }
      },
      "V2KeysAddPermissionsResponse": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/V2KeysAddPermissionsResponseData"
          }
        }
      },
      "V2KeysRemovePermissionsRequestBody": {
        "type": "object",
        "required": [
          "keyId",
          "permissions"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The unique identifier of the key from which permissions will be removed (begins with 'key_'). This is the database ID returned from createKey, not the actual API key string itself. Every operation requires this identifier to specify which key to modify.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q",
            "minLength": 3
          },
          "permissions": {
            "type": "array",
            "minItems": 1,
            "description": "List of permissions to remove from the key. Each permission can be identified by ID or name (if both are provided in the same object, ID takes precedence).\n\nImportant details:\n- This operation only affects direct permissions on the key, not permissions granted through roles\n- Removing permissions that aren't assigned to the key is a no-op and doesn't cause an error\n- Removing all permissions doesn't disable the key - it just removes its direct permissions\n- The operation is idempotent - multiple identical requests have the same effect as a single request\n- After removal, any verification checks for these permissions will fail unless granted via roles\n- Each permission must include either id or name - you can't use wildcards for removal",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The ID of the permission to remove (begins with 'perm_'). Provide either ID or name, not both. Using ID guarantees you're removing the exact permission intended, even if multiple permissions have similar names. The ID is especially useful in automation scripts where precision is important.",
                  "example": "perm_1n9McEIBSqy44Qy7hzWyM5",
                  "minLength": 3
                },
                "name": {
                  "type": "string",
                  "description": "The name of the permission to remove. Provide either ID or name, not both. When using names, the string must match exactly as it was defined - including case sensitivity and full hierarchical path (e.g., 'documents.write', not just 'write'). Name lookup happens within the same workspace as the key.",
                  "example": "documents.write",
                  "minLength": 1
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "V2KeysRemovePermissionsResponseData": {
        "type": "object",
        "description": "Empty response object by design. A successful response indicates the permissions were successfully removed from the key. Unlike the addPermissions endpoint which returns the current permissions, this endpoint returns an empty object to reduce response size.\n\nImportant post-operation effects:\n- Any cached versions of the key are immediately invalidated to ensure consistency\n- Changes to permissions take effect within seconds for new verifications\n- Existing verification sessions might retain permissions until their cache expires (usually <30 seconds)\n- To get the updated list of permissions, use the keys.getKey endpoint\n- All permission removals are logged to the audit log for security tracking",
        "additionalProperties": false
      },
      "V2KeysRemovePermissionsResponse": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/V2KeysRemovePermissionsResponseData"
          }
        }
      },
      "V2KeysSetPermissionsRequestBody": {
        "type": "object",
        "required": [
          "keyId",
          "permissions"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The unique identifier of the key to set permissions on (begins with 'key_'). This ID comes from the createKey response and identifies which key will have its permissions replaced. This is the database ID, not the actual API key string that users authenticate with.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q",
            "minLength": 3
          },
          "permissions": {
            "type": "array",
            "description": "The permissions to set for this key. This is a complete replacement operation - it overwrites all existing direct permissions with this new set.\n\nKey behaviors:\n- Providing an empty array removes all direct permissions from the key\n- This only affects direct permissions - permissions granted through roles are not affected\n- All existing direct permissions not included in this list will be removed\n- The complete list approach allows synchronizing permissions with external systems\n- Permission changes take effect immediately for new verifications\n\nUnlike addPermissions (which only adds) or removePermissions (which only removes), this endpoint performs a wholesale replacement of the permission set.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The ID of an existing permission (begins with 'perm_'). Provide either ID or name for each permission, not both. Using ID is more precise and guarantees you're referencing the exact permission intended, regardless of name changes or duplicates. IDs are particularly useful in automation scripts and when migrating permissions between environments.",
                  "example": "perm_1n9McEIBSqy44Qy7hzWyM5",
                  "minLength": 3
                },
                "name": {
                  "type": "string",
                  "description": "The name of the permission. Provide either ID or name for each permission, not both. Names must match exactly as defined in your permission system - including case sensitivity and the complete hierarchical path. Names are generally more human-readable but can be ambiguous if not carefully managed across your workspace.",
                  "example": "documents.write",
                  "minLength": 1
                },
                "create": {
                  "type": "boolean",
                  "description": "When true, if a permission with this name doesn't exist, it will be automatically created on-the-fly. Only works when specifying name, not ID.\n\nSECURITY CONSIDERATIONS:\n- Requires the 'rbac.*.create_permission' permission on your root key\n- Created permissions are permanent and visible throughout your workspace\n- Use carefully to avoid permission proliferation and inconsistency\n- Consider using a controlled process for permission creation instead\n- Typos with create=true will create unintended permissions that persist in your system",
                  "default": false
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "V2KeysSetPermissionsResponseData": {
        "type": "array",
        "description": "Complete list of all permissions now directly assigned to the key after the set operation has completed.\n\nThe response includes:\n- The comprehensive, updated set of direct permissions (reflecting the complete replacement)\n- Both ID and name for each permission for easy reference\n- Permissions sorted alphabetically by name for consistent response format\n\nImportant notes:\n- This only shows direct permissions, not those granted through roles\n- An empty array means the key has no direct permissions assigned\n- For a complete permission picture including roles, use keys.getKey instead\n- All permission changes are logged in the audit log for security tracking",
        "items": {
          "type": "object",
          "required": [
            "id",
            "name"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "The unique identifier of the permission",
              "example": "perm_1n9McEIBSqy44Qy7hzWyM5"
            },
            "name": {
              "type": "string",
              "description": "The name of the permission",
              "example": "documents.write"
            }
          }
        }
      },
      "V2KeysSetPermissionsResponse": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/V2KeysSetPermissionsResponseData"
          }
        }
      },
      "V2KeysAddRolesRequestBody": {
        "type": "object",
        "required": [
          "keyId",
          "roles"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The ID of the key to which roles will be added (begins with 'key_'). This is the database reference ID for the key, not the actual API key string. This ID uniquely identifies which key will receive the additional roles.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q",
            "minLength": 3
          },
          "roles": {
            "type": "array",
            "minItems": 1,
            "description": "List of roles to add to the key. Each role can be identified by ID or name (if both are provided in the same object, ID takes precedence).\n\nKey behaviors:\n- Duplicate roles are automatically handled (adding the same role twice has no effect)\n- The operation is idempotent - running it multiple times produces the same result\n- Roles must already exist - unlike permissions, roles cannot be created on-the-fly\n- All roles must belong to the same workspace as the key\n- Invalid roles will cause the entire operation to fail (atomic transaction)\n\nRoles are collections of permissions that provide a convenient way to assign multiple permissions at once. When a key is verified, all permissions granted through all assigned roles are checked, alongside any direct permissions on the key.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The ID of an existing role (begins with 'role_'). Provide either ID or name, not both. Using the ID guarantees you're referencing the exact role intended, regardless of name changes. This is particularly valuable for scripting, automation, and ensuring consistency between environments where role names might differ but IDs are stable references.",
                  "example": "role_1n9McEIBSqy44Qy7hzWyM5",
                  "minLength": 3
                },
                "name": {
                  "type": "string",
                  "description": "The name of the role. Provide either ID or name, not both. Role names must be unique within a workspace, making them generally safe to use as references. Names are more human-readable and easier to work with in configurations and documentation. However, if roles are renamed, any integration using name references will need to be updated.",
                  "example": "admin",
                  "minLength": 1
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "V2KeysAddRolesResponseData": {
        "type": "array",
        "description": "Complete list of all roles directly assigned to the key after the operation completes.\n\nThe response includes:\n- All roles now assigned to the key (both pre-existing and newly added)\n- Both ID and name of each role for easy reference\n- Roles sorted alphabetically by name for consistent response format\n\nImportant notes:\n- The response shows the complete current state after the addition\n- An empty array means the key has no roles assigned (unlikely after an add operation)\n- This only shows direct role assignments, not inherited or nested roles\n- Role permissions are not expanded in this response - use keys.getKey for full details\n- All role changes are logged in the audit log for security tracking",
        "items": {
          "type": "object",
          "required": [
            "id",
            "name"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "The unique identifier of the role (begins with 'role_'). This ID can be used in other API calls to reference this specific role. Role IDs are immutable and guaranteed to be unique within your Unkey workspace, making them reliable reference points for integration and automation systems.",
              "example": "role_1n9McEIBSqy44Qy7hzWyM5"
            },
            "name": {
              "type": "string",
              "description": "The name of the role. This is a human-readable identifier that's unique within your workspace. Role names help identify what access level or function a role provides. Common patterns include naming by access level ('admin', 'editor', 'viewer'), by department ('billing_manager', 'support_agent'), or by feature area ('analytics_user', 'dashboard_admin').",
              "example": "admin"
            }
          }
        }
      },
      "V2KeysAddRolesResponse": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/V2KeysAddRolesResponseData"
          }
        }
      },
      "V2KeysRemoveRolesRequestBody": {
        "type": "object",
        "required": [
          "keyId",
          "roles"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The ID of the key from which roles will be removed (begins with 'key_'). This is the database reference for the key, not the actual API key string that users authenticate with. Every operation requires this identifier to specify which key to modify.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q",
            "minLength": 3
          },
          "roles": {
            "type": "array",
            "minItems": 1,
            "description": "List of roles to remove from the key. Each role can be identified by ID or name (if both are provided in the same object, ID takes precedence).\n\nKey behaviors:\n- Only affects direct role assignments on the key\n- Removing roles that aren't assigned to the key has no effect (silent no-op)\n- The operation is idempotent - multiple identical requests have the same effect\n- Invalid role references will cause the entire operation to fail (atomic transaction)\n- After removal, the key will lose access to any permissions that were only granted through these roles\n- Inherited roles or permissions from other sources are not affected\n\nThis operation is commonly used when downgrading access levels, removing temporary elevated privileges, or fine-tuning access control for API keys.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The ID of an existing role (begins with 'role_'). Provide either ID or name, not both. Using the role ID ensures you're removing exactly the intended role, even if multiple roles have similar or identical names. IDs are especially useful in automation scripts and cross-environment scenarios where consistent references are important.",
                  "example": "role_1n9McEIBSqy44Qy7hzWyM5",
                  "minLength": 3
                },
                "name": {
                  "type": "string",
                  "description": "The name of the role. Provide either ID or name, not both. Role names must exactly match the role's current name in your workspace, including case sensitivity. Names are more human-readable and easier to work with in configurations, but if roles are renamed, any systems using name references will need to be updated.",
                  "example": "admin",
                  "minLength": 1
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "V2KeysRemoveRolesResponseData": {
        "type": "array",
        "description": "Complete list of all roles directly assigned to the key after the removal operation completes.\n\nThe response includes:\n- The remaining roles still assigned to the key (after removing the specified roles)\n- Both ID and name for each role for easy reference\n- Roles sorted alphabetically by name for consistent response format\n\nImportant notes:\n- The response reflects the current state after the removal operation\n- An empty array indicates the key now has no roles assigned\n- This only shows direct role assignments\n- Role permissions are not expanded in this response - use keys.getKey for full details\n- All role changes are logged in the audit log for security tracking\n- Changes take effect immediately for new verifications but cached sessions may retain old permissions briefly",
        "items": {
          "type": "object",
          "required": [
            "id",
            "name"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "The unique identifier of the role (begins with 'role_'). This ID can be used in other API calls to reference this specific role.",
              "example": "role_1n9McEIBSqy44Qy7hzWyM5"
            },
            "name": {
              "type": "string",
              "description": "The name of the role. This is a human-readable identifier that's unique within your workspace.",
              "example": "admin"
            }
          }
        }
      },
      "V2KeysRemoveRolesResponse": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/V2KeysRemoveRolesResponseData"
          }
        }
      },
      "V2KeysSetRolesRequestBody": {
        "type": "object",
        "required": [
          "keyId",
          "roles"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The ID of the key for which to set roles (begins with 'key_'). This is the database reference ID for the key, not the actual API key string. This operation will replace all existing direct role assignments for this key.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q",
            "minLength": 3
          },
          "roles": {
            "type": "array",
            "description": "Complete list of roles to assign to the key. This is a wholesale replacement operation - it replaces all existing direct role assignments with this new set.\n\nKey behaviors:\n- This operation is a complete replacement, not an incremental update\n- Any existing roles not included in this request will be removed\n- Providing an empty array removes all direct role assignments from the key\n- Roles must already exist - they cannot be created on-the-fly like permissions\n- All roles must belong to the same workspace as the key\n- Invalid role references will cause the entire operation to fail (atomic transaction)\n- Changes take effect immediately for new verifications\n\nThis approach allows you to precisely control the full role set in a single operation, making it ideal for synchronizing roles with external systems or implementing controlled role templates.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The ID of an existing role (begins with 'role_'). Provide either ID or name, not both. Using role IDs guarantees you're referencing the exact roles intended, regardless of name changes or duplications. This approach is particularly valuable in automation scripts, cross-environment deployments, and systems where role names might change but IDs remain stable.",
                  "example": "role_1n9McEIBSqy44Qy7hzWyM5",
                  "minLength": 3
                },
                "name": {
                  "type": "string",
                  "description": "The name of the role. Provide either ID or name, not both. Role names must be unique within a workspace, making them generally safe to use as references. Names are more human-readable and easier to work with in configurations, especially when implementing standardized role templates across many keys. However, if roles are renamed, any integrations using name references will need updates.",
                  "example": "admin",
                  "minLength": 1
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "V2KeysSetRolesResponseData": {
        "type": "array",
        "description": "Complete list of all roles now directly assigned to the key after the set operation has completed.\n\nThe response includes:\n- The comprehensive, updated set of roles (reflecting the complete replacement)\n- Both ID and name for each role for easy reference\n- Roles sorted alphabetically by name for consistent response format\n\nImportant notes:\n- This response shows the final state after the complete replacement\n- If you provided an empty array in the request, this will also be empty\n- This only shows direct role assignments on the key\n- Role permissions are not expanded in this response - use keys.getKey for complete details\n- All role changes are logged in the audit log for security tracking\n- An empty array indicates the key now has no roles assigned at all",
        "items": {
          "type": "object",
          "required": [
            "id",
            "name"
          ],
          "properties": {
            "id": {
              "type": "string",
              "description": "The unique identifier of the role (begins with 'role_'). This ID can be used in other API calls to reference this specific role. Role IDs are immutable and guaranteed to be unique, making them reliable reference points for integration and automation systems.",
              "example": "role_1n9McEIBSqy44Qy7hzWyM5"
            },
            "name": {
              "type": "string",
              "description": "The name of the role. This is a human-readable identifier that's unique within your workspace. Role names are descriptive labels that help identify what access level or function a role provides. Good naming practices include naming by access level ('admin', 'editor'), by department ('billing_team', 'support_staff'), or by feature area ('reporting_user', 'settings_manager').",
              "example": "admin"
            }
          }
        }
      },
      "V2KeysSetRolesResponse": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/V2KeysSetRolesResponseData"
          }
        }
      },
      "V2KeysUpdateRemainingRequestBody": {
        "type": "object",
        "required": [
          "keyId",
          "remaining"
        ],
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The ID of the key to update (begins with 'key_'). This is the database reference ID for the key, not the actual API key string that users authenticate with. This ID uniquely identifies which key's credits will be updated.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q",
            "minLength": 3
          },
          "remaining": {
            "type": "integer",
            "format": "int64",
            "description": "The new value for the remaining credits. This is an absolute value replacement, not an increment or decrement operation.\n\nKey behaviors:\n- This completely replaces the current remaining credits value\n- To add credits, first get the current value and then set remaining = current + additional\n- To make a key unlimited, set remaining = -1\n- To make a key with unlimited usage have a specific limit, set remaining to a positive number\n- Credits are decremented each time the key is successfully verified (by the cost value, default 1)\n- When credits reach zero, verification fails with code=USAGE_EXCEEDED\n\nThis field is useful for implementing usage-based pricing, subscription tiers, trial periods, or consumption quotas.",
            "example": 1000
          },
          "overwriteRefillSettings": {
            "type": "boolean",
            "description": "When true, any existing automatic refill settings will be removed from the key.\n\nUse cases:\n- Convert a key with automatic periodic refills to a one-time credit allocation\n- Remove subscription-like behavior in favor of manually controlled credits\n- Downgrade from an automatic plan to a fixed allocation\n- Simplify credit management by removing automated refills\n\nWhen false or omitted, existing refill settings are preserved, and only the current remaining value is updated. This lets you adjust the current balance without changing the refill schedule.",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "KeysUpdateRemainingResponseData": {
        "type": "object",
        "required": [
          "remaining"
        ],
        "properties": {
          "remaining": {
            "type": "integer",
            "format": "int64",
            "description": "The updated remaining credits value for the key after the operation completes. This reflects the exact value that was set in the request. A value of -1 indicates unlimited usage, meaning the key can be used an unlimited number of times without being rejected for credit exhaustion. This field is guaranteed to be present in every response.",
            "example": 1000
          },
          "refillSettings": {
            "type": "object",
            "nullable": true,
            "properties": {
              "interval": {
                "type": "string",
                "enum": [
                  "daily",
                  "weekly",
                  "monthly",
                  "never"
                ],
                "description": "The interval at which credits are automatically refilled. 'daily' resets at midnight UTC, 'weekly' resets on the specified weekday (where 1=Monday, 7=Sunday), 'monthly' resets on the specified day of month, and 'never' means no automatic refills occur."
              },
              "amount": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "description": "The number of credits added during each automatic refill. This is the quota that gets renewed each period, making it useful for implementing subscription tiers with different usage limits (e.g., Basic=100/month, Pro=1000/month)."
              },
              "refillDay": {
                "type": "integer",
                "minimum": 1,
                "maximum": 31,
                "description": "For monthly refills, the day of the month on which to refill (1-31). For weekly refills, the day of the week (1=Monday, 7=Sunday). This allows aligning refills with billing cycles, subscription periods, or other business-relevant schedules."
              },
              "lastRefillAt": {
                "type": "string",
                "format": "date-time",
                "description": "The timestamp when the last automatic refill occurred. This helps track when credits were last replenished and understand when the next refill will occur. The timestamp is in ISO 8601 format (YYYY-MM-DDTHH:MM:SSZ)."
              }
            },
            "description": "If the key has automatic refill settings, they are included here with their current configuration. If null, the key does not have automatic refills configured (either because they were removed with overwriteRefillSettings=true or because they were never set up). Refill settings create subscription-like behavior where the key automatically receives new credits on a regular schedule."
          }
        }
      },
      "V2KeysUpdateRemainingResponse": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/KeysUpdateRemainingResponseData"
          }
        }
      },
      "V2KeysCreateKeyRequestBody": {
        "type": "object",
        "required": [
          "apiId"
        ],
        "properties": {
          "apiId": {
            "type": "string",
            "minLength": 3,
            "maxLength": 255,
            "description": "The API ID where this key should be created. Keys are isolated by API, preventing keys from one environment (e.g., development) being used in another (e.g., production). We recommend creating separate APIs for different environments and services.",
            "example": "api_2cGKbMxRjIzhCxo1IdjH3a"
          },
          "prefix": {
            "type": "string",
            "maxLength": 16,
            "description": "Optional prefix for the key that helps visually identify its purpose. The prefix becomes part of the key (e.g., 'prod_xxxxxxxxx') and appears in logs and dashboards. Use prefixes like 'prod', 'dev', 'test', or application names to help users understand what the key is for. Only alphanumeric characters, underscores, and hyphens are allowed.",
            "example": "prod"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name for the key shown in dashboards, logs, and API responses. This helps identify the key's purpose or owner but is never exposed to end users. Good names include the user's name, the specific service, or the access level (e.g., 'Alice's Production Key', 'Payment Service Key', 'Admin Access').",
            "example": "Payment Service Production Key"
          },
          "byteLength": {
            "type": "integer",
            "minimum": 16,
            "maximum": 255,
            "default": 16,
            "description": "Controls the cryptographic strength of the generated key. Higher values increase security but result in longer keys. The default (16 bytes) provides 2^128 possible combinations, which is secure for most applications. For highly sensitive APIs, consider using 24 or 32 bytes.",
            "example": 24
          },
          "externalId": {
            "type": "string",
            "description": "Your system's unique identifier for the user or entity this key belongs to. This ID is returned during verification, allowing you to identify the key owner without additional database lookups. Typically, this should be your user ID, organization ID, or tenant ID - whatever you use to identify entities in your system.",
            "example": "user_912a841d"
          },
          "meta": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary JSON metadata stored with the key and returned during verification. This is ideal for contextual information needed during API requests like subscription plans, feature flags, or user properties. Storing this data with the key eliminates the need for additional database lookups during verification, improving performance for stateless services.",
            "example": {
              "plan": "enterprise",
              "featureFlags": {
                "betaAccess": true,
                "concurrentConnections": 10
              },
              "customerName": "Acme Corp"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            },
            "description": "Roles to assign to this key for permission management. Each role represents a collection of permissions that define what actions the key can perform. Roles must already exist in your workspace. During verification, all permissions from these roles are checked against requested permissions. Common role names include 'admin', 'editor', 'viewer', etc.",
            "example": [
              "api_admin",
              "billing_reader"
            ]
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            },
            "description": "Individual permissions to assign directly to this key. Permissions define specific actions the key can perform when verified with the permissions check. Use a hierarchical naming pattern like 'resource.action' (e.g., 'documents.read', 'users.delete') to create logical groupings. During verification, a key with permission 'documents.*' will have access to both 'documents.read' and 'documents.write'.",
            "example": [
              "documents.read",
              "documents.write",
              "settings.view"
            ]
          },
          "expires": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (milliseconds) when this key should automatically expire. After this time, verification will fail with code=EXPIRED. Use temporary keys for time-limited access, trial periods, emergency access, or one-time operations. Omit this field for keys that should never expire.",
            "example": 1704067200000
          },
          "credits": {
            "type": "object",
            "required": [
              "remaining"
            ],
            "properties": {
              "remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The initial number of credits (or requests) this key can use before becoming invalid. Each verification decrements this counter by the specified cost (default 1). When it reaches zero, verification fails with code=USAGE_EXCEEDED. This provides global consistency for usage limits, making it ideal for paid APIs with strict quotas.",
                "example": 1000
              },
              "refill": {
                "type": "object",
                "properties": {
                  "interval": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "monthly"
                    ],
                    "description": "How frequently credits should be automatically refilled. With 'daily', credits reset at midnight UTC. With 'monthly', credits reset on the specified refillDay (or the 1st if not specified)."
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Number of credits to add during each automatic refill. This should typically match the 'remaining' value to provide consistent quota periods."
                  },
                  "refillDay": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31,
                    "description": "For monthly refills, the day of month when credits are replenished. If the month doesn't have this day (e.g., refillDay=31 in February), the refill occurs on the last day of the month."
                  }
                },
                "required": [
                  "interval",
                  "amount"
                ],
                "description": "Configuration for automatic credit refills. This creates a subscription-like recurring quota that resets on a schedule. To implement monthly plans with usage quotas, set interval='monthly' with the appropriate amount and refillDay."
              }
            },
            "description": "Usage limits configuration for this key. Credits provide a way to limit how many times a key can be used, with optional automatic refills. Unlike rate limits (which control frequency), credits control total usage and are globally consistent. This makes them ideal for implementing usage-based pricing, subscription tiers, or hard usage caps."
          },
          "ratelimits": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "limit",
                "duration"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Identifier for this rate limit. Multiple named rate limits can control different aspects of API usage. Use descriptive names that reflect what's being limited, like 'requests', 'compute_operations', or 'database_writes'.",
                  "example": "requests"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1,
                  "description": "Maximum number of operations allowed within the time window. When this limit is reached, verification fails with code=RATE_LIMITED until the window resets.",
                  "example": 100
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 1000,
                  "description": "Duration of the rate limit window in milliseconds. Common durations include 60000 (1 minute), 3600000 (1 hour), or 86400000 (1 day). The rate limit resets after this period has elapsed.",
                  "example": 60000
                }
              }
            },
            "description": "Array of rate limits to apply to this key. Rate limits protect against abuse by controlling how frequently operations can be performed. Unlike credits (which limit total usage), rate limits are time-based and automatically reset. They're optimized for performance and typically add minimal latency to verifications.",
            "example": [
              {
                "name": "requests",
                "limit": 100,
                "duration": 60000
              },
              {
                "name": "heavy_operations",
                "limit": 10,
                "duration": 3600000
              }
            ]
          },
          "enabled": {
            "type": "boolean",
            "default": true,
            "description": "Controls whether the key is active upon creation. If false, verification will immediately fail with code=DISABLED. This is useful for preparing keys in advance that will be activated later, or for implementing approval workflows where keys are created disabled until reviewed.",
            "example": true
          },
          "recoverable": {
            "type": "boolean",
            "default": false,
            "description": "If true, the plaintext key is stored in an encrypted vault, allowing it to be retrieved later using keys.getKey with decrypt=true. SECURITY WARNING: This reduces security by storing the key in recoverable format. Use only for development keys, emergency backup, or when absolutely necessary. In production, set this to false (default) for maximum security.",
            "example": false
          }
        },
        "additionalProperties": false
      },
      "KeysCreateKeyResponseData": {
        "type": "object",
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The unique identifier for this key in Unkey's system. This is NOT the actual API key, but a reference ID used for management operations like updating or deleting the key. Store this ID in your database to reference the key later. This ID is not sensitive and can be logged or displayed in dashboards.",
            "example": "key_2cGKbMxRyIzhCxo1Idjz8q"
          },
          "key": {
            "type": "string",
            "description": "The full generated API key that should be securely provided to your user. SECURITY WARNING: This is the only time you'll receive the complete key - Unkey only stores a securely hashed version. Never log or store this value in your own systems; provide it directly to your end user via secure channels. After this API call completes, this value cannot be retrieved again (unless created with recoverable=true).",
            "example": "prod_2cGKbMxRjIzhCxo1IdjH3arELti7Sdyc8w6XYbvtcyuBowPT"
          }
        },
        "required": [
          "keyId",
          "key"
        ]
      },
      "V2KeysCreateKeyResponseBody": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/KeysCreateKeyResponseData"
          }
        }
      },
      "Meta": {
        "type": "object",
        "required": [
          "requestId"
        ],
        "properties": {
          "requestId": {
            "description": "A unique id for this request. Always include this ID when contacting support about a specific API request. This identifier allows Unkey's support team to trace the exact request through logs and diagnostic systems to provide faster assistance.",
            "example": "req_123",
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Metadata object included in every API response. This provides context about the request and is essential for debugging, audit trails, and support inquiries. The requestId is particularly important when troubleshooting issues with the Unkey support team."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "cursor": {
            "description": "Opaque token for retrieving the next set of results",
            "example": "cursor_xyz123",
            "type": "string"
          },
          "hasMore": {
            "description": "Indicates if more results exist beyond this page",
            "example": true,
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "BaseError": {
        "properties": {
          "detail": {
            "description": "A human-readable explanation specific to this occurrence of the problem. This provides detailed information about what went wrong and potential remediation steps. The message is intended to be helpful for developers troubleshooting the issue.",
            "example": "Property foo is required but is missing.",
            "type": "string"
          },
          "instance": {
            "description": "A URI reference that identifies the specific occurrence of the problem. This can be used to look up additional information about this specific error instance in logs or error tracking systems, and is particularly useful when reporting issues to support.",
            "example": "https://example.com/error-log/abc123",
            "format": "uri",
            "type": "string"
          },
          "status": {
            "description": "HTTP status code that corresponds to this error. This will match the status code in the HTTP response. Common codes include 400 (Bad Request), 401 (Unauthorized), 403 (Forbidden), 404 (Not Found), 409 (Conflict), and 500 (Internal Server Error).",
            "example": 404,
            "format": "int",
            "type": "integer"
          },
          "title": {
            "description": "A short, human-readable summary of the problem type. This is a concise, fixed string that categorizes the error and remains consistent between occurrences of the same error type. It provides a quick way to identify the category of error.",
            "type": "string",
            "example": "Not Found"
          },
          "type": {
            "description": "A URI reference to human-readable documentation for the error. This link points to detailed documentation about this specific error type, including possible causes and solutions. It's designed to help developers understand and resolve the issue.",
            "example": "https://unkey.dev/errors/not-found",
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object",
        "required": [
          "detail",
          "status",
          "title",
          "type"
        ],
        "description": "Standard error structure that provides detailed information about errors encountered during API operations. This follows a problem details format that includes both machine-readable error codes and human-readable explanations. All error responses in the API include this structure to provide consistent, actionable error information."
      },
      "ValidationError": {
        "additionalProperties": false,
        "properties": {
          "location": {
            "description": "JSON path indicating exactly where in the request the error occurred. This helps pinpoint the problematic field or parameter. Examples include:\n- 'body.name' (field in request body)\n- 'body.items[3].tags' (nested array element)\n- 'path.apiId' (path parameter)\n- 'query.limit' (query parameter)\n\nUse this location to identify exactly which part of your request needs correction.",
            "type": "string",
            "example": "body.permissions[0].name"
          },
          "message": {
            "description": "Detailed error message explaining what validation rule was violated. This provides specific information about why the field or parameter was rejected, such as format errors, invalid values, or constraint violations.",
            "type": "string",
            "example": "Must be at least 3 characters long"
          },
          "fix": {
            "description": "A human-readable suggestion describing how to fix the error. This provides practical guidance on what changes would satisfy the validation requirements. Not all validation errors include fix suggestions, but when present, they offer specific remediation advice.",
            "type": "string",
            "example": "Ensure the name uses only alphanumeric characters, underscores, and hyphens"
          }
        },
        "type": "object",
        "required": [
          "message",
          "location"
        ],
        "description": "Detailed information about a specific validation error in a request. Each validation error pinpoints exactly what part of the request failed validation, why it failed, and how to fix it. Multiple validation errors may be returned in a single response when there are issues with multiple fields or parameters."
      },
      "BadRequestErrorDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseError"
          },
          {
            "type": "object",
            "properties": {
              "errors": {
                "description": "List of individual validation errors that occurred in the request. Each error provides specific details about what failed validation, where the error occurred in the request, and suggestions for fixing it. This granular information helps developers quickly identify and resolve multiple issues in a single request without having to make repeated API calls.",
                "items": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "type": "array"
              }
            },
            "required": [
              "errors"
            ]
          }
        ],
        "description": "Extended error details specifically for bad request (400) errors. This builds on the BaseError structure by adding an array of individual validation errors that provide specific information about each validation failure in the request. This is particularly useful for requests with multiple fields that might have different validation issues simultaneously."
      },
      "NotFoundErrorResponse": {
        "type": "object",
        "required": [
          "meta",
          "error"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "error": {
            "$ref": "#/components/schemas/BaseError"
          }
        },
        "description": "Error response when the requested resource cannot be found. This typically indicates that the resource either doesn't exist, has been deleted, or the caller doesn't have permission to see it. Common scenarios include looking up non-existent keys, APIs, permissions, or identities. When receiving this error, verify that the resource identifier is correct and that the resource hasn't been deleted."
      },
      "ConflictErrorResponse": {
        "type": "object",
        "required": [
          "meta",
          "error"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "error": {
            "$ref": "#/components/schemas/BaseError"
          }
        },
        "description": "Error response for conflicts with the current state of a resource. This typically occurs when trying to create a resource that already exists (like an identity with a duplicate externalId) or when performing an operation that conflicts with the resource's current state. When receiving this error, the request should be modified to resolve the conflict before retrying, or a different operation should be used instead."
      },
      "UnauthorizedErrorResponse": {
        "type": "object",
        "required": [
          "meta",
          "error"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "error": {
            "$ref": "#/components/schemas/BaseError"
          }
        },
        "description": "Error response when authentication has failed or credentials are missing. This occurs when:\n\n- The Authorization header is missing\n- The root key is invalid or has been revoked\n- The root key format is incorrect\n- The authentication token has expired\n\nTo fix this error:\n1. Ensure you're including the Authorization header with format: 'Bearer your_root_key'\n2. Verify your root key is valid and has not been revoked in the Unkey dashboard\n3. Check that you're using the correct root key for the environment\n4. If using a new key, ensure it was created successfully\n\nFor security reasons, the specific reason for authentication failure may be intentionally vague in the error message. Check your Unkey dashboard for more detailed information about your root keys."
      },
      "ForbiddenErrorResponse": {
        "type": "object",
        "required": [
          "meta",
          "error"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "error": {
            "$ref": "#/components/schemas/BaseError"
          }
        },
        "description": "Error response when the caller is authenticated but lacks permission to perform the requested operation. This occurs when:\n\n- The root key doesn't have the required permissions for the operation\n- The caller is trying to access resources from a different workspace\n- The caller is attempting to access another user's resources\n- The operation violates a policy restriction\n\nUnlike Unauthorized (401) which indicates authentication issues, Forbidden (403) indicates authorization problems for an authenticated caller.\n\nTo fix this error:\n1. Check the permissions assigned to your root key in the Unkey dashboard\n2. Verify you're operating within the correct workspace\n3. Ensure you have the necessary scope to access the requested resource\n4. Request additional permissions if needed from your workspace administrator\n\nPermission patterns in Unkey follow a hierarchical structure:\n- 'resource.*' grants all permissions for a resource\n- 'resource.read' grants read-only access\n- 'resource.write' grants write access\n\nCommon permission requirements for endpoints include:\n- keys.create - For creating new API keys\n- keys.read - For retrieving key information\n- keys.update - For modifying existing keys\n- keys.delete - For removing keys\n- apis.* - For managing API namespaces"
      },
      "PreconditionFailedErrorResponse": {
        "type": "object",
        "required": [
          "meta",
          "error"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "error": {
            "$ref": "#/components/schemas/BaseError"
          }
        },
        "description": "Error response for when the service is available but in a degraded state. This occurs when preconditions for normal operation aren't fully met. This could happen when dependent services are experiencing issues, when the system is in maintenance mode, or when certain features are temporarily disabled. Clients should proceed with caution and may want to retry non-critical operations later."
      },
      "BadRequestErrorResponse": {
        "type": "object",
        "required": [
          "meta",
          "error"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "error": {
            "$ref": "#/components/schemas/BadRequestErrorDetails"
          }
        },
        "description": "Error response for invalid requests that cannot be processed due to client-side errors. This typically occurs when request parameters are missing, malformed, or fail validation rules. The response includes detailed information about the specific errors in the request, including the location of each error and suggestions for fixing it. When receiving this error, check the 'errors' array in the response for specific validation issues that need to be addressed before retrying."
      },
      "InternalServerErrorResponse": {
        "type": "object",
        "required": [
          "meta",
          "error"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "error": {
            "$ref": "#/components/schemas/BaseError"
          }
        },
        "description": "Error response for unexpected server-side issues that prevented the request from being processed correctly. This is typically caused by problems with the service infrastructure, database connectivity issues, unexpected exceptions, or service failures. When receiving this error, clients should implement appropriate retry strategies with backoff and report the issue if it persists. The requestId in the meta object is essential for troubleshooting and should be included in any support inquiries."
      },
      "Identity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identity ID"
          },
          "externalId": {
            "type": "string",
            "description": "External identity ID"
          },
          "meta": {
            "type": "object",
            "description": "Identity metadata"
          }
        },
        "required": [
          "id",
          "externalId"
        ]
      },
      "KeyCredits": {
        "type": "object",
        "description": "Remaining requests for this key",
        "properties": {
          "remaining": {
            "type": "integer",
            "description": "Remaining credits"
          },
          "refill": {
            "$ref": "#/components/schemas/KeyCreditsRefill"
          }
        },
        "required": [
          "remaining"
        ]
      },
      "KeyCreditsRefill": {
        "type": "object",
        "properties": {
          "interval": {
            "type": "string",
            "enum": [
              "daily",
              "monthly"
            ],
            "description": "Refill interval"
          },
          "amount": {
            "type": "integer",
            "description": "Amount to refill"
          },
          "refillDay": {
            "type": "integer",
            "description": "Day of the month when refill happens (for monthly interval)"
          },
          "lastRefillAt": {
            "type": "integer",
            "format": "int64",
            "description": "Last time the key was refilled (Unix timestamp)"
          }
        },
        "required": [
          "interval",
          "amount"
        ]
      },
      "KeyResponse": {
        "type": "object",
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The key ID"
          },
          "start": {
            "type": "string",
            "description": "The first few characters of the key"
          },
          "name": {
            "type": "string",
            "description": "Optional name for the key"
          },
          "meta": {
            "type": "object",
            "description": "Optional metadata for the key"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "When the key was created (Unix timestamp)"
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64",
            "description": "When the key was last updated (Unix timestamp)"
          },
          "expires": {
            "type": "integer",
            "format": "int64",
            "description": "When the key expires (Unix timestamp)"
          },
          "credits": {
            "$ref": "#/components/schemas/KeyCredits"
          },
          "environment": {
            "type": "string",
            "description": "Optional environment tag"
          },
          "plaintext": {
            "type": "string",
            "description": "The decrypted key value (only included if decrypt=true)"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Roles assigned to this key"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permissions assigned to this key"
          },
          "identity": {
            "$ref": "#/components/schemas/Identity"
          }
        },
        "required": [
          "keyId",
          "start",
          "createdAt"
        ]
      },
      "LivenessResponseData": {
        "type": "object",
        "properties": {
          "message": {
            "description": "Status message indicating the health of the service. A value of 'OK' indicates that the service is functioning properly and ready to accept requests. Any other value indicates a potential issue with the service health.",
            "example": "OK",
            "type": "string"
          }
        },
        "required": [
          "message"
        ],
        "description": "Response data for the liveness check endpoint. This provides a simple indication of whether the Unkey API service is running and able to process requests. Monitoring systems can use this endpoint to track service availability and trigger alerts if the service becomes unhealthy."
      },
      "V2LivenessResponseBody": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/LivenessResponseData"
          }
        }
      },
      "V2RatelimitSetOverrideRequestBody": {
        "description": "Sets a new or overwrites an existing rate limit override. Overrides allow you to apply special rate limit rules to specific identifiers, providing custom limits that differ from the default.\n\nOverrides are useful for:\n- Granting higher limits to premium users or trusted partners\n- Implementing stricter limits for suspicious or abusive users\n- Creating tiered access levels with different quotas\n- Implementing temporary rate limit adjustments\n- Prioritizing important clients with higher limits",
        "additionalProperties": false,
        "properties": {
          "namespaceId": {
            "description": "The unique ID of the rate limit namespace. Either namespaceId or namespaceName must be provided, but not both. Using namespaceId guarantees you're targeting the exact namespace intended, even if names change, making it ideal for automation and scripts.",
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "namespaceName": {
            "description": "The name of the rate limit namespace. Either namespaceId or namespaceName must be provided, but not both. Using namespaceName is more human-readable and convenient for manual operations and configurations.",
            "type": "string"
          },
          "duration": {
            "description": "The duration in milliseconds for the rate limit window. This defines how long the rate limit counter accumulates before resetting to zero.\n\nConsiderations:\n- This can differ from the default duration for the namespace\n- Longer durations create stricter limits that take longer to reset\n- Shorter durations allow more frequent bursts of activity\n- Common values: 60000 (1 minute), 3600000 (1 hour), 86400000 (1 day)",
            "format": "int64",
            "type": "integer",
            "minimum": 1000
          },
          "identifier": {
            "description": "Identifier of the entity receiving this custom rate limit. This can be:\n\n- A specific user ID for individual custom limits\n- An IP address for location-based rules\n- An email domain for organization-wide policies\n- Any other string that identifies the target entity\n\nWildcards (*) can be used to create pattern-matching rules that apply to multiple identifiers. For example:\n- 'premium_*' would match all identifiers starting with 'premium_'\n- '*_admin' would match all identifiers ending with '_admin'\n- '*suspicious*' would match any identifier containing 'suspicious'\n\nMore detailed information on wildcard pattern rules is available at https://www.unkey.com/docs/ratelimiting/overrides#wildcard-rules",
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "limit": {
            "description": "The maximum number of requests allowed for this override. This defines the custom quota for the specified identifier(s).\n\nSpecial values:\n- Higher than default: For premium or trusted entities\n- Lower than default: For suspicious or abusive entities\n- 0: To completely block access (useful for ban implementation)\n\nThis limit entirely replaces the default limit for matching identifiers.",
            "format": "int64",
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "identifier",
          "limit",
          "duration"
        ],
        "type": "object"
      },
      "RatelimitSetOverrideResponseData": {
        "type": "object",
        "properties": {
          "overrideId": {
            "description": "The unique identifier for the newly created or updated rate limit override. This ID can be used to:\n\n- Reference this specific override in subsequent API calls\n- Delete or modify this override later\n- Track which override is being applied in rate limit responses\n- Associate override effects with specific rules in analytics\n\nStore this ID if you need to manage the override in the future.",
            "type": "string"
          }
        },
        "required": [
          "overrideId"
        ]
      },
      "V2RatelimitSetOverrideResponseBody": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/RatelimitSetOverrideResponseData"
          }
        }
      },
      "V2RatelimitGetOverrideRequestBody": {
        "description": "Gets the configuration of an existing rate limit override. Use this to retrieve details about custom rate limit rules that have been created for specific identifiers within a namespace.\n\nThis endpoint is useful for:\n- Verifying override configurations\n- Checking current limits for specific entities\n- Auditing rate limit policies\n- Debugging rate limiting behavior\n- Retrieving override settings for modification",
        "additionalProperties": false,
        "properties": {
          "namespaceId": {
            "description": "The unique ID of the rate limit namespace. Either namespaceId or namespaceName must be provided, but not both. Using namespaceId is more precise and less prone to naming conflicts, making it ideal for scripts and automated operations.",
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "namespaceName": {
            "description": "The name of the rate limit namespace. Either namespaceId or namespaceName must be provided, but not both. Using namespaceName is more human-readable and easier to work with for manual operations and configurations.",
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "identifier": {
            "description": "The exact identifier pattern for the override you want to retrieve. This must match exactly as it was specified when creating the override.\n\nImportant notes:\n- This is case-sensitive and must match exactly\n- Include any wildcards (*) that were part of the original pattern\n- For example, if the override was created for 'premium_*', you must use 'premium_*' here, not a specific ID like 'premium_user1'\n\nThis field is used to look up the specific override configuration for this pattern.",
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          }
        },
        "required": [
          "identifier"
        ],
        "type": "object"
      },
      "V2RatelimitGetOverrideResponseBody": {
        "type": "object",
        "required": [
          "meta",
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "$ref": "#/components/schemas/RatelimitOverride"
          }
        }
      },
      "V2RatelimitListOverridesRequestBody": {
[...]
