info:
  title: Unkey API
  version: 2.0.0
  description: |-
    Unkey API provides comprehensive API key management services including creation, verification, and management of API keys with fine-grained permissions, rate limiting, and analytics.

    This API uses HTTP Bearer authentication with root keys. Most endpoints require specific permissions associated with your root key. When making requests, include your root key in the Authorization header:
    ```
    Authorization: Bearer your_root_key_here
    ```

    All responses follow a consistent structure with a 'meta' object containing request metadata and a 'data' object containing the actual response data. Error responses include detailed information about what went wrong and how to fix it.
openapi: 3.0.1
servers:
  - url: https://api.unkey.com
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 50
    maxInterval: 1000
    maxElapsedTime: 10000
    exponent: 1.5
  statusCodes:
    - 5XX
  retryConnectionErrors: true
security:
  - rootKey: []
components:
  securitySchemes:
    rootKey:
      type: http
      scheme: bearer
      bearerFormat: root key
      description: |-
        Unkey uses API keys (root keys) for authentication. These keys authorize access to management operations in the API.

        To authenticate, include your root key in the Authorization header of each request:
        ```
        Authorization: Bearer your_root_key_here
        ```

        Root keys have specific permissions attached to them, controlling what operations they can perform. Key permissions follow a hierarchical structure with patterns like 'resource.resource_id.action' (e.g., 'apis.*.create_key', 'apis.*.read_api').

        Security best practices:
        - Keep root keys secure and never expose them in client-side code
        - Use different root keys for different environments
        - Rotate keys periodically, especially after team member departures
        - Create keys with minimal necessary permissions following least privilege principle
        - Monitor key usage with audit logs.
      x-speakeasy-example: UNKEY_ROOT_KEY
  schemas:
    V2KeysUpdateKeyRequestBody:
      type: object
      required:
        - keyId
      properties:
        keyId:
          type: string
          minLength: 3
          maxLength: 255  # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_-]+$"
          description: |
            Specifies which key to update using the database identifier returned from createKey.
            Do not confuse this with the actual API key string that users include in requests.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 200  # Human-readable names should be concise but descriptive
          description: |
            Sets a human-readable name for internal organization and identification.
            Omitting this field leaves the current name unchanged, while setting null removes it entirely.
            Avoid generic names like "API Key" when managing multiple keys per user or service.
          example: Payment Service Production Key
        externalId:
          type: string
          nullable: true
          minLength: 1
          maxLength: 255  # Match database varchar limits for external identifiers
          pattern: "^[a-zA-Z0-9_.-]+$"
          description: |
            Links this key to a user or entity in your system for ownership tracking during verification.
            Omitting this field preserves the current association, while setting null disconnects the key from any identity.
            Essential for user-specific analytics, billing, and key management across multiple users.
          example: user_912a841d
        meta:
          type: object
          nullable: true
          additionalProperties: true
          maxProperties: 100  # Prevent DoS while allowing rich metadata
          description: |
            Stores arbitrary JSON metadata returned during key verification.
            Omitting this field preserves existing metadata, while setting null removes all metadata entirely.
            Avoid storing sensitive data here as it's returned in verification responses.
            Large metadata objects increase verification latency and should stay under 10KB total size.
          example:
            plan: enterprise
            limits:
              storage: 500GB
              compute: 1000 minutes/month
            features: [analytics, exports, webhooks]
            hasAcceptedTerms: true
            billing:
              cycle: monthly
              next_billing: "2024-01-15"
            preferences:
              timezone: "UTC"
              notifications: true
            lastBillingDate: "2023-10-15"
        expires:
          type: integer
          nullable: true
          format: int64
          minimum: 0
          maximum: 4102444800000  # January 1, 2100 - reasonable future limit
          description: |
            Sets when this key automatically expires as a Unix timestamp in milliseconds.
            Verification fails with code=EXPIRED immediately after this time passes.
            Omitting this field preserves the current expiration, while setting null makes the key permanent.

            Avoid setting timestamps in the past as they immediately invalidate the key.
            Keys expire based on server time, not client time, which prevents timezone-related issues.
            Active sessions continue until their next verification attempt after expiry.
          example: 1704067200000
        credits:
          type: object
          nullable: true
          properties:
            remaining:
              type: integer
              format: int64
              minimum: 0
              maximum: 9223372036854775807  # Max int64 value
              description: |
                Counts how many times this key can be used before becoming invalid.
                Each verification reduces this count by the verification cost (default 1).
                When reaching 0, further verifications fail with INSUFFICIENT_CREDITS.
                Required when specifying credits for usage-based pricing or quotas.
              example: 1000
            refill:
              type: object
              nullable: true
              properties:
                interval:
                  type: string
                  enum:
                    - daily
                    - monthly
                  description: |
                    Sets how often credits automatically refill. Monthly refills support specific days via refillDay, 
                    while daily refills occur at midnight UTC. Choose daily for high-frequency APIs and monthly for 
                    subscription-based quotas.
                amount:
                  type: integer
                  minimum: 1
                  maximum: 1000000  # Reasonable upper bound for subscription quotas
                  description: |
                    Specifies how many credits to add during each refill cycle.
                    This amount gets added to remaining credits, not replaced, so unused credits carry over.
                    Typically matches your subscription plan's quota.
                  example: 1000
                refillDay:
                  type: integer
                  minimum: 1
                  maximum: 31  # Valid calendar days
                  description: |
                    Sets the day of month for monthly refills (1-31). Only valid with monthly interval.
                    Days beyond month length (like 31 in February) default to the last valid day.
                    Useful for aligning refills with billing cycles.
                  example: 15
              required:
                - interval
                - amount
              description: |
                Configures automatic credit refills on a schedule. 
                Omitting this field preserves existing refill settings, while setting null disables refills entirely.
                Refills add to existing credits rather than replacing them, allowing unused quotas to accumulate.
          required:
            - remaining
          description: |
            Controls usage-based limits for this key through credit consumption.
            Omitting this field preserves current credit settings, while setting null enables unlimited usage.
            Cannot configure refill settings when credits is null, and refillDay requires monthly interval.
            Essential for implementing usage-based pricing and subscription quotas.
        ratelimits:
          type: array
          nullable: true
          maxItems: 50  # Reasonable limit for rate limit configurations per key
          items:
            type: object
            required:
              - name
              - limit
              - duration
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 50  # Keep rate limit names concise and readable
                pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
                description: |
                  Identifies this rate limit uniquely within the key. Names must start with a letter and use semantic 
                  identifiers like 'requests', 'computations', or 'write_operations' rather than generic terms.
                  Duplicate names within the same key are not allowed.
                example: requests
              limit:
                type: integer
                format: int64
                minimum: 1
                maximum: 1000000  # Reasonable upper bound for rate limits
                description: |
                  Sets the maximum operations allowed within the duration window.
                  When this limit is reached, verification fails with code=RATE_LIMITED until the window resets.
                  Adjust this based on your API's capacity and expected usage patterns.
                example: 100
              duration:
                type: integer
                format: int32
                minimum: 1000  # 1 second minimum window
                maximum: 2592000000  # 30 days maximum window
                description: |
                  Duration of the rate limit window in milliseconds. Common values include 60000 (1 minute), 
                  3600000 (1 hour), and 86400000 (24 hours). The rate limit automatically resets after this period elapses.
                  Windows shorter than 1 second are not supported for performance reasons.
                example: 60000
              async:
                type: boolean
                default: true
                description: |
                  Controls whether this rate limit uses fast (async=true) or consistent (async=false) mode.
                  Fast mode has lower latency but may allow brief bursts above the limit during high concurrency.
                  Consistent mode provides strict guarantees but adds latency to every verification.
                  Use consistent mode only when precise rate limiting is essential for billing or security.
          description: |
            Defines time-based rate limits that protect against abuse by controlling request frequency.
            Omitting this field preserves existing rate limits, while setting null removes all rate limits.
            Unlike credits which track total usage, rate limits reset automatically after each window expires.
            Multiple rate limits can control different operation types with separate thresholds and windows.
        enabled:
          type: boolean
          description: |
            Controls whether the key is currently active for verification requests.
            When set to false, all verification attempts fail with code=DISABLED regardless of other settings.
            Omitting this field preserves the current enabled status.
            Useful for temporarily suspending access during billing issues, security incidents, or maintenance windows without losing key configuration.
          example: true
      additionalProperties: false
    KeysUpdateKeyResponseData:
      type: object
      properties: {}
      description:
        Empty response object by design. A successful response indicates
        the key was updated successfully. The endpoint doesn't return the updated
        key to reduce response size and avoid exposing sensitive information. Changes
        may take up to 30 seconds to propagate to all regions due to cache invalidation
        delays. If you need the updated key state, use a subsequent call to keys.getKey.
    V2KeysUpdateKeyResponseBody:
      type: object
      required:
        - meta
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysUpdateKeyResponseData"
    V2KeysDeleteKeyRequestBody:
      type: object
      required:
        - keyId
      properties:
        keyId:
          type: string
          minLength: 3
          description:
            The unique identifier of the key to delete (starts with 'key_').
            This is the database ID returned from createKey, not the actual API key
            string itself. Once deleted, verification attempts with this key will
            fail with code=NOT_FOUND and it will no longer appear in key listings.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        permanent:
          type: boolean
          default: false
          description:
            "Controls whether the key should be soft-deleted (default)
            or permanently erased from the database. Soft deletion marks the key as
            deleted but preserves its data, allowing potential recovery via direct
            database operations. Permanent deletion completely removes all traces
            of the key including its hash and metadata. Use permanent=true for regulatory
            compliance scenarios (like GDPR), resolving hash collisions during migrations,
            or when you need to reuse the same key string in the future. CAUTION:
            Permanent deletion cannot be undone."
          example: false
      additionalProperties: false
    KeysDeleteKeyResponseData:
      type: object
      properties: {}
      description:
        Empty response object. A successful response indicates the key
        was deleted successfully. Deletion triggers cache invalidation across all
        regions, but it may take up to 30 seconds for the deletion to be fully propagated
        due to eventual consistency. During this propagation period, some verification
        attempts might still succeed in certain regions.
    V2KeysDeleteKeyResponseBody:
      type: object
      required:
        - meta
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysDeleteKeyResponseData"
    V2KeysGetKeyRequestBody:
      type: object
      required:
        - keyId
      properties:
        keyId:
          type: string
          minLength: 3
          description:
            The unique identifier of the key to retrieve (starts with 'key_').
            This is the database ID returned from createKey, not the actual API key
            string itself. You can find this ID in the creation response, key listings,
            or in the dashboard.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        decrypt:
          type: boolean
          default: false
          description:
            "Whether to include the plaintext key in the response. This
            is only possible for keys created with 'recoverable: true' and requires
            the 'decrypt_key' permission. SECURITY WARNING: This should be used
            sparingly and only for legitimate recovery purposes. Keys returned this
            way must be handled securely and not logged or stored insecurely. Most
            applications should set this to false."
      additionalProperties: false
    KeysGetKeyResponseData:
      type: object
      required:
        - id
        - start
        - workspaceId
        - createdAt
        - enabled
      properties:
        id:
          type: string
          description: The unique identifier of the key in Unkey's system.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        start:
          type: string
          description:
            The first few characters of the key to visually identify it
            without exposing the full key. Used in dashboards and logs to help users
            recognize which key is being used without revealing sensitive information.
            Typically includes the prefix if one was specified.
          example: prod_5j1
        workspaceId:
          type: string
          description: The ID of the workspace that owns this key.
          example: ws_1234abcd
        apiId:
          type: string
          description: The ID of the API this key belongs to.
          example: api_2cGKbMxRjIzhCxo1IdjH3a
        name:
          type: string
          description:
            A descriptive name for the key for internal reference. Shown
            in dashboards and logs but never exposed to end users.
          example: Payment Service Production Key
        externalId:
          type: string
          description:
            Your user's unique identifier, creating a link between Unkey
            and your system. This ID is returned during verification so you can identify
            which customer/entity is making the request without performing additional
            database lookups. Use consistent identifiers that match your primary user/tenant
            identifiers for seamless integration.
          example: user_912a841d
        meta:
          type: object
          additionalProperties: true
          description:
            Arbitrary JSON metadata associated with this key. This can
            include additional context like subscription plans, feature flags, or
            any custom data. Metadata is stored as-is and returned during verification,
            allowing you to access important information without additional database
            queries. Consider including data relevant to authorization decisions,
            usage tracking, and user context.
          example:
            plan: enterprise
            limits:
              storage: 500GB
              compute: 1000 minutes/month
            contactInfo:
              primaryEmail: admin@example.com
              technicalContact: tech@example.com
            integrations:
              slack: true
              github:
                enabled: true
                repositories: 10
            lastActivityTimestamp: 1671048264000
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp (in milliseconds) when the key was created.
          example: 1671048264000
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp (in milliseconds) when the key was last updated.
          example: 1671135600000
        expires:
          type: integer
          format: int64
          description:
            Unix timestamp (in milliseconds) when this key will automatically
            expire. If null, the key has no expiration.
          example: 1704067200000
        credits:
          type: object
          properties:
            remaining:
              type: integer
              format: int32
              description:
                The number of times this key can still be used before becoming
                invalid.
              example: 753
            refill:
              type: object
              required:
                - interval
                - amount
              properties:
                interval:
                  type: string
                  enum:
                    - daily
                    - monthly
                  description: How often the credits are automatically refilled.
                amount:
                  type: integer
                  minimum: 1
                  description: Number of credits added during each refill.
                refillDay:
                  type: integer
                  minimum: 1
                  maximum: 31
                  description:
                    For monthly refills, the day of month when refills
                    occur.
                lastRefillAt:
                  type: integer
                  format: int64
                  description:
                    Unix timestamp (in milliseconds) when credits were
                    last refilled.
              description: Configuration for automatic credit refills.
          description:
            Usage limits configuration for this key. Credits provide a
            way to limit the number of times a key can be used before becoming invalid.
            Unlike ratelimits, credits are globally consistent (using database transactions)
            providing 100% accuracy at the cost of slightly higher latency. Ideal
            for monetization, usage quotas, or strict limits that must not be exceeded.
            See the 'refill' field for automatic replenishment options.
        ratelimits:
          type: array
          items:
            type: object
            required:
              - name
              - limit
              - duration
            properties:
              name:
                type: string
                description: Identifier for this ratelimit.
                example: requests
              limit:
                type: integer
                format: int32
                description:
                  Maximum number of operations allowed within the time
                  window.
                example: 100
              duration:
                type: integer
                format: int32
                description: Duration of the ratelimit window in milliseconds.
                example: 60000
              async:
                type: boolean
                description:
                  Whether this ratelimit uses fast (async=true) or consistent
                  (async=false) mode. Fast mode has lower latency but less accuracy.
                default: true
          description:
            Array of ratelimits applied to this key. Multiple named ratelimits
            can control different aspects of key usage. For example, a 'requests'
            ratelimit might control overall API calls while a separate 'computations'
            limit manages access to resource-intensive operations. Ratelimits are
            optimized for performance and typically add minimal latency to verifications.
            They can be shared across keys through identities.
        roles:
          type: array
          items:
            type: string
          description:
            List of role names assigned to this key. Roles are collections
            of permissions.
          example:
            - api_admin
            - billing_reader
        permissions:
          type: array
          items:
            type: string
          description: List of permission names directly assigned to this key.
          example:
            - documents.read
            - documents.write
            - settings.view
        enabled:
          type: boolean
          description:
            Whether the key is currently active. Disabled keys will fail
            verification with code=DISABLED. Toggling this allows you to temporarily
            suspend access without deleting the key, which is useful for maintenance,
            account freezing, or debugging. Can be updated using the updateKey endpoint.
          example: true
        plaintext:
          type: string
          description:
            "The full API key in plaintext. Only included when 'decrypt'
            is true and the key was created with 'recoverable: true'. SECURITY RISK:
            This field contains the actual secret key which should never be logged,
            stored in databases, or exposed in any frontend code. It should only be
            displayed directly to users through secure channels. Most applications
            should avoid setting decrypt=true unless absolutely necessary."
        identity:
          type: object
          properties:
            id:
              type: string
              description: The unique ID of the identity in Unkey's system.
            externalId:
              type: string
              description: Your identifier for this identity in your system.
            meta:
              type: object
              additionalProperties: true
              description: Additional metadata associated with this identity.
          required:
            - id
            - externalId
          description:
            The identity associated with this key, if any. Identities allow
            resource sharing (like ratelimits) across multiple keys belonging to the
            same user/entity. This enables scenarios like issuing separate keys for
            different devices/services while maintaining global usage limits for the
            user. An identity's externalId typically matches your user ID or tenant
            ID.
    V2KeysGetKeyResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysGetKeyResponseData"
    V2KeysVerifyKeyResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysVerifyKeyResponseData"
    V2KeysAddPermissionsRequestBody:
      type: object
      required:
        - keyId
        - permissions
      properties:
        keyId:
          type: string
          description:
            The ID of the key to which permissions will be added (begins
            with 'key_')
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        permissions:
          type: array
          minItems: 1
          description: |-
            List of permissions to add to the key. Each permission can be identified by ID or name (if both are provided in the same object, ID takes precedence).

            Best practices:
            - Use consistent naming patterns (e.g., 'resource.action' or 'resource.subresouce.action')
            - Group related permissions (e.g., 'documents.read', 'documents.write', 'documents.delete')
            - Use hierarchical naming for verification flexibility
            - Consider creating a permission naming guide for your team

            Duplicate permissions are automatically handled (adding the same permission twice has no effect). During verification, hierarchical patterns are matched - a key with 'billing.*' permission will have access to 'billing.invoices.view'.
          items:
            type: object
            properties:
              id:
                type: string
                description:
                  The ID of an existing permission (begins with 'perm_').
                  Provide either ID or name. Use ID when you know the exact permission
                  identifier and want to ensure you're referencing a specific permission.
                example: perm_1n9McEIBSqy44Qy7hzWyM5
                minLength: 3
              slug:
                type: string
                description:
                  The slug of the permission. Provide either ID or slug.
                  Permission names typically follow a 'resource.action' format (e.g.,
                  'documents.read', 'users.delete'). Use consistent naming patterns
                  to create logical permission hierarchies. Slugs must be unique.
                example: documents.write
                minLength: 1
              create:
                type: boolean
                description: |-
                  When true, if a permission with this slug doesn't exist, it will be automatically created on-the-fly. Only works when specifying slug, not ID.

                  SECURITY CONSIDERATIONS:
                  - Requires the 'rbac.*.create_permission' permission on your root key
                  - Use carefully to avoid permission proliferation
                  - Consider centralizing permission creation in a controlled process
                  - Typos with create=true can lead to unintended permissions
                  - Created permissions are permanent and visible to all API keys in the workspace
                default: false
            additionalProperties: false
      additionalProperties: false
    V2KeysAddPermissionsResponseData:
      type: array
      description: |-
        Complete list of all permissions directly assigned to the key (including both newly added permissions and those that were already assigned).

        This response includes:
        - All direct permissions assigned to the key (both pre-existing and newly added)
        - Permissions sorted alphabetically by name for consistent response format
        - Both the permission ID and name for each permission

        Important notes:
        - This list does NOT include permissions granted through roles
        - For a complete permission picture, use /v2/keys.getKey instead
        - An empty array indicates the key has no direct permissions assigned
        - Only includes direct permissions from the same workspace as the key
      items:
        type: object
        required:
          - id
          - name
          - slug
        properties:
          id:
            type: string
            description:
              The unique identifier of the permission (begins with 'perm_').
              This ID can be used in other API calls to reference this specific permission.
              IDs are guaranteed unique and won't change, making them ideal for scripting
              and automation. You can store these IDs in your system for consistent
              reference.
            example: perm_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description: "The human-readable name of the permission. "
            example: Can write documents
          slug:
            type: string
            description: |-
              The slug of the permission, typically following a 'resource.action' pattern like 'documents.read'. Names are human-readable identifiers used both for assignment and verification.

              During verification:
              - The exact name is matched (e.g., 'documents.read')
              - Hierarchical wildcards are supported in verification requests
              - A key with permission 'documents.*' grants access to 'documents.read', 'documents.write', etc.
              - Wildcards can appear at any level: 'billing.*.view' matches 'billing.invoices.view' and 'billing.payments.view'

              However, when adding permissions, you must specify each exact permission - wildcards are not valid for assignment.
            example: documents.write
    V2KeysAddPermissionsResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysAddPermissionsResponseData"
    V2KeysRemovePermissionsRequestBody:
      type: object
      required:
        - keyId
        - permissions
      properties:
        keyId:
          type: string
          description:
            The unique identifier of the key from which permissions will
            be removed (begins with 'key_'). This is the database ID returned from
            createKey, not the actual API key string itself. Every operation requires
            this identifier to specify which key to modify.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        permissions:
          type: array
          minItems: 1
          description: |-
            List of permissions to remove from the key. Each permission can be identified by ID or name (if both are provided in the same object, ID takes precedence).

            Important details:
            - This operation only affects direct permissions on the key, not permissions granted through roles
            - Removing permissions that aren't assigned to the key is a no-op and doesn't cause an error
            - Removing all permissions doesn't disable the key - it just removes its direct permissions
            - The operation is idempotent - multiple identical requests have the same effect as a single request
            - After removal, any verification checks for these permissions will fail unless granted via roles
            - Each permission must include either id or name - you can't use wildcards for removal
          items:
            type: object
            properties:
              id:
                type: string
                description:
                  The ID of the permission to remove (begins with 'perm_').
                  Provide either ID or name, not both. Using ID guarantees you're
                  removing the exact permission intended, even if multiple permissions
                  have similar names. The ID is especially useful in automation scripts
                  where precision is important.
                example: perm_1n9McEIBSqy44Qy7hzWyM5
                minLength: 3
              name:
                type: string
                description:
                  The name of the permission to remove. Provide either
                  ID or name, not both. When using names, the string must match exactly
                  as it was defined - including case sensitivity and full hierarchical
                  path (e.g., 'documents.write', not just 'write'). Name lookup happens
                  within the same workspace as the key.
                example: documents.write
                minLength: 1
            additionalProperties: false
      additionalProperties: false
    V2KeysRemovePermissionsResponseData:
      type: object
      description: |-
        Empty response object by design. A successful response indicates the permissions were successfully removed from the key. Unlike the addPermissions endpoint which returns the current permissions, this endpoint returns an empty object to reduce response size.

        Important post-operation effects:
        - Any cached versions of the key are immediately invalidated to ensure consistency
        - Changes to permissions take effect within seconds for new verifications
        - Existing verification sessions might retain permissions until their cache expires (usually <30 seconds)
        - To get the updated list of permissions, use the keys.getKey endpoint
        - All permission removals are logged to the audit log for security tracking
      additionalProperties: false
    V2KeysRemovePermissionsResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysRemovePermissionsResponseData"
    V2KeysSetPermissionsRequestBody:
      type: object
      required:
        - keyId
        - permissions
      properties:
        keyId:
          type: string
          description:
            The unique identifier of the key to set permissions on (begins
            with 'key_'). This ID comes from the createKey response and identifies
            which key will have its permissions replaced. This is the database ID,
            not the actual API key string that users authenticate with.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        permissions:
          type: array
          description: |-
            The permissions to set for this key. This is a complete replacement operation - it overwrites all existing direct permissions with this new set.

            Key behaviors:
            - Providing an empty array removes all direct permissions from the key
            - This only affects direct permissions - permissions granted through roles are not affected
            - All existing direct permissions not included in this list will be removed
            - The complete list approach allows synchronizing permissions with external systems
            - Permission changes take effect immediately for new verifications

            Unlike addPermissions (which only adds) or removePermissions (which only removes), this endpoint performs a wholesale replacement of the permission set.
          items:
            type: object
            properties:
              id:
                type: string
                description:
                  The ID of an existing permission (begins with 'perm_').
                  Provide either ID or slug for each permission, not both. Using ID
                  is more precise and guarantees you're referencing the exact permission
                  intended, regardless of slug changes or duplicates. IDs are particularly
                  useful in automation scripts and when migrating permissions between
                  environments.
                example: perm_1n9McEIBSqy44Qy7hzWyM5
                minLength: 3
              slug:
                type: string
                description:
                  The slug of the permission. Provide either ID or slug
                  for each permission, not both. Slugs must match exactly as defined
                  in your permission system - including case sensitivity and the complete
                  hierarchical path. Slugs are generally more human-readable but can
                  be ambiguous if not carefully managed across your workspace.
                example: documents.write
                minLength: 1
              create:
                type: boolean
                description: |-
                  When true, if a permission with this slug doesn't exist, it will be automatically created on-the-fly. Only works when specifying slug, not ID.

                  SECURITY CONSIDERATIONS:
                  - Requires the 'rbac.*.create_permission' permission on your root key
                  - Created permissions are permanent and visible throughout your workspace
                  - Use carefully to avoid permission proliferation and inconsistency
                  - Consider using a controlled process for permission creation instead
                  - Typos with create=true will create unintended permissions that persist in your system
                default: false
            additionalProperties: false
      additionalProperties: false
    V2KeysSetPermissionsResponseData:
      type: array
      description: |-
        Complete list of all permissions now directly assigned to the key after the set operation has completed.

        The response includes:
        - The comprehensive, updated set of direct permissions (reflecting the complete replacement)
        - Both ID and name for each permission for easy reference
        - Permissions sorted alphabetically by name for consistent response format

        Important notes:
        - This only shows direct permissions, not those granted through roles
        - An empty array means the key has no direct permissions assigned
        - For a complete permission picture including roles, use keys.getKey instead
        - All permission changes are logged in the audit log for security tracking
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description: The unique identifier of the permission
            example: perm_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description: The name of the permission
            example: documents.write
    V2KeysSetPermissionsResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysSetPermissionsResponseData"
    V2KeysAddRolesRequestBody:
      type: object
      required:
        - keyId
        - roles
      properties:
        keyId:
          type: string
          description:
            The ID of the key to which roles will be added (begins with
            'key_'). This is the database reference ID for the key, not the actual
            API key string. This ID uniquely identifies which key will receive the
            additional roles.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        roles:
          type: array
          minItems: 1
          description: |-
            List of roles to add to the key. Each role can be identified by ID or name (if both are provided in the same object, ID takes precedence).

            Key behaviors:
            - Duplicate roles are automatically handled (adding the same role twice has no effect)
            - The operation is idempotent - running it multiple times produces the same result
            - Roles must already exist - unlike permissions, roles cannot be created on-the-fly
            - All roles must belong to the same workspace as the key
            - Invalid roles will cause the entire operation to fail (atomic transaction)

            Roles are collections of permissions that provide a convenient way to assign multiple permissions at once. When a key is verified, all permissions granted through all assigned roles are checked, alongside any direct permissions on the key.
          items:
            type: object
            properties:
              id:
                type: string
                description:
                  The ID of an existing role (begins with 'role_'). Provide
                  either ID or name, not both. Using the ID guarantees you're referencing
                  the exact role intended, regardless of name changes. This is particularly
                  valuable for scripting, automation, and ensuring consistency between
                  environments where role names might differ but IDs are stable references.
                example: role_1n9McEIBSqy44Qy7hzWyM5
                minLength: 3
              name:
                type: string
                description:
                  The name of the role. Provide either ID or name, not
                  both. Role names must be unique within a workspace, making them
                  generally safe to use as references. Names are more human-readable
                  and easier to work with in configurations and documentation. However,
                  if roles are renamed, any integration using name references will
                  need to be updated.
                example: admin
                minLength: 1
            additionalProperties: false
      additionalProperties: false
    V2KeysAddRolesResponseData:
      type: array
      description: |-
        Complete list of all roles directly assigned to the key after the operation completes.

        The response includes:
        - All roles now assigned to the key (both pre-existing and newly added)
        - Both ID and name of each role for easy reference
        - Roles sorted alphabetically by name for consistent response format

        Important notes:
        - The response shows the complete current state after the addition
        - An empty array means the key has no roles assigned (unlikely after an add operation)
        - This only shows direct role assignments, not inherited or nested roles
        - Role permissions are not expanded in this response - use keys.getKey for full details
        - All role changes are logged in the audit log for security tracking
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description:
              The unique identifier of the role (begins with 'role_').
              This ID can be used in other API calls to reference this specific role.
              Role IDs are immutable and guaranteed to be unique within your Unkey
              workspace, making them reliable reference points for integration and
              automation systems.
            example: role_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description:
              The name of the role. This is a human-readable identifier
              that's unique within your workspace. Role names help identify what access
              level or function a role provides. Common patterns include naming by
              access level ('admin', 'editor', 'viewer'), by department ('billing_manager',
              'support_agent'), or by feature area ('analytics_user', 'dashboard_admin').
            example: admin
    V2KeysAddRolesResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysAddRolesResponseData"
    V2KeysRemoveRolesRequestBody:
      type: object
      required:
        - keyId
        - roles
      properties:
        keyId:
          type: string
          description:
            The ID of the key from which roles will be removed (begins
            with 'key_'). This is the database reference for the key, not the actual
            API key string that users authenticate with. Every operation requires
            this identifier to specify which key to modify.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        roles:
          type: array
          minItems: 1
          description: |-
            List of roles to remove from the key. Each role can be identified by ID or name (if both are provided in the same object, ID takes precedence).

            Key behaviors:
            - Only affects direct role assignments on the key
            - Removing roles that aren't assigned to the key has no effect (silent no-op)
            - The operation is idempotent - multiple identical requests have the same effect
            - Invalid role references will cause the entire operation to fail (atomic transaction)
            - After removal, the key will lose access to any permissions that were only granted through these roles
            - Inherited roles or permissions from other sources are not affected

            This operation is commonly used when downgrading access levels, removing temporary elevated privileges, or fine-tuning access control for API keys.
          items:
            type: object
            properties:
              id:
                type: string
                description:
                  The ID of an existing role (begins with 'role_'). Provide
                  either ID or name, not both. Using the role ID ensures you're removing
                  exactly the intended role, even if multiple roles have similar or
                  identical names. IDs are especially useful in automation scripts
                  and cross-environment scenarios where consistent references are
                  important.
                example: role_1n9McEIBSqy44Qy7hzWyM5
                minLength: 3
              name:
                type: string
                description:
                  The name of the role. Provide either ID or name, not
                  both. Role names must exactly match the role's current name in your
                  workspace, including case sensitivity. Names are more human-readable
                  and easier to work with in configurations, but if roles are renamed,
                  any systems using name references will need to be updated.
                example: admin
                minLength: 1
            additionalProperties: false
      additionalProperties: false
    V2KeysRemoveRolesResponseData:
      type: array
      description: |-
        Complete list of all roles directly assigned to the key after the removal operation completes.

        The response includes:
        - The remaining roles still assigned to the key (after removing the specified roles)
        - Both ID and name for each role for easy reference
        - Roles sorted alphabetically by name for consistent response format

        Important notes:
        - The response reflects the current state after the removal operation
        - An empty array indicates the key now has no roles assigned
        - This only shows direct role assignments
        - Role permissions are not expanded in this response - use keys.getKey for full details
        - All role changes are logged in the audit log for security tracking
        - Changes take effect immediately for new verifications but cached sessions may retain old permissions briefly
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description:
              The unique identifier of the role (begins with 'role_').
              This ID can be used in other API calls to reference this specific role.
            example: role_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description:
              The name of the role. This is a human-readable identifier
              that's unique within your workspace.
            example: admin
    V2KeysRemoveRolesResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysRemoveRolesResponseData"
    V2KeysSetRolesRequestBody:
      type: object
      required:
        - keyId
        - roles
      properties:
        keyId:
          type: string
          description:
            The ID of the key for which to set roles (begins with 'key_').
            This is the database reference ID for the key, not the actual API key
            string. This operation will replace all existing direct role assignments
            for this key.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        roles:
          type: array
          description: |-
            Complete list of roles to assign to the key. This is a wholesale replacement operation - it replaces all existing direct role assignments with this new set.

            Key behaviors:
            - This operation is a complete replacement, not an incremental update
            - Any existing roles not included in this request will be removed
            - Providing an empty array removes all direct role assignments from the key
            - Roles must already exist - they cannot be created on-the-fly like permissions
            - All roles must belong to the same workspace as the key
            - Invalid role references will cause the entire operation to fail (atomic transaction)
            - Changes take effect immediately for new verifications

            This approach allows you to precisely control the full role set in a single operation, making it ideal for synchronizing roles with external systems or implementing controlled role templates.
          items:
            type: object
            properties:
              id:
                type: string
                description:
                  The ID of an existing role (begins with 'role_'). Provide
                  either ID or name, not both. Using role IDs guarantees you're referencing
                  the exact roles intended, regardless of name changes or duplications.
                  This approach is particularly valuable in automation scripts, cross-environment
                  deployments, and systems where role names might change but IDs remain
                  stable.
                example: role_1n9McEIBSqy44Qy7hzWyM5
                minLength: 3
              name:
                type: string
                description:
                  The name of the role. Provide either ID or name, not
                  both. Role names must be unique within a workspace, making them
                  generally safe to use as references. Names are more human-readable
                  and easier to work with in configurations, especially when implementing
                  standardized role templates across many keys. However, if roles
                  are renamed, any integrations using name references will need updates.
                example: admin
                minLength: 1
            additionalProperties: false
      additionalProperties: false
    V2KeysSetRolesResponseData:
      type: array
      description: |-
        Complete list of all roles now directly assigned to the key after the set operation has completed.

        The response includes:
        - The comprehensive, updated set of roles (reflecting the complete replacement)
        - Both ID and name for each role for easy reference
        - Roles sorted alphabetically by name for consistent response format

        Important notes:
        - This response shows the final state after the complete replacement
        - If you provided an empty array in the request, this will also be empty
        - This only shows direct role assignments on the key
        - Role permissions are not expanded in this response - use keys.getKey for complete details
        - All role changes are logged in the audit log for security tracking
        - An empty array indicates the key now has no roles assigned at all
      items:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: string
            description:
              The unique identifier of the role (begins with 'role_').
              This ID can be used in other API calls to reference this specific role.
              Role IDs are immutable and guaranteed to be unique, making them reliable
              reference points for integration and automation systems.
            example: role_1n9McEIBSqy44Qy7hzWyM5
          name:
            type: string
            description:
              The name of the role. This is a human-readable identifier
              that's unique within your workspace. Role names are descriptive labels
              that help identify what access level or function a role provides. Good
              naming practices include naming by access level ('admin', 'editor'),
              by department ('billing_team', 'support_staff'), or by feature area
              ('reporting_user', 'settings_manager').
            example: admin
    V2KeysSetRolesResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/V2KeysSetRolesResponseData"
    V2KeysUpdateRemainingRequestBody:
      type: object
      required:
        - keyId
        - remaining
      properties:
        keyId:
          type: string
          description:
            The ID of the key to update (begins with 'key_'). This is the
            database reference ID for the key, not the actual API key string that
            users authenticate with. This ID uniquely identifies which key's credits
            will be updated.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
          minLength: 3
        remaining:
          type: integer
          format: int64
          description: |-
            The new value for the remaining credits. This is an absolute value replacement, not an increment or decrement operation.

            Key behaviors:
            - This completely replaces the current remaining credits value
            - To add credits, first get the current value and then set remaining = current + additional
            - To make a key unlimited, set remaining = -1
            - To make a key with unlimited usage have a specific limit, set remaining to a positive number
            - Credits are decremented each time the key is successfully verified (by the cost value, default 1)
            - When credits reach zero, verification fails with code=USAGE_EXCEEDED

            This field is useful for implementing usage-based pricing, subscription tiers, trial periods, or consumption quotas.
          example: 1000
        overwriteRefillSettings:
          type: boolean
          description: |-
            When true, any existing automatic refill settings will be removed from the key.

            Use cases:
            - Convert a key with automatic periodic refills to a one-time credit allocation
            - Remove subscription-like behavior in favor of manually controlled credits
            - Downgrade from an automatic plan to a fixed allocation
            - Simplify credit management by removing automated refills

            When false or omitted, existing refill settings are preserved, and only the current remaining value is updated. This lets you adjust the current balance without changing the refill schedule.
          default: false
      additionalProperties: false
    KeysUpdateRemainingResponseData:
      type: object
      required:
        - remaining
      properties:
        remaining:
          type: integer
          format: int64
          description:
            The updated remaining credits value for the key after the operation
            completes. This reflects the exact value that was set in the request.
            A value of -1 indicates unlimited usage, meaning the key can be used an
            unlimited number of times without being rejected for credit exhaustion.
            This field is guaranteed to be present in every response.
          example: 1000
        refillSettings:
          type: object
          nullable: true
          properties:
            interval:
              type: string
              enum:
                - daily
                - weekly
                - monthly
                - never
              description:
                The interval at which credits are automatically refilled.
                'daily' resets at midnight UTC, 'weekly' resets on the specified weekday
                (where 1=Monday, 7=Sunday), 'monthly' resets on the specified day
                of month, and 'never' means no automatic refills occur.
            amount:
              type: integer
              format: int64
              minimum: 1
              description:
                The number of credits added during each automatic refill.
                This is the quota that gets renewed each period, making it useful
                for implementing subscription tiers with different usage limits (e.g.,
                Basic=100/month, Pro=1000/month).
            refillDay:
              type: integer
              minimum: 1
              maximum: 31
              description:
                For monthly refills, the day of the month on which to refill
                (1-31). For weekly refills, the day of the week (1=Monday, 7=Sunday).
                This allows aligning refills with billing cycles, subscription periods,
                or other business-relevant schedules.
            lastRefillAt:
              type: string
              format: date-time
              description:
                The timestamp when the last automatic refill occurred.
                This helps track when credits were last replenished and understand
                when the next refill will occur. The timestamp is in ISO 8601 format
                (YYYY-MM-DDTHH:MM:SSZ).
          description:
            If the key has automatic refill settings, they are included
            here with their current configuration. If null, the key does not have
            automatic refills configured (either because they were removed with overwriteRefillSettings=true
            or because they were never set up). Refill settings create subscription-like
            behavior where the key automatically receives new credits on a regular
            schedule.
    V2KeysUpdateRemainingResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysUpdateRemainingResponseData"
    V2KeysCreateKeyRequestBody:
      type: object
      required:
        - apiId
      properties:
        apiId:
          type: string
          minLength: 3
          maxLength: 255  # Reasonable upper bound for database identifiers
          pattern: "^[a-zA-Z0-9_-]+$"
          description: |
            Specifies which API this key belongs to, providing complete isolation between environments.
            Keys from one API cannot be used to access another API, preventing cross-environment access.
            Create separate APIs for different environments (development, staging, production) and services.
          example: api_2cGKbMxRjIzhCxo1IdjH3a
        prefix:
          type: string
          minLength: 1
          maxLength: 16  # Keep prefixes short for readability
          pattern: "^[a-zA-Z0-9_-]+$"
          description: |
            Adds a visual identifier to the beginning of the generated key for easier recognition in logs and dashboards.
            The prefix becomes part of the actual key string (e.g., 'prod_xxxxxxxxx').
            Avoid using sensitive information in prefixes as they may appear in logs and error messages.
          example: prod
        name:
          type: string
          minLength: 1
          maxLength: 200  # Human-readable names should be concise but descriptive
          description: |
            Sets a human-readable identifier for internal organization and dashboard display.
            Never exposed to end users, only visible in management interfaces and API responses.
            Avoid generic names like "API Key" when managing multiple keys for the same user or service.
          example: Payment Service Production Key
        byteLength:
          type: integer
          minimum: 16  # Minimum secure key length
          maximum: 255  # Reasonable upper bound for key generation
          default: 16
          description: |
            Controls the cryptographic strength of the generated key in bytes.
            Higher values increase security but result in longer keys that may be harder to handle.
            The default 16 bytes provides 2^128 possible combinations, sufficient for most applications.
            Consider 32 bytes for highly sensitive APIs, but avoid values above 64 bytes unless specifically required.
          example: 24
        externalId:
          type: string
          minLength: 1
          maxLength: 255  # Match database varchar limits for external identifiers
          pattern: "^[a-zA-Z0-9_.-]+$"
          description: |
            Links this key to a user or entity in your system using your own identifier.
            Returned during verification to identify the key owner without additional database lookups.
            Essential for user-specific analytics, billing, and multi-tenant key management.
            Use your primary user ID, organization ID, or tenant ID for best results.
          example: user_912a841d
        meta:
          type: object
          additionalProperties: true
          maxProperties: 100  # Prevent DoS while allowing rich metadata
          description: |
            Stores arbitrary JSON metadata returned during key verification for contextual information.
            Eliminates additional database lookups during verification, improving performance for stateless services.
            Avoid storing sensitive data here as it's returned in verification responses.
            Large metadata objects increase verification latency and should stay under 10KB total size.
          example:
            plan: enterprise
            featureFlags:
              betaAccess: true
              concurrentConnections: 10
            customerName: Acme Corp
            billing:
              tier: premium
              renewal: "2024-12-31"
        roles:
          type: array
          maxItems: 100  # Reasonable limit for role assignments per key
          items:
            type: string
            minLength: 1
            maxLength: 100  # Keep role names concise and readable
            pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
          description: |
            Assigns existing roles to this key for permission management through role-based access control.
            Roles must already exist in your workspace before assignment.
            During verification, all permissions from assigned roles are checked against requested permissions.
            Roles provide a convenient way to group permissions and apply consistent access patterns across multiple keys.
          example:
            - api_admin
            - billing_reader
        permissions:
          type: array
          maxItems: 1000  # Allow extensive permission sets for complex applications
          items:
            type: string
            minLength: 1
            maxLength: 100  # Keep permission names concise and readable
            pattern: "^[a-zA-Z][a-zA-Z0-9_.*-]*$"
          description: |
            Grants specific permissions directly to this key without requiring role membership.
            Use hierarchical naming patterns like 'resource.action' for logical organization.
            Wildcard permissions like 'documents.*' grant access to all sub-permissions including 'documents.read' and 'documents.write'.
            Direct permissions supplement any permissions inherited from assigned roles.
          example:
            - documents.read
            - documents.write
            - settings.view
        expires:
          type: integer
          format: int64
          minimum: 0
          maximum: 4102444800000  # January 1, 2100 - reasonable future limit
          description: |
            Sets when this key automatically expires as a Unix timestamp in milliseconds.
            Verification fails with code=EXPIRED immediately after this time passes.
            Omitting this field creates a permanent key that never expires.
            
            Avoid setting timestamps in the past as they immediately invalidate the key.
            Keys expire based on server time, not client time, which prevents timezone-related issues.
            Essential for trial periods, temporary access, and security compliance requiring key rotation.
          example: 1704067200000
        credits:
          type: object
          required:
            - remaining
          properties:
            remaining:
              type: integer
              format: int64
              minimum: 0
              maximum: 9223372036854775807  # Max int64 value
              description: |
                Sets the initial number of times this key can be used before becoming invalid.
                Each verification reduces this count by the verification cost (default 1).
                When reaching 0, further verifications fail with code=USAGE_EXCEEDED.
                Provides globally consistent usage limits, ideal for implementing usage-based pricing and strict quotas.
              example: 1000
            refill:
              type: object
              properties:
                interval:
                  type: string
                  enum:
                    - daily
                    - monthly
                  description: |
                    Sets how often credits automatically refill. Daily refills occur at midnight UTC, 
                    while monthly refills support specific days via refillDay.
                    Choose daily for high-frequency APIs and monthly for subscription-based quotas.
                amount:
                  type: integer
                  minimum: 1
                  maximum: 1000000  # Reasonable upper bound for subscription quotas
                  description: |
                    Specifies how many credits to add during each refill cycle.
                    This amount gets added to remaining credits, not replaced, so unused credits carry over.
                    Typically matches your subscription plan's quota for predictable billing cycles.
                  example: 1000
                refillDay:
                  type: integer
                  minimum: 1
                  maximum: 31  # Valid calendar days
                  description: |
                    Sets the day of month for monthly refills (1-31). Only valid with monthly interval.
                    Days beyond month length (like 31 in February) default to the last valid day.
                    Useful for aligning refills with billing cycles and subscription renewals.
                  example: 15
              required:
                - interval
                - amount
              description: |
                Configures automatic credit refills on a schedule for subscription-like recurring quotas.
                Refills add to existing credits rather than replacing them, allowing unused quotas to accumulate.
                Essential for implementing predictable billing cycles and user-friendly quota management.
          description: |
            Controls usage-based limits through credit consumption with optional automatic refills.
            Unlike rate limits which control frequency, credits control total usage with global consistency.
            Essential for implementing usage-based pricing, subscription tiers, and hard usage quotas.
            Omitting this field creates unlimited usage, while setting null is not allowed during creation.
        ratelimits:
          type: array
          maxItems: 50  # Reasonable limit for rate limit configurations per key
          items:
            type: object
            required:
              - name
              - limit
              - duration
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 50  # Keep rate limit names concise and readable
                pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
                description: |
                  Identifies this rate limit uniquely within the key. Names must start with a letter and use semantic 
                  identifiers like 'requests', 'computations', or 'write_operations' rather than generic terms.
                  Duplicate names within the same key are not allowed.
                example: requests
              limit:
                type: integer
                format: int64
                minimum: 1
                maximum: 1000000  # Reasonable upper bound for rate limits
                description: |
                  Sets the maximum operations allowed within the duration window.
                  When this limit is reached, verification fails with code=RATE_LIMITED until the window resets.
                  Adjust this based on your API's capacity and expected usage patterns.
                example: 100
              duration:
                type: integer
                format: int32
                minimum: 1000  # 1 second minimum window
                maximum: 2592000000  # 30 days maximum window
                description: |
                  Duration of the rate limit window in milliseconds. Common values include 60000 (1 minute), 
                  3600000 (1 hour), and 86400000 (24 hours). The rate limit automatically resets after this period elapses.
                  Windows shorter than 1 second are not supported for performance reasons.
                example: 60000
              async:
                type: boolean
                default: true
                description: |
                  Controls whether this rate limit uses fast (async=true) or consistent (async=false) mode.
                  Fast mode has lower latency but may allow brief bursts above the limit during high concurrency.
                  Consistent mode provides strict guarantees but adds latency to every verification.
                  Use consistent mode only when precise rate limiting is essential for billing or security.
          description: |
            Defines time-based rate limits that protect against abuse by controlling request frequency.
            Unlike credits which track total usage, rate limits reset automatically after each window expires.
            Multiple rate limits can control different operation types with separate thresholds and windows.
            Essential for preventing API abuse while maintaining good performance for legitimate usage.
          example:
            - name: requests
              limit: 100
              duration: 60000
            - name: heavy_operations
              limit: 10
              duration: 3600000
              async: false
        enabled:
          type: boolean
          default: true
          description: |
            Controls whether the key is active immediately upon creation.
            When set to false, the key exists but all verification attempts fail with code=DISABLED.
            Useful for pre-creating keys that will be activated later or for keys requiring manual approval.
            Most keys should be created with enabled=true for immediate use.
          example: true
        recoverable:
          type: boolean
          default: false
          description: |
            Controls whether the plaintext key is stored in an encrypted vault for later retrieval.
            When true, allows recovering the actual key value using keys.getKey with decrypt=true.
            When false, the key value cannot be retrieved after creation for maximum security.
            Only enable for development keys or when key recovery is absolutely necessary.
          example: false
      additionalProperties: false
    KeysCreateKeyResponseData:
      type: object
      properties:
        keyId:
          type: string
          description:
            The unique identifier for this key in Unkey's system. This
            is NOT the actual API key, but a reference ID used for management operations
            like updating or deleting the key. Store this ID in your database to reference
            the key later. This ID is not sensitive and can be logged or displayed
            in dashboards.
          example: key_2cGKbMxRyIzhCxo1Idjz8q
        key:
          type: string
          description:
            "The full generated API key that should be securely provided
            to your user. SECURITY WARNING: This is the only time you'll receive
            the complete key - Unkey only stores a securely hashed version. Never
            log or store this value in your own systems; provide it directly to your
            end user via secure channels. After this API call completes, this value
            cannot be retrieved again (unless created with recoverable=true)."
          example: prod_2cGKbMxRjIzhCxo1IdjH3arELti7Sdyc8w6XYbvtcyuBowPT
      required:
        - keyId
        - key
    V2KeysCreateKeyResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/KeysCreateKeyResponseData"
    Meta:
      type: object
      required:
        - requestId
      properties:
        requestId:
          description:
            A unique id for this request. Always include this ID when contacting
            support about a specific API request. This identifier allows Unkey's support
            team to trace the exact request through logs and diagnostic systems to
            provide faster assistance.
          example: req_123
          type: string
      additionalProperties: false
      description:
        Metadata object included in every API response. This provides context
        about the request and is essential for debugging, audit trails, and support
        inquiries. The requestId is particularly important when troubleshooting issues
        with the Unkey support team.
    Pagination:
      type: object
      properties:
        cursor:
          description: Opaque token for retrieving the next set of results
          example: cursor_xyz123
          type: string
        hasMore:
          description: Indicates if more results exist beyond this page
          example: true
          type: boolean
      required:
        - hasMore
      additionalProperties: false
    BaseError:
      properties:
        detail:
          description:
            A human-readable explanation specific to this occurrence of
            the problem. This provides detailed information about what went wrong
            and potential remediation steps. The message is intended to be helpful
            for developers troubleshooting the issue.
          example: Property foo is required but is missing.
          type: string
        instance:
          description:
            A URI reference that identifies the specific occurrence of
            the problem. This can be used to look up additional information about
            this specific error instance in logs or error tracking systems, and is
            particularly useful when reporting issues to support.
          example: https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description:
            HTTP status code that corresponds to this error. This will
            match the status code in the HTTP response. Common codes include 400 (Bad
            Request), 401 (Unauthorized), 403 (Forbidden), 404 (Not Found), 409 (Conflict),
            and 500 (Internal Server Error).
          example: 404
          format: int
          type: integer
        title:
          description:
            A short, human-readable summary of the problem type. This is
            a concise, fixed string that categorizes the error and remains consistent
            between occurrences of the same error type. It provides a quick way to
            identify the category of error.
          type: string
          example: Not Found
        type:
          description:
            A URI reference to human-readable documentation for the error.
            This link points to detailed documentation about this specific error type,
            including possible causes and solutions. It's designed to help developers
            understand and resolve the issue.
          example: https://unkey.dev/errors/not-found
          format: uri
          type: string
      type: object
      required:
        - detail
        - status
        - title
        - type
      description:
        Standard error structure that provides detailed information about
        errors encountered during API operations. This follows a problem details format
        that includes both machine-readable error codes and human-readable explanations.
        All error responses in the API include this structure to provide consistent,
        actionable error information.
    ValidationError:
      additionalProperties: false
      properties:
        location:
          description: |-
            JSON path indicating exactly where in the request the error occurred. This helps pinpoint the problematic field or parameter. Examples include:
            - 'body.name' (field in request body)
            - 'body.items[3].tags' (nested array element)
            - 'path.apiId' (path parameter)
            - 'query.limit' (query parameter)

            Use this location to identify exactly which part of your request needs correction.
          type: string
          example: body.permissions[0].name
        message:
          description:
            Detailed error message explaining what validation rule was
            violated. This provides specific information about why the field or parameter
            was rejected, such as format errors, invalid values, or constraint violations.
          type: string
          example: Must be at least 3 characters long
        fix:
          description:
            A human-readable suggestion describing how to fix the error.
            This provides practical guidance on what changes would satisfy the validation
            requirements. Not all validation errors include fix suggestions, but when
            present, they offer specific remediation advice.
          type: string
          example:
            Ensure the name uses only alphanumeric characters, underscores,
            and hyphens
      type: object
      required:
        - message
        - location
      description:
        Detailed information about a specific validation error in a request.
        Each validation error pinpoints exactly what part of the request failed validation,
        why it failed, and how to fix it. Multiple validation errors may be returned
        in a single response when there are issues with multiple fields or parameters.
    BadRequestErrorDetails:
      allOf:
        - "$ref": "#/components/schemas/BaseError"
        - type: object
          properties:
            errors:
              description:
                List of individual validation errors that occurred in the
                request. Each error provides specific details about what failed validation,
                where the error occurred in the request, and suggestions for fixing
                it. This granular information helps developers quickly identify and
                resolve multiple issues in a single request without having to make repeated
                API calls.
              items:
                "$ref": "#/components/schemas/ValidationError"
              type: array
          required:
            - errors
      description:
        Extended error details specifically for bad request (400) errors.
        This builds on the BaseError structure by adding an array of individual validation
        errors that provide specific information about each validation failure in
        the request. This is particularly useful for requests with multiple fields
        that might have different validation issues simultaneously.
    NotFoundErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response when the requested resource cannot be found. This
        typically indicates that the resource either doesn't exist, has been deleted,
        or the caller doesn't have permission to see it. Common scenarios include
        looking up non-existent keys, APIs, permissions, or identities. When receiving
        this error, verify that the resource identifier is correct and that the resource
        hasn't been deleted.
    ConflictErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response for conflicts with the current state of a resource.
        This typically occurs when trying to create a resource that already exists
        (like an identity with a duplicate externalId) or when performing an operation
        that conflicts with the resource's current state. When receiving this error,
        the request should be modified to resolve the conflict before retrying, or
        a different operation should be used instead.
    UnauthorizedErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description: |-
        Error response when authentication has failed or credentials are missing. This occurs when:

        - The Authorization header is missing
        - The root key is invalid or has been revoked
        - The root key format is incorrect
        - The authentication token has expired

        To fix this error:
        1. Ensure you're including the Authorization header with format: 'Bearer your_root_key'
        2. Verify your root key is valid and has not been revoked in the Unkey dashboard
        3. Check that you're using the correct root key for the environment
        4. If using a new key, ensure it was created successfully

        For security reasons, the specific reason for authentication failure may be intentionally vague in the error message. Check your Unkey dashboard for more detailed information about your root keys.
    ForbiddenErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description: |-
        Error response when the caller is authenticated but lacks permission to perform the requested operation. This occurs when:

        - The root key doesn't have the required permissions for the operation
        - The caller is trying to access resources from a different workspace
        - The caller is attempting to access another user's resources
        - The operation violates a policy restriction

        Unlike Unauthorized (401) which indicates authentication issues, Forbidden (403) indicates authorization problems for an authenticated caller.

        To fix this error:
        1. Check the permissions assigned to your root key in the Unkey dashboard
        2. Verify you're operating within the correct workspace
        3. Ensure you have the necessary scope to access the requested resource
        4. Request additional permissions if needed from your workspace administrator

        Permission patterns in Unkey follow a hierarchical structure:
        - 'resource.*' grants all permissions for a resource
        - 'resource.read' grants read-only access
        - 'resource.write' grants write access

        Common permission requirements for endpoints include:
        - keys.create - For creating new API keys
        - keys.read - For retrieving key information
        - keys.update - For modifying existing keys
        - keys.delete - For removing keys
        - apis.* - For managing API namespaces
    PreconditionFailedErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response for when the service is available but in a degraded
        state. This occurs when preconditions for normal operation aren't fully met.
        This could happen when dependent services are experiencing issues, when the
        system is in maintenance mode, or when certain features are temporarily disabled.
        Clients should proceed with caution and may want to retry non-critical operations
        later.
    BadRequestErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BadRequestErrorDetails"
      description:
        Error response for invalid requests that cannot be processed due
        to client-side errors. This typically occurs when request parameters are missing,
        malformed, or fail validation rules. The response includes detailed information
        about the specific errors in the request, including the location of each error
        and suggestions for fixing it. When receiving this error, check the 'errors'
        array in the response for specific validation issues that need to be addressed
        before retrying.
    InternalServerErrorResponse:
      type: object
      required:
        - meta
        - error
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        error:
          "$ref": "#/components/schemas/BaseError"
      description:
        Error response for unexpected server-side issues that prevented
        the request from being processed correctly. This is typically caused by problems
        with the service infrastructure, database connectivity issues, unexpected
        exceptions, or service failures. When receiving this error, clients should
        implement appropriate retry strategies with backoff and report the issue if
        it persists. The requestId in the meta object is essential for troubleshooting
        and should be included in any support inquiries.
    Identity:
      type: object
      properties:
        id:
          type: string
          description: Identity ID
        externalId:
          type: string
          description: External identity ID
        meta:
          type: object
          description: Identity metadata
        ratelimits:
          type: array
          items:
            "$ref": "#/components/schemas/Ratelimit"
          description: Identity ratelimits
      required:
        - id
        - externalId
        - ratelimits
    KeyCredits:
      type: object
      description: Remaining requests for this key
      properties:
        remaining:
          type: integer
          description: Remaining credits
        refill:
          "$ref": "#/components/schemas/KeyCreditsRefill"
      required:
        - remaining
    KeyCreditsRefill:
      type: object
      properties:
        interval:
          type: string
          enum:
            - daily
            - monthly
          description: Refill interval
        amount:
          type: integer
          description: Amount to refill
        refillDay:
          type: integer
          description: Day of the month when refill happens (for monthly interval)
        lastRefillAt:
          type: integer
          format: int64
          description: Last time the key was refilled (Unix timestamp)
      required:
        - interval
        - amount
    KeyResponse:
      type: object
      properties:
        keyId:
          type: string
          description: The key ID
        start:
          type: string
          description: The first few characters of the key
        name:
          type: string
          description: Optional name for the key
        meta:
          type: object
          description: Optional metadata for the key
        createdAt:
          type: integer
          format: int64
          description: When the key was created (Unix timestamp)
        updatedAt:
          type: integer
          format: int64
          description: When the key was last updated (Unix timestamp)
        expires:
          type: integer
          format: int64
          description: When the key expires (Unix timestamp)
        credits:
          "$ref": "#/components/schemas/KeyCredits"
        environment:
          type: string
          description: Optional environment tag
        plaintext:
          type: string
          description: The decrypted key value (only included if decrypt=true)
        roles:
          type: array
          items:
            type: string
          description: Roles assigned to this key
        permissions:
          type: array
          items:
            type: string
          description: Permissions assigned to this key
        identity:
          "$ref": "#/components/schemas/Identity"
        ratelimits:
          type: array
          items:
            "$ref": "#/components/schemas/RatelimitResponse"
          description: Rate limits applied to this key
      required:
        - keyId
        - start
        - createdAt
    LivenessResponseData:
      type: object
      properties:
        message:
          description:
            Status message indicating the health of the service. A value
            of 'OK' indicates that the service is functioning properly and ready to
            accept requests. Any other value indicates a potential issue with the
            service health.
          example: OK
          type: string
      required:
        - message
      description:
        Response data for the liveness check endpoint. This provides a
        simple indication of whether the Unkey API service is running and able to
        process requests. Monitoring systems can use this endpoint to track service
        availability and trigger alerts if the service becomes unhealthy.
    RatelimitResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this rate limit
        name:
          type: string
          description: The name of the rate limit
        limit:
          type: integer
          description: The maximum number of requests allowed within the duration
        duration:
          type: integer
          description: The duration of the rate limit window in milliseconds
      required:
        - id
        - name
        - limit
        - duration
    V2LivenessResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/LivenessResponseData"
    V2RatelimitSetOverrideRequestBody:
      description: |-
        Sets a new or overwrites an existing rate limit override. Overrides allow you to apply special rate limit rules to specific identifiers, providing custom limits that differ from the default.

        Overrides are useful for:
        - Granting higher limits to premium users or trusted partners
        - Implementing stricter limits for suspicious or abusive users
        - Creating tiered access levels with different quotas
        - Implementing temporary rate limit adjustments
        - Prioritizing important clients with higher limits
      additionalProperties: false
      properties:
        namespaceId:
          description:
            The unique ID of the rate limit namespace. Either namespaceId
            or namespaceName must be provided, but not both. Using namespaceId guarantees
            you're targeting the exact namespace intended, even if names change, making
            it ideal for automation and scripts.
          type: string
          minLength: 1
          maxLength: 255
        namespaceName:
          description:
            The name of the rate limit namespace. Either namespaceId or
            namespaceName must be provided, but not both. Using namespaceName is more
            human-readable and convenient for manual operations and configurations.
          type: string
        duration:
          description: |-
            The duration in milliseconds for the rate limit window. This defines how long the rate limit counter accumulates before resetting to zero.

            Considerations:
            - This can differ from the default duration for the namespace
            - Longer durations create stricter limits that take longer to reset
            - Shorter durations allow more frequent bursts of activity
            - Common values: 60000 (1 minute), 3600000 (1 hour), 86400000 (1 day)
          format: int64
          type: integer
          minimum: 1000
        identifier:
          description: |-
            Identifier of the entity receiving this custom rate limit. This can be:

            - A specific user ID for individual custom limits
            - An IP address for location-based rules
            - An email domain for organization-wide policies
            - Any other string that identifies the target entity

            Wildcards (*) can be used to create pattern-matching rules that apply to multiple identifiers. For example:
            - 'premium_*' would match all identifiers starting with 'premium_'
            - '*_admin' would match all identifiers ending with '_admin'
            - '*suspicious*' would match any identifier containing 'suspicious'

            More detailed information on wildcard pattern rules is available at https://www.unkey.com/docs/ratelimiting/overrides#wildcard-rules
          type: string
          minLength: 1
          maxLength: 255
        limit:
          description: |-
            The maximum number of requests allowed for this override. This defines the custom quota for the specified identifier(s).

            Special values:
            - Higher than default: For premium or trusted entities
            - Lower than default: For suspicious or abusive entities
            - 0: To completely block access (useful for ban implementation)

            This limit entirely replaces the default limit for matching identifiers.
          format: int64
          type: integer
          minimum: 0
      required:
        - identifier
        - limit
        - duration
      type: object
    RatelimitSetOverrideResponseData:
      type: object
      properties:
        overrideId:
          description: |-
            The unique identifier for the newly created or updated rate limit override. This ID can be used to:

            - Reference this specific override in subsequent API calls
            - Delete or modify this override later
            - Track which override is being applied in rate limit responses
            - Associate override effects with specific rules in analytics

            Store this ID if you need to manage the override in the future.
          type: string
      required:
        - overrideId
    V2RatelimitSetOverrideResponseBody:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        data:
          "$ref": "#/components/schemas/RatelimitSetOverrideResponseData"
    V2RatelimitGetOverrideRequestBody:
      description: |-
        Gets the configuration of an existing rate limit override. Use this to retrieve details about custom rate limit rules that have been created for specific identifiers within a namespace.

        This endpoint is useful for:
        - Verifying override configurations
        - Checking current limits for specific entities
        - Auditing rate limit policies
        - Debugging rate limiting behavior
        - Retrieving override settings for modification
      additionalProperties: false
      properties:
        namespaceId:
          description:
            The unique ID of the rate limit namespace. Either namespaceId
            or namespaceName must be provided, but not both. Using namespaceId is
            more precise and less prone to naming conflicts, making it ideal for scripts
            and automated operations.
          type: string
          minLength: 1
          maxLength: 255
        namespaceName:
          description:
            The name of the rate limit namespace. Either namespaceId or
            namespaceName must be provided, but not both. Using namespaceName is more
            human-readable and easier to work with for manual operations and configurations.
          type: string
          minLength: 1
          maxLength: 255
        identifier:
          description: |-
[...]
