@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient-2 {
  background: linear-gradient(black, black) padding-box,
              linear-gradient(to right, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 1)) border-box;
  border-radius: 32px;
  border: .75px solid transparent;
}