@tailwind base;
@tailwind components;
@tailwind utilities;

.open-source-heading-gradient {
  background: linear-gradient(86deg, #FFF 27.24%, rgba(255, 255, 255, 0.30) 56.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}