openapi: 3.1.0
info:
  title: errors.v1
paths: {}
components:
  schemas:
    errors.v1.ErrorCode:
      type: string
      title: ErrorCode
      enum:
        - ErrorCodeUnspecified
        - ErrorCodeInternal
    errors.v1.Fault:
      type: string
      title: Fault
      enum:
        - FAULT_UNSPECIFIED
        - FAULT_UNKNOWN
        - FAULT_PLANETSCALE
        - FAULT_GITHUB
    errors.v1.Service:
      type: string
      title: Service
      enum:
        - ServiceUnknown
        - ServiceAgent
        - ServiceAuth
        - ServiceCatalog
        - ServiceConfig
        - ServiceDNS
        - ServiceSentinel
        - ServiceGitHub
        - ServiceKubernetes
        - ServiceLog
        - ServiceMetrics
        - ServiceMonitor
        - ServiceNetwork
        - ServiceOperator
        - ServiceRegistry
        - ServiceSecret
        - ServiceStorage
        - ServiceSystem
        - ServiceTelemetry
        - ServiceToken
        - ServiceUser
        - ServiceVault
        - ServiceWebhook
    google.protobuf.NullValue:
      type: string
      title: NullValue
      enum:
        - NULL_VALUE
      description: |-
        `NullValue` is a singleton enumeration to represent the null value for the
         `Value` type union.

         The JSON representation for `NullValue` is JSON `null`.
    errors.v1.Action:
      type: object
      properties:
        url:
          type: string
          title: url
          additionalProperties: false
        label:
          type: string
          title: label
          additionalProperties: false
        description:
          type: string
          title: description
          additionalProperties: false
      title: Action
      additionalProperties: false
    errors.v1.Error:
      type: object
      properties:
        fault:
          $ref: '#/components/schemas/errors.v1.Fault'
        group:
          type: string
          title: group
          additionalProperties: false
        code:
          $ref: '#/components/schemas/errors.v1.ErrorCode'
        type:
          type: string
          title: type
          additionalProperties: false
        metadata:
          $ref: '#/components/schemas/google.protobuf.Struct'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/errors.v1.Action'
      title: Error
      additionalProperties: false
    google.protobuf.ListValue:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/google.protobuf.Value'
      title: ListValue
      additionalProperties: false
      description: |-
        `ListValue` is a wrapper around a repeated field of values.

         The JSON representation for `ListValue` is JSON array.
    google.protobuf.Struct:
      type: object
      properties:
        fields:
          type: object
          title: fields
          additionalProperties:
            $ref: '#/components/schemas/google.protobuf.Value'
          description: Unordered map of dynamically typed values.
      title: Struct
      additionalProperties: false
      description: |-
        `Struct` represents a structured data value, consisting of fields
         which map to dynamically typed values. In some languages, `Struct`
         might be supported by a native representation. For example, in
         scripting languages like JS a struct is represented as an
         object. The details of that representation are described together
         with the proto support for the language.

         The JSON representation for `Struct` is JSON object.
    google.protobuf.Struct.FieldsEntry:
      type: object
      properties:
        key:
          type: string
          title: key
          additionalProperties: false
        value:
          $ref: '#/components/schemas/google.protobuf.Value'
      title: FieldsEntry
      additionalProperties: false
    google.protobuf.Value:
      oneOf:
        - type: "null"
        - type: number
        - type: string
        - type: boolean
        - type: array
        - type: object
          additionalProperties: true
      description: |-
        `Value` represents a dynamically typed value which can be either
         null, a number, a string, a boolean, a recursive struct value, or a
         list of values. A producer of value is expected to set one of these
         variants. Absence of any variant indicates an error.

         The JSON representation for `Value` is JSON value.
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - CodeNotFound
          enum:
            - CodeCanceled
            - CodeUnknown
            - CodeInvalidArgument
            - CodeDeadlineExceeded
            - CodeNotFound
            - CodeAlreadyExists
            - CodePermissionDenied
            - CodeResourceExhausted
            - CodeFailedPrecondition
            - CodeAborted
            - CodeOutOfRange
            - CodeInternal
            - CodeUnavailable
            - CodeDataLoss
            - CodeUnauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        detail:
          $ref: '#/components/schemas/google.protobuf.Any'
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    google.protobuf.Any:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
          format: binary
        debug:
          type: object
          additionalProperties: true
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
security: []
externalDocs: {}
