[data-rehype-pretty-code-fragment]{
    position: relative;
    top: 1rem;
  }
[data-rehype-pretty-code-title] {
    position: absolute;
    top:-1.75rem;
    left:0;
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(34, 39, 46);
    color:#96D0FF;
    overflow-x: auto;
    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
  }

  @media only screen and (max-width: 600px) {
    [data-rehype-pretty-code-title] {
        max-width: 327px;
    }
  }