## This is returned as part of the boostrapping process
UNKEY_WORKSPACE_ID=
UNKEY_API_ID=


## These are optional values are not required for development
TINYBIRD_TOKEN=
DATABASE_DSN=
UNKEY_APP_AUTH_TOKEN=
UNKEY_KEY_AUTH_ID=
