# This is returned as part of the boostrapping process
UNKEY_WORKSPACE_ID=
UNKEY_API_ID=
UNKEY_KEY_AUTH_ID=

# This is required for the frontend to communicate with the agent
# Set it to anything you want, just use the same value in the frontend
#

# The planetscale connection string, it looks like this
# "<USERNAME>:<PASSWORD>@tcp(aws.connect.psdb.cloud)/unkey?tls=true"
DATABASE_DSN=
