
# Clerk

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up

# Planetscale

# docker automatically sets it to the required value. However, if you are running the dashboard locally, set it to http://locahost:3900
DATABASE_HOST="aws.connect.psdb.cloud"
# "unkey" for local
DATABASE_USERNAME=
# "password" for local
DATABASE_PASSWORD=

# Unkey

# "ws_local_root" for local
UNKEY_WORKSPACE_ID=
# "api_local_root_keys" for local
UNKEY_API_ID=

# 'workos' or 'local'
AUTH_PROVIDER=

# Set by docker. Use http://localhost:8080 for local
AGENT_URL=
# Set by docker. use "agent-auth-secret" for local
AGENT_TOKEN=

# ClickHouse
# automatically set by docker. use http://default:password@localhost:8123 in case of local development
CLICKHOUSE_URL=

# Optional


TRIGGER_API_KEY=
NEXT_PUBLIC_TRIGGER_PUBLIC_KEY=
