
# Clerk

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up

# Planetscale

DATABASE_HOST="aws.connect.psdb.cloud"
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Unkey

UNKEY_WORKSPACE_ID=
UNKEY_API_ID=


# Optional

TINYBIRD_TOKEN=

TRIGGER_API_KEY=
NEXT_PUBLIC_TRIGGER_PUBLIC_KEY=
