
# Clerk

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up

# Planetscale

# Docker sets this automatically. For local dashboard, use localhost:3900
# DATABASE_HOST example for PlanetScale Cloud: aws.connect.psdb.cloud
DATABASE_HOST=
# For local:
#   DATABASE_USERNAME=unkey
#   DATABASE_PASSWORD=password
DATABASE_PASSWORD=
DATABASE_USERNAME=

# Unkey

# "api_local_root_keys" for local
UNKEY_API_ID=
# "ws_local_root" for local
UNKEY_WORKSPACE_ID=

# 'workos' or 'local'
AUTH_PROVIDER=
# Set by Docker. Use "agent-auth-secret" for local
AGENT_TOKEN=
# Set by Docker. Use http://localhost:8080 for local
AGENT_URL=
# For fully local runs, you typically need:
# AUTH_PROVIDER=local
# AGENT_URL=http://localhost:8080
# AGENT_TOKEN=agent-auth-secret

# Clickhouse

# Automatically set by Docker. For local-only development:
# CLICKHOUSE_URL=http://default:password@localhost:8123

# Optional


TRIGGER_API_KEY=
NEXT_PUBLIC_TRIGGER_PUBLIC_KEY=
