@tailwind base;
@tailwind components;
@tailwind utilities;

/*
All colors are taken from Radix
https://www.radix-ui.com/colors/docs/palette-composition/scales
*/
@layer base {
  :root {
    /* Gray */
    --gray-1: 0, 0%, 99%;
    --gray-2: 0, 0%, 98%;
    --gray-3: 0, 0%, 94%;
    --gray-4: 0, 0%, 91%;
    --gray-5: 0, 0%, 88%;
    --gray-6: 0, 0%, 85%;
    --gray-7: 0, 0%, 81%;
    --gray-8: 0, 0%, 73%;
    --gray-9: 0, 0%, 55%;
    --gray-10: 0, 0%, 51%;
    --gray-11: 0, 0%, 39%;
    --gray-12: 0, 0%, 13%;

    /* GrayA (Slate A) */
    --grayA-1: 240, 100%, 17%, 0.01;
    --grayA-2: 240, 100%, 17%, 0.02;
    --grayA-3: 240, 100%, 10%, 0.06;
    --grayA-4: 240, 100%, 9%, 0.09;
    --grayA-5: 229, 100%, 10%, 0.12;
    --grayA-6: 240, 100%, 9%, 0.15;
    --grayA-7: 232, 100%, 9%, 0.2;
    --grayA-8: 230, 100%, 9%, 0.27;
    --grayA-9: 230, 100%, 6%, 0.45;
    --grayA-10: 224, 100%, 5%, 0.5;
    --grayA-11: 219, 100%, 4%, 0.62;
    --grayA-12: 207, 100%, 2%, 0.89;

    /* Base (Base A) */
    --base-1: 0, 0%, 100%, 0.01;
    --base-2: 0, 0%, 100%, 0.03;
    --base-3: 0, 0%, 100%, 0.06;
    --base-4: 0, 0%, 100%, 0.1;
    --base-5: 0, 0%, 100%, 0.15;
    --base-6: 0, 0%, 100%, 0.25;
    --base-7: 0, 0%, 100%, 0.35;
    --base-8: 0, 0%, 100%, 0.5;
    --base-9: 0, 0%, 100%, 0.65;
    --base-10: 0, 0%, 100%, 0.8;
    --base-11: 0, 0%, 100%, 0.9;
    --base-12: 0, 0%, 100%, 1;

    /* Teal */
    --success-1: 165, 67%, 99%;
    --success-2: 165, 50%, 97%;
    --success-3: 167, 63%, 93%;
    --success-4: 166, 62%, 88%;
    --success-5: 168, 54%, 82%;
    --success-6: 168, 48%, 75%;
    --success-7: 170, 43%, 66%;
    --success-8: 172, 42%, 53%;
    --success-9: 173, 80%, 36%;
    --success-10: 173, 85%, 33%;
    --success-11: 172, 100%, 26%;
    --success-12: 174, 65%, 15%;

    /* TealA */
    --successA-1: 165, 100%, 40%, 0.02;
    --successA-2: 165, 100%, 33%, 0.05;
    --successA-3: 168, 100%, 39%, 0.13;
    --successA-4: 168, 100%, 38%, 0.2;
    --successA-5: 168, 100%, 36%, 0.28;
    --successA-6: 169, 100%, 33%, 0.37;
    --successA-7: 169, 100%, 30%, 0.49;
    --successA-8: 170, 100%, 30%, 0.67;
    --successA-9: 173, 100%, 31%, 0.93;
    --successA-10: 174, 100%, 30%, 1;
    --successA-11: 173, 100%, 25%, 1;
    --successA-12: 170, 100%, 10%, 0.94;

    /* Orange */
    --orange-1: 20, 60%, 99%;
    --orange-2: 33, 100%, 96%;
    --orange-3: 37, 100%, 92%;
    --orange-4: 34, 100%, 85%;
    --orange-5: 33, 100%, 80%;
    --orange-6: 30, 100%, 75%;
    --orange-7: 27, 87%, 71%;
    --orange-8: 25, 80%, 63%;
    --orange-9: 23, 93%, 53%;
    --orange-10: 24, 100%, 47%;
    --orange-11: 23, 100%, 40%;
    --orange-12: 16, 50%, 23%;

    /* OrangeA */
    --orangeA-1: 20, 100%, 38%, 0.02;
    --orangeA-2: 20, 100%, 50%, 0.06;
    --orangeA-3: 23, 100%, 50%, 0.13;
    --orangeA-4: 22, 100%, 50%, 0.25;
    --orangeA-5: 22, 100%, 50%, 0.33;
    --orangeA-6: 21, 100%, 50%, 0.42;
    --orangeA-7: 19, 100%, 49%, 0.49;
    --orangeA-8: 19, 100%, 45%, 0.61;
    --orangeA-9: 23, 100%, 48%, 0.92;
    --orangeA-10: 24, 100%, 46%, 1;
    --orangeA-11: 22, 100%, 41%, 1;
    --orangeA-12: 19, 100%, 13%, 0.9;

    /* Amber */
    --warning-1: 40, 60%, 99%;
    --warning-2: 51, 91%, 95%;
    --warning-3: 52, 100%, 88%;
    --warning-4: 50, 100%, 81%;
    --warning-5: 50, 94%, 73%;
    --warning-6: 46, 84%, 70%;
    --warning-7: 42, 75%, 65%;
    --warning-8: 38, 75%, 55%;
    --warning-9: 42, 100%, 62%;
    --warning-10: 42, 100%, 55%;
    --warning-11: 35, 100%, 34%;
    --warning-12: 24, 40%, 22%;

    /* AmberA */
    --warningA-1: 40, 100%, 38%, 0.02;
    --warningA-2: 46, 100%, 50%, 0.08;
    --warningA-3: 47, 100%, 50%, 0.24;
    --warningA-4: 46, 100%, 50%, 0.37;
    --warningA-5: 45, 100%, 50%, 0.5;
    --warningA-6: 41, 100%, 49%, 0.52;
    --warningA-7: 40, 100%, 43%, 0.57;
    --warningA-8: 41, 100%, 39%, 0.73;
    --warningA-9: 45, 100%, 50%, 0.82;
    --warningA-10: 42, 100%, 49%, 0.78;
    --warningA-11: 43, 100%, 30%, 1;
    --warningA-12: 41, 100%, 9%, 0.87;

    /* Tomato */
    --error-1: 0, 100%, 99%;
    --error-2: 7, 100%, 98%;
    --error-3: 10, 92%, 95%;
    --error-4: 12, 100%, 91%;
    --error-5: 11, 100%, 88%;
    --error-6: 11, 95%, 84%;
    --error-7: 10, 82%, 78%;
    --error-8: 10, 75%, 70%;
    --error-9: 10, 78%, 54%;
    --error-10: 10, 73%, 51%;
    --error-11: 10, 82%, 45%;
    --error-12: 8, 50%, 24%;

    /* TomatoA */
    --errorA-1: 0, 100%, 50%, 0.01;
    --errorA-2: 8, 100%, 50%, 0.03;
    --errorA-3: 11, 100%, 48%, 0.09;
    --errorA-4: 12, 100%, 50%, 0.17;
    --errorA-5: 12, 100%, 50%, 0.24;
    --errorA-6: 12, 100%, 49%, 0.32;
    --errorA-7: 12, 100%, 45%, 0.41;
    --errorA-8: 11, 100%, 43%, 0.52;
    --errorA-9: 10, 100%, 44%, 0.82;
    --errorA-10: 10, 100%, 41%, 0.89;
    --errorA-11: 11, 100%, 40%, 0.91;
    --errorA-12: 12, 100%, 14%, 0.89;

    /* Violet */
    --feature-1: 270, 50%, 99%;
    --feature-2: 257, 100%, 99%;
    --feature-3: 257, 88%, 97%;
    --feature-4: 256, 100%, 95%;
    --feature-5: 253, 100%, 93%;
    --feature-6: 252, 96%, 89%;
    --feature-7: 252, 76%, 84%;
    --feature-8: 252, 69%, 76%;
    --feature-9: 252, 56%, 57%;
    --feature-10: 252, 50%, 54%;
    --feature-11: 252, 43%, 52%;
    --feature-12: 249, 43%, 26%;

    /* VioletA */
    --featureA-1: 240, 100%, 33%, 0.01;
    --featureA-2: 240, 100%, 50%, 0.02;
    --featureA-3: 244, 100%, 50%, 0.05;
    --featureA-4: 243, 100%, 50%, 0.1;
    --featureA-5: 245, 100%, 50%, 0.15;
    --featureA-6: 245, 100%, 50%, 0.2;
    --featureA-7: 245, 100%, 45%, 0.28;
    --featureA-8: 247, 100%, 42%, 0.39;
    --featureA-9: 252, 100%, 36%, 0.66;
    --featureA-10: 252, 100%, 29%, 0.7;
    --featureA-11: 251, 100%, 30%, 0.69;
    --featureA-12: 251, 100%, 13%, 0.85;

    /* Blue */
    --info-1: 210, 100%, 99%;
    --info-2: 207, 100%, 98%;
    --info-3: 205, 92%, 95%;
    --info-4: 203, 100%, 92%;
    --info-5: 206, 100%, 88%;
    --info-6: 207, 93%, 83%;
    --info-7: 207, 85%, 76%;
    --info-8: 206, 82%, 65%;
    --info-9: 206, 100%, 50%;
    --info-10: 207, 96%, 48%;
    --info-11: 208, 88%, 43%;
    --info-12: 216, 71%, 23%;

    /* BlueA */
    --infoA-1: 210, 100%, 50%, 0.02;
    --infoA-2: 207, 100%, 50%, 0.04;
    --infoA-3: 213, 100%, 50%, 0.09;
    --infoA-4: 208, 100%, 50%, 0.15;
    --infoA-5: 210, 100%, 50%, 0.22;
    --infoA-6: 212, 100%, 50%, 0.3;
    --infoA-7: 212, 100%, 47%, 0.41;
    --infoA-8: 212, 100%, 46%, 0.57;
    --infoA-9: 206, 100%, 50%, 1;
    --infoA-10: 206, 100%, 46%, 1;
    --infoA-11: 209, 100%, 43%, 1;
    --infoA-12: 208, 100%, 19%, 1;

    /* Slate */
    /* Brand */
    --accent-1: 240, 20%, 99%;
    --accent-2: 240, 20%, 98%;
    --accent-3: 240, 11%, 95%;
    --accent-4: 240, 10%, 92%;
    --accent-5: 230, 11%, 89%;
    --accent-6: 240, 10%, 86%;
    --accent-7: 233, 10%, 82%;
    --accent-8: 231, 10%, 75%;
    --accent-9: 231, 6%, 57%;
    --accent-10: 226, 5%, 53%;
    --accent-11: 220, 6%, 40%;
    --accent-12: 210, 13%, 13%;

    /* Light theme - Red */
    --red-1: 0, 100%, 99%;
    --red-2: 0, 100%, 98%;
    --red-3: 357, 91%, 96%;
    --red-4: 358, 100%, 93%;
    --red-5: 359, 100%, 90%;
    --red-6: 359, 94%, 87%;
    --red-7: 359, 77%, 81%;
    --red-8: 359, 70%, 74%;
    --red-9: 358, 75%, 59%;
    --red-10: 358, 69%, 55%;
    --red-11: 358, 65%, 49%;
    --red-12: 351, 63%, 24%;

    /* Light theme - RedA */
    --redA-1: 0, 100%, 50%, 0.01;
    --redA-2: 0, 100%, 50%, 0.03;
    --redA-3: 3, 100%, 50%, 0.08;
    --redA-4: 5, 100%, 50%, 0.15;
    --redA-5: 4, 100%, 50%, 0.21;
    --redA-6: 4, 100%, 49%, 0.27;
    --redA-7: 3, 99%, 45%, 0.35;
    --redA-8: 3, 100%, 42%, 0.45;
    --redA-9: 358, 100%, 43%, 0.72;
    --redA-10: 357, 100%, 40%, 0.78;
    --redA-11: 356, 100%, 38%, 0.82;
    --redA-12: 358, 100%, 16%, 0.91;

    /* Light theme - Grass */
    --grass-1: 120, 60%, 99%;
    --grass-2: 120, 43%, 97%;
    --grass-3: 120, 42%, 94%;
    --grass-4: 123, 45%, 90%;
    --grass-5: 122, 40%, 85%;
    --grass-6: 124, 39%, 78%;
    --grass-7: 126, 37%, 69%;
    --grass-8: 131, 38%, 56%;
    --grass-9: 131, 41%, 46%;
    --grass-10: 131, 43%, 43%;
    --grass-11: 132, 50%, 33%;
    --grass-12: 131, 30%, 18%;

    /* Light theme - GrassA */
    --grassA-1: 120, 100%, 38%, 0.02;
    --grassA-2: 130, 100%, 30%, 0.04;
    --grassA-3: 124, 100%, 33%, 0.09;
    --grassA-4: 123, 100%, 30%, 0.15;
    --grassA-5: 125, 100%, 30%, 0.22;
    --grassA-6: 126, 100%, 29%, 0.3;
    --grassA-7: 126, 99%, 27%, 0.42;
    --grassA-8: 129, 100%, 27%, 0.6;
    --grassA-9: 131, 100%, 26%, 0.73;
    --grassA-10: 132, 100%, 24%, 0.76;
    --grassA-11: 133, 100%, 20%, 0.84;
    --grassA-12: 128, 100%, 6%, 0.87;

    /* Light theme - Blue */
    --blue-1: 210, 100%, 99%;
    --blue-2: 207, 100%, 98%;
    --blue-3: 205, 92%, 95%;
    --blue-4: 203, 100%, 92%;
    --blue-5: 206, 100%, 88%;
    --blue-6: 207, 93%, 83%;
    --blue-7: 207, 85%, 76%;
    --blue-8: 206, 82%, 65%;
    --blue-9: 206, 100%, 50%;
    --blue-10: 207, 96%, 48%;
    --blue-11: 208, 88%, 43%;
    --blue-12: 216, 71%, 23%;

    /* Light theme - BlueA */
    --blueA-1: 210, 100%, 50%, 0.02;
    --blueA-2: 207, 100%, 50%, 0.04;
    --blueA-3: 213, 100%, 50%, 0.09;
    --blueA-4: 208, 100%, 50%, 0.15;
    --blueA-5: 210, 100%, 50%, 0.22;
    --blueA-6: 212, 100%, 50%, 0.3;
    --blueA-7: 212, 100%, 47%, 0.41;
    --blueA-8: 212, 100%, 46%, 0.57;
    --blueA-9: 206, 100%, 50%, 1;
    --blueA-10: 206, 100%, 46%, 1;
    --blueA-11: 209, 100%, 43%, 1;
    --blueA-12: 208, 100%, 19%, 1;

    --blackA-1: 0, 0%, 0%, 0.05;
    --blackA-2: 0, 0%, 0%, 0.1;
    --blackA-3: 0, 0%, 0%, 0.15;
    --blackA-4: 0, 0%, 0%, 0.2;
    --blackA-5: 0, 0%, 0%, 0.3;
    --blackA-6: 0, 0%, 0%, 0.4;
    --blackA-7: 0, 0%, 0%, 0.5;
    --blackA-8: 0, 0%, 0%, 0.6;
    --blackA-9: 0, 0%, 0%, 0.7;
    --blackA-10: 0, 0%, 0%, 0.8;
    --blackA-11: 0, 0%, 0%, 0.9;
    --blackA-12: 0, 0%, 0%, 0.95;

    /* WhiteA (Light theme) */
    --whiteA-1: 0, 0%, 100%, 0.05;
    --whiteA-2: 0, 0%, 100%, 0.1;
    --whiteA-3: 0, 0%, 100%, 0.15;
    --whiteA-4: 0, 0%, 100%, 0.2;
    --whiteA-5: 0, 0%, 100%, 0.3;
    --whiteA-6: 0, 0%, 100%, 0.4;
    --whiteA-7: 0, 0%, 100%, 0.5;
    --whiteA-8: 0, 0%, 100%, 0.6;
    --whiteA-9: 0, 0%, 100%, 0.7;
    --whiteA-10: 0, 0%, 100%, 0.8;
    --whiteA-11: 0, 0%, 100%, 0.9;
    --whiteA-12: 0, 0%, 100%, 0.95;
  }

  .dark {
    /* Gray Dark */
    --gray-1: 0, 0%, 7%;
    --gray-2: 0, 0%, 10%;
    --gray-3: 0, 0%, 13%;
    --gray-4: 0, 0%, 16%;
    --gray-5: 0, 0%, 19%;
    --gray-6: 0, 0%, 23%;
    --gray-7: 0, 0%, 28%;
    --gray-8: 0, 0%, 38%;
    --gray-9: 0, 0%, 43%;
    --gray-10: 0, 0%, 48%;
    --gray-11: 0, 0%, 71%;
    --gray-12: 0, 0%, 93%;

    /* SlateA */
    --grayA-1: 0, 0%, 0%, 1;
    --grayA-2: 184, 62%, 91%, 0.04;
    --grayA-3: 211, 66%, 92%, 0.08;
    --grayA-4: 198, 73%, 90%, 0.11;
    --grayA-5: 208, 95%, 92%, 0.15;
    --grayA-6: 208, 91%, 92%, 0.19;
    --grayA-7: 208, 100%, 93%, 0.27;
    --grayA-8: 208, 100%, 93%, 0.36;
    --grayA-9: 216, 88%, 93%, 0.43;
    --grayA-10: 220, 86%, 95%, 0.48;
    --grayA-11: 212, 87%, 97%, 0.71;
    --grayA-12: 220, 100%, 99%, 0.95;

    --base-1: 0, 0%, 0%, 0.01;
    --base-2: 0, 0%, 0%, 0.03;
    --base-3: 0, 0%, 0%, 0.06;
    --base-4: 0, 0%, 0%, 0.1;
    --base-5: 0, 0%, 0%, 0.15;
    --base-6: 0, 0%, 0%, 0.25;
    --base-7: 0, 0%, 0%, 0.35;
    --base-8: 0, 0%, 0%, 0.5;
    --base-9: 0, 0%, 0%, 0.65;
    --base-10: 0, 0%, 0%, 0.8;
    --base-11: 0, 0%, 0%, 0.9;
    --base-12: 0, 0%, 0%, 1;

    /* Teal */
    --success-1: 173, 24%, 7%;
    --success-2: 175, 24%, 9%;
    --success-3: 174, 55%, 11%;
    --success-4: 176, 93%, 12%;
    --success-5: 175, 80%, 16%;
    --success-6: 174, 63%, 21%;
    --success-7: 174, 58%, 26%;
    --success-8: 173, 59%, 31%;
    --success-9: 173, 80%, 36%;
    --success-10: 172, 85%, 38%;
    --success-11: 170, 90%, 45%;
    --success-12: 163, 69%, 81%;

    /* TealA */
    --successA-1: 125, 100%, 37%, 0.01;
    --successA-2: 169, 97%, 53%, 0.05;
    --successA-3: 170, 100%, 50%, 0.12;
    --successA-4: 171, 100%, 50%, 0.18;
    --successA-5: 172, 100%, 50%, 0.23;
    --successA-6: 172, 100%, 57%, 0.29;
    --successA-7: 172, 98%, 60%, 0.37;
    --successA-8: 172, 100%, 60%, 0.46;
    --successA-9: 173, 100%, 54%, 0.62;
    --successA-10: 173, 100%, 50%, 0.57;
    --successA-11: 171, 100%, 70%, 0.81;
    --successA-12: 169, 100%, 85%, 0.94;

    /* Orange */
    --orange-1: 27, 24%, 7%;
    --orange-2: 28, 33%, 9%;
    --orange-3: 28, 65%, 12%;
    --orange-4: 28, 100%, 14%;
    --orange-5: 28, 100%, 17%;
    --orange-6: 27, 79%, 22%;
    --orange-7: 25, 63%, 30%;
    --orange-8: 23, 60%, 40%;
    --orange-9: 23, 93%, 53%;
    --orange-10: 26, 100%, 56%;
    --orange-11: 26, 100%, 67%;
    --orange-12: 29, 100%, 88%;

    /* OrangeA */
    --orangeA-1: 0, 100%, 45%, 0.02;
    --orangeA-2: 20, 100%, 50%, 0.06;
    --orangeA-3: 19, 98%, 52%, 0.15;
    --orangeA-4: 15, 100%, 49%, 0.25;
    --orangeA-5: 20, 100%, 50%, 0.31;
    --orangeA-6: 20, 98%, 57%, 0.37;
    --orangeA-7: 20, 100%, 62%, 0.47;
    --orangeA-8: 19, 100%, 63%, 0.62;
    --orangeA-9: 23, 99%, 54%, 0.97;
    --orangeA-10: 24, 100%, 50%, 0.91;
    --orangeA-11: 20, 100%, 71%, 1;
    --orangeA-12: 20, 100%, 90%, 1;

    /* Amber */
    --warning-1: 36, 29%, 7%;
    --warning-2: 39, 32%, 9%;
    --warning-3: 36, 71%, 11%;
    --warning-4: 37, 100%, 12%;
    --warning-5: 37, 100%, 15%;
    --warning-6: 39, 90%, 19%;
    --warning-7: 37, 64%, 27%;
    --warning-8: 36, 60%, 35%;
    --warning-9: 42, 100%, 62%;
    --warning-10: 50, 100%, 52%;
    --warning-11: 46, 100%, 54%;
    --warning-12: 41, 100%, 85%;

    /* AmberA */
    --warningA-1: 5, 100%, 37%, 0.01;
    --warningA-2: 40, 100%, 49%, 0.05;
    --warningA-3: 39, 100%, 50%, 0.11;
    --warningA-4: 36, 100%, 50%, 0.18;
    --warningA-5: 39, 100%, 50%, 0.23;
    --warningA-6: 42, 100%, 54%, 0.29;
    --warningA-7: 41, 98%, 62%, 0.37;
    --warningA-8: 41, 98%, 65%, 0.49;
    --warningA-9: 42, 100%, 62%, 1;
    --warningA-10: 43, 99%, 59%, 0.96;
    --warningA-11: 43, 100%, 65%, 1;
    --warningA-12: 40, 100%, 87%, 1;

    /* Tomato */
    --error-1: 0, 17%, 8%;
    --error-2: 10, 24%, 10%;
    --error-3: 5, 48%, 15%;
    --error-4: 4, 64%, 19%;
    --error-5: 5, 62%, 23%;
    --error-6: 7, 55%, 28%;
    --error-7: 9, 49%, 35%;
    --error-8: 10, 50%, 45%;
    --error-9: 10, 78%, 54%;
    --error-10: 11, 82%, 59%;
    --error-11: 12, 100%, 75%;
    --error-12: 10, 86%, 89%;

    /* TomatoA */
    --errorA-1: 0, 100%, 45%, 0.02;
    --errorA-2: 15, 99%, 57%, 0.05;
    --errorA-3: 11, 99%, 52%, 0.16;
    --errorA-4: 9, 100%, 50%, 0.26;
    --errorA-5: 10, 99%, 53%, 0.33;
    --errorA-6: 10, 99%, 59%, 0.39;
    --errorA-7: 11, 98%, 63%, 0.49;
    --errorA-8: 11, 99%, 65%, 0.65;
    --errorA-9: 10, 99%, 59%, 0.89;
    --errorA-10: 10, 99%, 56%, 0.83;
    --errorA-11: 12, 100%, 73%, 1;
    --errorA-12: 11, 100%, 90%, 0.98;

    /* Violet */
    --feature-1: 249, 27%, 10%;
    --feature-2: 263, 28%, 11%;
    --feature-3: 257, 37%, 19%;
    --feature-4: 256, 42%, 25%;
    --feature-5: 254, 39%, 30%;
    --feature-6: 255, 36%, 34%;
    --feature-7: 254, 33%, 41%;
    --feature-8: 252, 34%, 51%;
    --feature-9: 252, 56%, 57%;
    --feature-10: 252, 60%, 63%;
    --feature-11: 253, 100%, 83%;
    --feature-12: 249, 94%, 93%;

    /* VioletA Dark */
    --featureA-1: 240, 100%, 49%, 0.05;
    --featureA-2: 244, 95%, 63%, 0.09;
    --featureA-3: 248, 99%, 67%, 0.22;
    --featureA-4: 251, 98%, 66%, 0.32;
    --featureA-5: 250, 98%, 68%, 0.38;
    --featureA-6: 250, 97%, 71%, 0.44;
    --featureA-7: 249, 100%, 74%, 0.52;
    --featureA-8: 249, 98%, 74%, 0.66;
    --featureA-9: 252, 100%, 70%, 0.8;
    --featureA-10: 250, 100%, 74%, 0.63;
    --featureA-11: 248, 100%, 83%, 1;
    --featureA-12: 244, 100%, 94%, 1;

    /* Blue */
    --info-1: 215, 42%, 9%;
    --info-2: 218, 39%, 11%;
    --info-3: 212, 69%, 16%;
    --info-4: 209, 100%, 19%;
    --info-5: 207, 100%, 23%;
    --info-6: 209, 79%, 30%;
    --info-7: 211, 66%, 37%;
    --info-8: 211, 65%, 45%;
    --info-9: 206, 100%, 50%;
    --info-10: 210, 100%, 62%;
    --info-11: 210, 100%, 72%;
    --info-12: 205, 100%, 88%;

    /* BlueA */
    --infoA-1: 231, 100%, 49%, 0.05;
    --infoA-2: 215, 100%, 49%, 0.09;
    --infoA-3: 212, 100%, 50%, 0.23;
    --infoA-4: 213, 100%, 50%, 0.34;
    --infoA-5: 210, 100%, 50%, 0.42;
    --infoA-6: 209, 98%, 53%, 0.49;
    --infoA-7: 210, 100%, 57%, 0.59;
    --infoA-8: 210, 99%, 58%, 0.73;
    --infoA-9: 206, 100%, 50%, 1;
    --infoA-10: 208, 100%, 50%, 0.94;
    --infoA-11: 210, 100%, 72%, 1;
    --infoA-12: 211, 100%, 89%, 1;

    /* Slate Dark */
    --accent-1: 240, 6%, 7%;
    --accent-2: 220, 6%, 10%;
    --accent-3: 225, 6%, 14%;
    --accent-4: 210, 7%, 16%;
    --accent-5: 214, 7%, 19%;
    --accent-6: 213, 8%, 23%;
    --accent-7: 213, 8%, 28%;
    --accent-8: 212, 8%, 38%;
    --accent-9: 219, 6%, 44%;
    --accent-10: 222, 5%, 49%;
    --accent-11: 216, 7%, 71%;
    --accent-12: 220, 9%, 94%;

    /* Dark theme - Red */
    --red-1: 0, 19%, 8%;
    --red-2: 355, 25%, 10%;
    --red-3: 350, 53%, 15%;
    --red-4: 348, 68%, 19%;
    --red-5: 350, 63%, 23%;
    --red-6: 352, 53%, 29%;
    --red-7: 355, 47%, 37%;
    --red-8: 358, 45%, 49%;
    --red-9: 358, 75%, 59%;
    --red-10: 360, 79%, 65%;
    --red-11: 2, 100%, 79%;
    --red-12: 350, 100%, 91%;

    /* Dark theme - RedA */
    --redA-1: 0, 100%, 46%, 0.03;
    --redA-2: 4, 89%, 54%, 0.07;
    --redA-3: 0, 100%, 55%, 0.18;
    --redA-4: 356, 99%, 52%, 0.27;
    --redA-5: 358, 100%, 57%, 0.34;
    --redA-6: 359, 100%, 63%, 0.41;
    --redA-7: 0, 100%, 67%, 0.52;
    --redA-8: 360, 100%, 68%, 0.69;
    --redA-9: 358, 99%, 65%, 0.89;
    --redA-10: 357, 99%, 63%, 0.83;
    --redA-11: 2, 100%, 77%, 1;
    --redA-12: 5, 100%, 90%, 1;

    /* Dark theme - Grass */
    --grass-1: 146, 20%, 7%;
    --grass-2: 130, 13%, 9%;
    --grass-3: 132, 22%, 14%;
    --grass-4: 134, 33%, 17%;
    --grass-5: 134, 32%, 21%;
    --grass-6: 133, 32%, 26%;
    --grass-7: 132, 31%, 31%;
    --grass-8: 131, 32%, 36%;
    --grass-9: 131, 41%, 46%;
    --grass-10: 131, 39%, 51%;
    --grass-11: 131, 50%, 63%;
    --grass-12: 120, 61%, 85%;

    /* Dark theme - GrassA */
    --grassA-1: 120, 100%, 37%, 0.01;
    --grassA-2: 120, 91%, 67%, 0.04;
    --grassA-3: 125, 99%, 74%, 0.11;
    --grassA-4: 129, 100%, 69%, 0.17;
    --grassA-5: 127, 100%, 72%, 0.23;
    --grassA-6: 129, 100%, 73%, 0.29;
    --grassA-7: 129, 97%, 74%, 0.36;
    --grassA-8: 128, 97%, 74%, 0.44;
    --grassA-9: 131, 100%, 70%, 0.63;
    --grassA-10: 132, 100%, 67%, 0.58;
    --grassA-11: 129, 100%, 77%, 0.8;
    --grassA-12: 125, 100%, 90%, 0.94;

    /* Dark theme - Blue */
    --blue-1: 215, 42%, 9%;
    --blue-2: 218, 39%, 11%;
    --blue-3: 212, 69%, 16%;
    --blue-4: 209, 100%, 19%;
    --blue-5: 207, 100%, 23%;
    --blue-6: 209, 79%, 30%;
    --blue-7: 211, 66%, 37%;
    --blue-8: 211, 65%, 45%;
    --blue-9: 206, 100%, 50%;
    --blue-10: 210, 100%, 62%;
    --blue-11: 210, 100%, 72%;
    --blue-12: 205, 100%, 88%;

    /* Dark theme - BlueA */
    --blueA-1: 231, 100%, 49%, 0.05;
    --blueA-2: 215, 100%, 49%, 0.09;
    --blueA-3: 212, 100%, 50%, 0.23;
    --blueA-4: 213, 100%, 50%, 0.34;
    --blueA-5: 210, 100%, 50%, 0.42;
    --blueA-6: 209, 98%, 53%, 0.49;
    --blueA-7: 210, 100%, 57%, 0.59;
    --blueA-8: 210, 99%, 58%, 0.73;
    --blueA-9: 206, 100%, 50%, 1;
    --blueA-10: 208, 100%, 50%, 0.94;
    --blueA-11: 210, 100%, 72%, 1;
    --blueA-12: 211, 100%, 89%, 1;

    --blackA-1: 0, 0%, 0%, 0.05;
    --blackA-2: 0, 0%, 0%, 0.1;
    --blackA-3: 0, 0%, 0%, 0.15;
    --blackA-4: 0, 0%, 0%, 0.2;
    --blackA-5: 0, 0%, 0%, 0.3;
    --blackA-6: 0, 0%, 0%, 0.4;
    --blackA-7: 0, 0%, 0%, 0.5;
    --blackA-8: 0, 0%, 0%, 0.6;
    --blackA-9: 0, 0%, 0%, 0.7;
    --blackA-10: 0, 0%, 0%, 0.8;
    --blackA-11: 0, 0%, 0%, 0.9;
    --blackA-12: 0, 0%, 0%, 0.95;

    /* WhiteA (Dark theme) */
    --whiteA-1: 0, 0%, 100%, 0.05;
    --whiteA-2: 0, 0%, 100%, 0.1;
    --whiteA-3: 0, 0%, 100%, 0.15;
    --whiteA-4: 0, 0%, 100%, 0.2;
    --whiteA-5: 0, 0%, 100%, 0.3;
    --whiteA-6: 0, 0%, 100%, 0.4;
    --whiteA-7: 0, 0%, 100%, 0.5;
    --whiteA-8: 0, 0%, 100%, 0.6;
    --whiteA-9: 0, 0%, 100%, 0.7;
    --whiteA-10: 0, 0%, 100%, 0.8;
    --whiteA-11: 0, 0%, 100%, 0.9;
    --whiteA-12: 0, 0%, 100%, 0.95;
  }
}
