name = "__CUSTOM_NAME__"
main = "src/worker.ts"
compatibility_date = "2024-01-01"

compatibility_flags = [ "nodejs_compat" ]

workers_dev = false


[durable_objects]
bindings = [
  {name = "DO_RATELIMIT", class_name = "DurableObjectRatelimiter"  },
  {name = "DO_USAGELIMIT", class_name = "DurableObjectUsagelimiter"  }
]


 [[migrations]]
 tag = "v1"
 new_classes = ["DurableObjectRatelimiter", "DurableObjectUsagelimiter"]
 [[migrations]]


vars = {  ENVIRONMENT = "production"}
route = { pattern = "__CUSTOM_DOMAIN__", custom_domain = true}
logpush = true


 