name = "__CUSTOM_NAME__"
main = "src/worker.ts"
compatibility_date = "2024-01-01"

compatibility_flags = ["nodejs_compat"]

workers_dev = false
logpush = true


vars = { ENVIRONMENT = "production" }
route = { pattern = "__CUSTOM_DOMAIN__", custom_domain = true }


[durable_objects]
bindings = [
  { name = "DO_RATELIMIT", class_name = "DurableObjectRatelimiter" },
  { name = "DO_USAGELIMIT", class_name = "DurableObjectUsagelimiter" },
]


[[migrations]]
tag = "v1"
new_classes = ["DurableObjectRatelimiter", "DurableObjectUsagelimiter"]



[queues]
 consumers = [
   { queue = "key-migrations-production", max_batch_size = 10, max_retries = 3, dead_letter_queue = "key-migrations-production-dlq" },
]
producers = [
  { queue = "key-migrations-production", binding = "KEY_MIGRATIONS" },
]