name = "__CUSTOM_NAME__"
main = "src/worker.ts"
compatibility_date = "2025-09-01"

compatibility_flags = ["nodejs_compat"]

workers_dev = false
logpush = true


vars = { ENVIRONMENT = "production" }
route = { pattern = "__CUSTOM_DOMAIN__", custom_domain = true }


[durable_objects]
bindings = [
  { name = "DO_RATELIMIT", class_name = "DurableObjectRatelimiter" },
  { name = "DO_USAGELIMIT", class_name = "DurableObjectUsagelimiter" },
]


[[migrations]]
tag = "v1"
new_classes = ["DurableObjectRatelimiter", "DurableObjectUsagelimiter"]

[[migrations]]
tag = "v2"
deleted_classes = ["DurableObjectRatelimiter"]


[[migrations]]
tag = "v3"
new_classes = ["DurableObjectRatelimiter"]


[[unsafe.bindings]]
# The nameing scheme is important, because we're dynamically constructing
# these in the api code
#
# RL_{LIMIT}_{DURATION}s
#
# The namespace_id schema is somewhat made up though.
# I prefixed everything with 9900 -> 9900{limit}{duration}
name = "RL_10_60s"
type = "ratelimit"
namespace_id = "99001060"
simple = { limit = 10, period = 60 }

[[unsafe.bindings]]
name = "RL_30_60s"
type = "ratelimit"
namespace_id = "99003060"
simple = { limit = 30, period = 60 }

[[unsafe.bindings]]
name = "RL_50_60s"
type = "ratelimit"
namespace_id = "99005060"
simple = { limit = 50, period = 60 }


[[unsafe.bindings]]
name = "RL_200_60s"
type = "ratelimit"
namespace_id = "990020060"
simple = { limit = 200, period = 60 }


[[unsafe.bindings]]
name = "RL_600_60s"
type = "ratelimit"
namespace_id = "990060060"
simple = { limit = 600, period = 60 }


[[unsafe.bindings]]
name = "RL_1_10s"
type = "ratelimit"
namespace_id = "9900110"
simple = { limit = 1, period = 10 }


[[unsafe.bindings]]
name = "RL_500_10s"
type = "ratelimit"
namespace_id = "990050010"
simple = { limit = 500, period = 10 }

[[unsafe.bindings]]
name = "RL_200_10s"
type = "ratelimit"
namespace_id = "990020010"
simple = { limit = 200, period = 10 }
