name: autofix.ci
on:
  workflow_call:

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Install
        uses: ./.github/actions/install
        with:
          ts: true
          go: true

      - run: pnpm biome format . --write && pnpm biome check . --apply

      - uses: autofix-ci/action@dd55f44df8f7cdb7a6bf74c78677eb8acd40cd0a
