name: autofix.ci
on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: useblacksmith/setup-node@v5
        with:
          node-version: 16

      - name: Install
        uses: ./.github/actions/install
        with:
          ts: true
          go: true

      - run: pnpm biome format . --write && pnpm biome check . --apply

      - uses: autofix-ci/action@dd55f44df8f7cdb7a6bf74c78677eb8acd40cd0a
  lint_docs:
    name: Docs
    runs-on: blacksmith-4vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v4

      - name: Lint main docs
        run: npx mintlify@latest broken-links
        working-directory: apps/docs

