name: Deploy Trigger
on:
  workflow_call:
jobs:
  deploy_trigger:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node (minimal for pnpx)
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Deploy Trigger.dev
        env:
          TRIGGER_ACCESS_TOKEN: ${{ secrets.TRIGGER_ACCESS_TOKEN }}
        run: pnpx trigger.dev@3.0.0-beta.23 deploy
        working-directory: apps/billing
