permissions:
  contents: read
  deployments: write
name: Deploy
on:
  push:
    branches: [main]
concurrency:
  group: deploy
  cancel-in-progress: false
jobs:
  detect_changes:
    uses: ./.github/workflows/job_detect_changes.yaml
  api_local_test:
    name: Test API
    needs: [detect_changes]
    if: needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true' || needs.detect_changes.outputs.go == 'true'
    uses: ./.github/workflows/job_test_api_local.yaml
  api_preview_deployment:
    needs:
      - detect_changes
      - api_local_test
    if: needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true'
    uses: ./.github/workflows/job_deploy_api_staging.yaml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  api_preview_test:
    needs:
      - detect_changes
      - api_preview_deployment
    if: needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true'
    uses: ./.github/workflows/job_test_api_staging.yaml
    with:
      UNKEY_BASE_URL: https://preview-api.unkey.dev
    secrets:
      DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      CLICKHOUSE_URL: ${{ secrets.CLICKHOUSE_URL }}
  api_canary_deployment:
    needs:
      - detect_changes
      - api_local_test
      - api_preview_test
    if: |
      always() &&
      (needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true') &&
      needs.api_local_test.result == 'success' &&
      (needs.api_preview_test.result == 'success' || needs.api_preview_test.result == 'skipped')
    uses: ./.github/workflows/job_deploy_api_canary.yaml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  api_canary_test:
    needs:
      - detect_changes
      - api_canary_deployment
    if: needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true'
    uses: ./.github/workflows/job_test_api_canary.yaml
    with:
      UNKEY_BASE_URL: https://canary.unkey.dev
    secrets:
      DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      CLICKHOUSE_URL: ${{ secrets.CLICKHOUSE_URL }}
  api_production_deployment:
    needs:
      - detect_changes
      - api_canary_deployment
      - api_canary_test
    if: |
      always() &&
      (needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true') &&
      needs.api_canary_deployment.result == 'success' &&
      (needs.api_canary_test.result == 'success' || needs.api_canary_test.result == 'skipped')
    uses: ./.github/workflows/job_deploy_api_production.yaml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  mintlify_deployment:
    runs-on: depot-ubuntu-24.04-4
    needs:
      - detect_changes
    if: needs.detect_changes.outputs.docs == 'true'
    name: Deploy docs
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Redeploy
        run: |
          curl --request POST \
          --url https://api.mintlify.com/v1/project/update/648b83e0e20b94f5a3e41a70 \
          --header 'Authorization: Bearer ${{secrets.MINTLIFY_API_KEY}}'
  deploy-enterprise-worker:
    needs:
      - detect_changes
      - api_canary_deployment
      - api_canary_test
      - api_production_deployment
    if: |
      always() &&
      (needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true') &&
      (needs.api_canary_deployment.result == 'success' || needs.api_canary_deployment.result == 'skipped') &&
      (needs.api_canary_test.result == 'success' || needs.api_canary_test.result == 'skipped') &&
      (needs.api_production_deployment.result == 'success' || needs.api_production_deployment.result == 'skipped')
    uses: ./.github/workflows/job_deploy_api_enterprise.yaml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
