name: Deploy

on:
  push:
    branches:
      - main


concurrency: "only one deploy at a time"

jobs:
  preview:
    environment: Preview
    runs-on: ubuntu-latest
    name: Preview
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
            version: latest

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install
        run: |
          pnpm install
          pnpm install -g wrangler@latest

      - name: Build
        run: pnpm turbo run build --filter='./apps/api'

      - name: Deploy
        run: wrangler deploy --env=preview
        working-directory: apps/api
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  preview-tests:
    environment: Preview
    needs: preview
    name: End to End Test Preview
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Install dependencies
        run: |
          pnpm install
          npm i -g bun

      - name: Test
        run: bun test src/integration --timeout 10000
        working-directory: apps/api
        env:
          UNKEY_BASE_URL: https://preview.api.unkey.app
          UNKEY_ROOT_KEY: ${{ secrets.PREVIEW_ROOT_KEY }}

  canary:
      needs:
        - preview
      environment: Canary
      runs-on: ubuntu-latest
      name: Deploy Canary
      steps:
        - uses: actions/checkout@v3
        - uses: pnpm/action-setup@v2.2.4
          with:
              version: latest

        - name: Use Node.js 20
          uses: actions/setup-node@v3
          with:
            node-version: 20
            cache: "pnpm"

        - name: Install
          run: |
            pnpm install
            pnpm install -g wrangler@latest

        - name: Build
          run: pnpm turbo run build --filter='./apps/api'

        - name: Deploy
          run: wrangler deploy --env=canary
          working-directory: apps/api
          env:
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  canary-tests:
    environment: Canary
    needs: canary
    name: End to End Test Canary
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Install dependencies
        run: |
          pnpm install
          npm i -g bun

      - name: Test
        run: bun test src/integration --timeout 10000
        working-directory: apps/api
        env:
          UNKEY_BASE_URL: https://canary.unkey.app
          UNKEY_ROOT_KEY: ${{ secrets.CANARY_ROOT_KEY }}

  production:
    needs:
      - canary
      - canary-tests
    environment: Production
    runs-on: ubuntu-latest
    name: Deploy Production
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
            version: latest

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install
        run: |
          pnpm install
          pnpm install -g wrangler@latest

      - name: Build
        run: pnpm turbo run build --filter='./apps/api'

      - name: Deploy
        run: wrangler deploy --env=production
        working-directory: apps/api
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
