name: Deploy Trigger
on:
  workflow_call:

jobs:
  deploy_trigger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
      - name: Install
        uses: ./.github/actions/install

      - name: Deploy Trigger.dev
        env:
          TRIGGER_ACCESS_TOKEN: ${{ secrets.TRIGGER_ACCESS_TOKEN }}
        run: pnpx trigger.dev@3.0.0-beta.23 deploy
        working-directory: apps/billing