permissions:
  contents: read
  deployments: write
name: Deploy
on:
  push:
    branches: [main]
concurrency:
  group: deploy
  cancel-in-progress: false
jobs:
  detect_changes:
    uses: ./.github/workflows/job_detect_changes.yaml
  mintlify_deployment:
    runs-on: depot-ubuntu-24.04-4
    needs:
      - detect_changes
    if: needs.detect_changes.outputs.docs == 'true'
    name: Deploy docs
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Redeploy
        run: |
          curl --request POST \
          --url https://api.mintlify.com/v1/project/update/648b83e0e20b94f5a3e41a70 \
          --header 'Authorization: Bearer ${{secrets.MINTLIFY_API_KEY}}'
  deploy-enterprise-worker:
    needs: api_production_deployment
    uses: ./.github/workflows/job_deploy_api_enterprise.yaml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
