name: Deploy API
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy API
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3


      - name: Install flyctl
        run: curl -L https://fly.io/install.sh | sh

      - run: flyctl --config=./apps/api/fly.toml deploy 
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
