name: Test API Local
on:
  workflow_call:

jobs:
  test:
    name: API Test Local
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache


      - name: Run containers
        run: docker compose -f ./deployment/docker-compose.yaml up -d



      - name: Install
        uses: ./.github/actions/install
        with:
          ts: true
          go: true

      - name: Build
        run: pnpm turbo run build --filter=./apps/api...


      - name: Load Schema into MySQL
        run: pnpm drizzle-kit push
        working-directory: internal/db
        env:
          DRIZZLE_DATABASE_URL: "mysql://unkey:password@localhost:3306/unkey"

      - name: Migrate ClickHouse
        run: goose up
        env:
          GOOSE_DRIVER: clickhouse
          GOOSE_DBSTRING: "tcp://default:password@127.0.0.1:9000"
          GOOSE_MIGRATION_DIR: ./internal/clickhouse/schema

      - name: Test
        run: pnpm vitest run -c vitest.integration.ts
        working-directory: apps/api
        env:
          UNKEY_BASE_URL: http://localhost:8787
          DATABASE_HOST: localhost:3900
          DATABASE_USERNAME: unkey
          DATABASE_PASSWORD: password
          CLICKHOUSE_URL:  http://default:password@localhost:8123
          TEST_LOCAL: true

      - name: Dump logs
        if: always()
        run: docker compose -f ./deployment/docker-compose.yaml logs --no-color > ./docker.logs

      - name: Upload logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{github.run_id}}-${{github.run_number}}-api.logs
          path: docker.logs
          retention-days: 7
