permissions:
  contents: read
name: Deploy API Staging
on:
  workflow_call:
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
jobs:
  deploy:
    environment: Preview
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Wrangler
        uses: ./.github/actions/setup-wrangler
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: pnpm turbo run build --filter='./apps/api'
        env:
          CI: 1
      - name: Deploy
        run: wrangler deploy --env=preview --var VERSION:$(git rev-parse --short HEAD)
        working-directory: apps/api
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
