name: Unit Tests
on:
  workflow_call:
permissions:
  contents: read
jobs:
  test:
    name: Test
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: pnpm turbo run build --filter='./packages/*' --filter='./internal/*'
        env:
          CI: 1
      - name: Test
        run: pnpm turbo run test --filter '!api'
        env:
          CI: 1
