name: ClickHouse Migration
on:
  workflow_call:
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
jobs:
  deploy:
    permissions:
      contents: read
      deployments: write
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Wrangler
        uses: ./.github/actions/setup-wrangler
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: pnpm turbo run build --filter='./apps/api'
        env:
          CI: 1
      - name: Deploy
        run: wrangler deploy --env=production --var VERSION:$(git rev-parse --short HEAD)
        working-directory: apps/api
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
