permissions:
  contents: read
name: Test Agent Local
on:
  workflow_call:
jobs:
  test_agent_local:
    runs-on: self-hosted
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Install
        uses: ./.github/actions/install
        with:
          go: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: make build
        working-directory: apps/agent

      - name: Test
        run: go test -json -timeout=60m -failfast ./pkg/... ./services/... | tparse -all -progress -smallscreen
        working-directory: apps/agent
