name: Test Go API Local
on:
  workflow_call:
permissions:
  contents: read
jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest
    # runs-on: blacksmith-16vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Create dashboard env file for Docker Compose
        run: |
          mkdir -p ./apps/dashboard
          touch ./apps/dashboard/.env
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        # uses: useblacksmith/setup-docker-builder@1796035cb0632d35796ffec6b4b3bddafbc85c6e # v1
      - name: Setup Go
        uses: ./.github/actions/setup-go
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run unit and light integration tests
        run: make test-integration
        working-directory: go
        env:
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1
      - name: Run stress tests
        # Run only if we're being merged (to main) or we're a new tag
        if: github.event_name == 'merge_group' || startsWith(github.ref, 'refs/tags/')
        run: make test-stress
        working-directory: go
        env:
          INTEGRATION_TEST: true
          SIMULATION_TEST: false
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1
