name: Test API Canary
on:
  workflow_call:
    inputs:
      UNKEY_BASE_URL:
        type: string
        required: true
    secrets:
      DATABASE_HOST:
        required: true
      DATABASE_USERNAME:
        required: true
      DATABASE_PASSWORD:
        required: true
      CLICKHOUSE_URL:
        required: true

jobs:
  test:
    environment: Canary
    name: API Test Canary
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: ["1/9", "2/9", "3/9", "4/9", "5/9", "6/9","7/9", "8/9","9/9"]

    steps:
      - uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install
        with:
          ts: true
      - name: Build
        run: pnpm turbo run build --filter=./apps/api

      - name: Test
        run: pnpm vitest run -c vitest.integration.ts --bail=1 --shard=${{ matrix.shard }}
        working-directory: apps/api
        env:
          UNKEY_BASE_URL: ${{ inputs.UNKEY_BASE_URL }}
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          CLICKHOUSE_URL: ${{ secrets.CLICKHOUSE_URL }}
