name: Test Go API Local
on:
  workflow_call:
permissions:
  contents: read
jobs:
  tests:
    name: Test
    runs-on: blacksmith-8vcpu-ubuntu-2404
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: ./.github/actions/setup-go
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Go test tools
        run: |
          go install github.com/mfridman/tparse@v0.14.0
        working-directory: go
      - name: Test
        run: make test-full
        working-directory: go
        env:
          INTEGRATION_TEST: true
          SIMULATION_TEST: false
