name: Bazel
on:
  workflow_call:
permissions:
  contents: read
jobs:
  tests:
    name: Test
    runs-on: depot-ubuntu-24.04-8
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: bazel-contrib/setup-bazel@083175551ceeceebc757ebee2127fde78840ca77 # 0.18.0
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per workflow.
          disk-cache: ${{ github.workflow }}
          # Share repository cache between workflows.
          repository-cache: true
          bazelrc: |
            build --bes_results_url=https://app.buildbuddy.io/invocation/
            build --bes_backend=grpcs://remote.buildbuddy.io
            build --remote_cache=grpcs://remote.buildbuddy.io
            build --remote_timeout=10m
            build --workspace_status_command=$(pwd)/dev/workspace_status.sh
            build --remote_header=${{ secrets.BUILDBUDDY_API_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.29.1
          install: true
      - name: Build
        run: bazel build //...
      - name: Run containers
        run: docker compose -f ./dev/docker-compose.yaml up -d s3 clickhouse kafka mysql --wait
        env:
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1

      - name: Run tests
        run: bazel test //...
