name: PR
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [main]
  merge_group:
    branches: [main]
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  detect_changes:
    if: (github.event_name == 'pull_request' && github.event.pull_request.draft == false) || github.event_name != 'pull_request'
    uses: ./.github/workflows/job_detect_changes.yaml
  test_packages:
    name: Test Packages
    if: ((github.event_name == 'pull_request' && github.event.pull_request.draft == false) || github.event_name != 'pull_request') && needs.detect_changes.result == 'success' && (needs.detect_changes.outputs.packages == 'true' || needs.detect_changes.outputs.dependencies == 'true')
    needs: [detect_changes]
    uses: ./.github/workflows/job_test_unit.yaml
  build:
    name: Build
    if: ((github.event_name == 'pull_request' && github.event.pull_request.draft == false) || github.event_name != 'pull_request') && needs.detect_changes.result == 'success' && (needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true')
    needs: [detect_changes]
    uses: ./.github/workflows/build.yaml
  test_api:
    name: Test API
    if: ((github.event_name == 'pull_request' && github.event.pull_request.draft == false) || github.event_name != 'pull_request') && needs.detect_changes.result == 'success' && (needs.detect_changes.outputs.api == 'true' || needs.detect_changes.outputs.packages == 'true')
    needs: [detect_changes]
    uses: ./.github/workflows/job_test_api_local.yaml
  test_go_api_local:
    name: Test Go API Local
    if: ((github.event_name == 'pull_request' && github.event.pull_request.draft == false) || github.event_name != 'pull_request') && needs.detect_changes.result == 'success' && needs.detect_changes.outputs.go == 'true'
    needs: [detect_changes]
    uses: ./.github/workflows/job_test_go_api_local.yaml
  dashboard_checks:
    name: Dashboard Checks
    if: ((github.event_name == 'pull_request' && github.event.pull_request.draft == false) || github.event_name != 'pull_request') && needs.detect_changes.result == 'success' && needs.detect_changes.outputs.dashboard == 'true'
    needs: [detect_changes]
    uses: ./.github/workflows/job_dashboard_checks.yaml
