name: Unit Tests
on:
  workflow_call:

jobs:
  test:
    strategy:
     fail-fast: false
     matrix:
        path:
          - "./internal/billing"
          - "./internal/hash"
          - "./internal/hash"
          - "./internal/keys"
          - "./internal/rbac"
          - "./pacakges/nextjs"
          - "./packages/api"
          - "./packages/hono"
          - "./packages/nuxt"

    name: Test ${{matrix.path}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3


      - name: Install
        uses: ./.github/actions/install

      - name: Build
        run: pnpm turbo run build --filter=${{matrix.path}}

      - name: Test
        run: pnpm turbo run test --filter=${{matrix.path}}
